{% extends "bases/anon_base.html" %}
{% load staticfiles %}
{% block title %}Вход{% endblock %}
{% block content %}

<section class="content">
    <section class="block">
        <div class="container">
            <div class="row justify-content-center">
              <br><br><br>
                <div class="col-md-4">
                  <form class="form clearfix" name="login_post" id="login">
                      <div class="form-group">
                          <label class="col-form-label required">Телефон</label>
                          <input type="text" name="username" class="form-control" placeholder="79041234567">
                      </div>
                      <div class="form-group">
                          <label class="col-form-label required">Пароль</label>
                          <input name="password" type="password" class="form-control" placeholder="Пароль">
                      </div>
                      <div class="d-flex justify-content-between align-items-baseline">
                          <label class="">
                            <div class="icheckbox">
                              <input type="checkbox" name="remember" value="1" style="position: absolute; opacity: 0;">
                              <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                            </div>
                            Галочка
                          </label>
                          <button type="submit" onclick="userLogin()" class="btn btn-primary">Войти</button>
                      </div>
                  </form>
                  <small class="login-response"></small>
                  <hr>
                  <p>
                      Не можете войти? <a href="#" class="link">Нажмите сюда.</a>
                  </p>
                </div>
            </div>
        </div>
    </section>
</section>

<script>
  function userLogin() {
    form_data = new FormData(document.forms.login_post);
    link = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
    link.open( 'POST', "{% url 'rest_login' %}", true );
    link.onreadystatechange = function () {
    if ( link.readyState == 4 && link.status == 200 ) {
      window.location.href = "{% url 'main' %}";
      }};
    link.send(form_data);
  };
</script>
{% endblock %}
