
<section class="block">
        <div class="container">
            <div class="section-title clearfix">
                <div class="float-xl-left float-md-left float-sm-none">
                    <h2>Россия :: Последние курсы</h2>
                </div>
            </div>
            <div class="items masonry grid-xl-4-items grid-lg-3-items grid-md-2-items">
              {% for object in last_courses %}
                  {% include 'generic/anon_skill.html' %}
              {% endfor %}
            </div>
        </div>
    </section>
