{% include 'form_top.html' %}

<section>
  <div class="form-group">
    <label for="" class="col-form-label">Тип посудомоечной машины</label>
    {{ form.type_wosh.errors }}
    {{ form.type_wosh }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Тип установки</label>
    {{ form.type_install.errors }}
    {{ form.type_install }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Марка посудомоечной машины</label>
    {{ form.brand_wosh.errors }}
    {{ form.brand_wosh }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Вместимость посудомоечной машины</label>
    {{ form.cap_wosh.errors }}
    {{ form.cap_wosh }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Срок использования</label>
    {{ form.use.errors }}
    {{ form.use }}
  </div>

  <br>
  <ul>
  <li>
    <label class="" style="font-size:15px">
      {{ form.protect }}
      {{ form.protect.label }}
    </label>
  </li>
  <li>
    <label class="" style="font-size:15px">
      {{ form.do_start }}
      {{ form.do_start.label }}
    </label>
  </li>
  </ul>
</section>

{% include 'form_bottom.html' %}
