
<section>
    <h2>Основная информация</h2>

    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                {{ form.title.errors }}
              <label for="type" class="required">Название товара</label>
                {{ form.title }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                {{ form.price.errors }}
              <label for="type" class="required">Цена товара</label>
                {{ form.price }}
                <span class="input-group-addon">₽</span>
            </div>
        </div>
    </div>
</section>

<section>

  <div class="form-group">
    <label for="" class="col-form-label">Тип устройства</label>
    {{ form.type_cleaners.errors }}
    {{ form.type_cleaners }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Тип уборки</label>
    {{ form.type_install.errors }}
    {{ form.type_install }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Марка</label>
    {{ form.brand_clean.errors }}
    {{ form.brand_clean }}
  </div>

    <div class="form-group">
    <label>Описание товара</label>
      {{ form.description|safe }}
    </div>

</section>
<div class="location_block">{% include 'location_select.html' %}</div>

{% include 'form_bottom.html' %}
