<section>
  <div class="form-group">
    <label for="" class="col-form-label">Тип</label>
    {{ form.type_stoves.errors }}
    {{ form.type_stoves }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Тип конфорок</label>
    {{ form.type_burners.errors }}
    {{ form.type_burners }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Тип</label>
    {{ form.security.errors }}
    {{ form.security }}
  </div>

  <br>
  <ul>
  <li>
    <label class="" style="font-size:15px">
      {{ form.timer }}
      {{ form.timer.label }}
    </label>
  </li>
  </ul>
</section>
