
<section>
  <div class="form-group">
    <label for="" class="col-form-label">Тип</label>
    {{ form.type_refr.errors }}
    {{ form.type_refr }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Марка холодильника</label>
    {{ form.brand_refr.errors }}
    {{ form.brand_refr }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Высота</label>
    {{ form.height_refr.errors }}
    {{ form.height_refr }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Срок использования</label>
    {{ form.use.errors }}
    {{ form.use }}
  </div>
</section>
