{% include 'form_top.html' %}

 <section>
   <div class="form-group">
     <label for="" class="col-form-label">Марка</label>
     {{ form.brand_pram.errors }}
     {{ form.brand_pram }}
   </div>
   <div class="form-group">
     <label for="" class="col-form-label">Тип</label>
     {{ form.type_pram.errors }}
     {{ form.type_pram }}
   </div>
   <div class="form-group">
     <label for="" class="col-form-label">Возраст</label>
     {{ form.age_pram.errors }}
     {{ form.age_pram }}
   </div>
   <div class="form-group">
     <label for="" class="col-form-label">Количество блоков</label>
     {{ form.number_blocks.errors }}
     {{ form.number_blocks }}
   </div>
   <div class="form-group">
     <label for="" class="col-form-label">Тип колес</label>
     {{ form.type_wheel.errors }}
     {{ form.type_wheel }}
   </div>

   <div class="form-group">
     <label for="" class="col-form-label">Особенности</label>
     {{ form.properties.errors }}
     {{ form.properties }}
   </div>
   <div class="form-group">
     <label for="" class="col-form-label">Количество блоков</label>
     {{ form.number_blocks.errors }}
     {{ form.number_blocks }}
   </div>
   <div class="form-group">
     <label for="" class="col-form-label">Тип колес</label>
     {{ form.type_wheel.errors }}
     {{ form.type_wheel }}
   </div>
 </section>

{% include 'form_bottom.html' %}
