{% include 'form_top.html' %}

<section>
  <div class="form-group">
    <label for="" class="col-form-label">Марка автокресла</label>
    {{ form.brand_car_seat.errors }}
    {{ form.brand_car_seat }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Группа</label>
    {{ form.group.errors }}
    {{ form.group }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Крепление</label>
    {{ form.binding.errors }}
    {{ form.binding }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Особенности</label>
    {{ form.feature.errors }}
    {{ form.feature }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Регулировки</label>
    {{ form.regulation.errors }}
    {{ form.regulation }}
  </div>
</section>

{% include 'form_bottom.html' %}
