
<section>
  <div class="form-group">
    <label for="" class="col-form-label">Тип спортивная одежды</label>
    {{ form.sportwear.errors }}
    {{ form.sportwear }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Размер</label>
    {{ form.size.errors }}
    {{ form.size }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Состояние</label>
    {{ form.condition.errors }}
    {{ form.condition }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Бренд</label>
    {{ form.brand.errors }}
    {{ form.brand }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Цвет</label>
    {{ form.color.errors }}
    {{ form.color }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Сезон</label>
    {{ form.season.errors }}
    {{ form.season }}
  </div>
</section>
