{% load staticfiles %}

<header class="hero">
    <div class="hero-wrapper">
        <div class="secondary-navigation">
          <div class="container">
            <div class="left">
              <a style="font-size:20px;padding-top:5px;padding-right:10px;color:white" href="{% url 'main' %}">
                Название
              </a>
            </div>
            <div class="right dropdown">
              <span>Привет, гость!</span>
              <img src="{% static 'images/anonim.jpg' %}" style="border-radius: 50%;width:30px;height:30px">
              <div class="dropdown-menu">
                  <a href="{% url 'login' %}" class="dropdown-item">Вход</a>
                  <a href="{% url 'signup' %}" class="dropdown-item">Регистрация</a>
                  <a href="" class="dropdown-item">Обратная связь</a>
              </div>
            </div>
          </div>
        </div>
