{% load staticfiles %}

<header class="hero">
        <div class="secondary-navigation">
          <div class="container">
            <div class="left">
              <a style="font-size:20px;color:white" href="{% url 'main' %}">
                Название
              </a>
            </div>
            <div class="right dropdown" style="padding-right:10px;font-size:20px;">
              <span>Привет, гость!</span>
              <img src="{% static 'images/anonim.jpg' %}" style="border-radius:50%;width:30px;height:30px;margin-bottom:3px;">
              <div class="dropdown-menu">
                  <a href="{% url 'login' %}" class="dropdown-item">Вход</a>
                  <a href="{% url 'signup' %}" class="dropdown-item">Регистрация</a>
                  <a href="" class="dropdown-item">Обратная связь</a>
              </div>
            </div>
        </div>
