<header class="header js-header">
    <nav class="main-nav">
        <div class="main-nav__item">
            <span class="main-nav__link" data-target="visit" data-index="1">
                <span class="main-nav__link-label">МЕНЮ 1</span>
                <svg viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve" class="" preserveAspectRatio="none">
                    <use x="0" y="0" href="#arrow" xlink:href="#arrow"></use>
                </svg>
            </span>

            <div class="nav-dropdown nav-dropdown--visit" data-dropdown="visit" data-length="6">
                <div class="nav-dropdown__header">
                    <span class="nav-dropdown__back">
                      <svg viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve" class="" preserveAspectRatio="none">
                        <use x="0" y="0" href="#arrow" xlink:href="#arrow"></use>
                      </svg>
                    </span>
                    <h2 class="nav-dropdown__header-title">МЕНЮ 1</h2>
                </div>

                <div class="nav-dropdown__content allow-touch-scroll">
                    <div class="nav-dropdown__inner">
                        <div class="nav-dropdown__children ">
                            <a class="nav-dropdown__link" href="{% url 'test' %}" data-page-colorset='{"primary":"rgb(248,181,184)","secondary":"rgb(111,171,158)","tertiary":"rgb(252,227,115)"}'>
                                <span class="animation-icon">
                                  <span class="static-svg">
                                    <svg x="0px" y="0px" viewBox="0 0 43.5 43.5" xml:space="preserve">
                                        <path d="M41.8,21.8c0,11-9,20-20,20s-20-9-20-20s9-20,20-20S41.8,10.8,41.8,21.8z" />
                                        <path d="M21.8,17.5v13.9" />
                                        <path style="stroke-width:2" d="M22.8,11.4c0,0.6-0.4,1-1,1s-1-0.4-1-1s0.4-1,1-1S22.8,10.8,22.8,11.4z" />
                                    </svg>
                                  </span>
                                  <span class="animation-svg" data-component="animation-icon">
                                    <svg x="0px" y="0px" viewBox="0 0 43.5 43.5" xml:space="preserve">
                                        <path d="M41.8,21.8c0,11-9,20-20,20s-20-9-20-20s9-20,20-20S41.8,10.8,41.8,21.8z" />
                                        <path d="M21.8,17.5v13.9" />
                                        <path style="stroke-width:2" d="M22.8,11.4c0,0.6-0.4,1-1,1s-1-0.4-1-1s0.4-1,1-1S22.8,10.8,22.8,11.4z" />
                                    </svg>
                                  </span>
                                </span>
                                <span class="nav-dropdown__title">
                                    <h3>Подменю 1</h3>
                                </span>
                                <span class="nav-dropdown__subtitle">
                                    <h4>Лабел 1</h4>
                                </span>
                            </a>

                            <a class="nav-dropdown__link" href="" data-page-colorset='{"primary":"rgb(163,133,189)","secondary":"rgb(248,159,77)","tertiary":"rgb(202,164,152)"}'>
                                <span class="animation-icon"><span class="static-svg">
                                  <svg x="0px" y="0px" viewBox="0 0 39.2 41.8" xml:space="preserve">
                                    <path d="M33.5,40H5.8c-2.2,0-4-1.8-4-4V7.5c0-2.2,1.8-4,4-4h27.7c2.2,0,4,1.8,4,4V36C37.5,38.2,35.8,40,33.5,40z" />
                                    <path d="M2.1,16.5h35" />
                                    <path d="M10.6,0v7" />
                                    <path d="M28,0v7" />
                                  </svg>
                                </span>
                                <span class="animation-svg" data-component="animation-icon">
                                  <svg x="0px" y="0px" viewBox="0 0 39.2 41.8" xml:space="preserve">
                                    <path d="M33.5,40H5.8c-2.2,0-4-1.8-4-4V7.5c0-2.2,1.8-4,4-4h27.7c2.2,0,4,1.8,4,4V36C37.5,38.2,35.8,40,33.5,40z" />
                                    <path d="M2.1,16.5h35" />
                                    <path d="M10.6,0v7" />
                                    <path d="M28,0v7" />
                                  </svg>
                                </span>
                              </span>
                              <span class="nav-dropdown__title">
                                    <h3>Подменю 2</h3>
                                </span>
                                <span class="nav-dropdown__subtitle">
                                    <h4>Лабел 1</h4>
                                </span>
                            </a>

                            <a class="nav-dropdown__link" href="" data-page-colorset='{"primary":"rgb(111,171,158)","secondary":"rgb(248,181,184)","tertiary":"rgb(252,227,115)"}'>
                                <span class="animation-icon">
                                  <span class="static-svg">
                                    <svg x="0px" y="0px" viewBox="0 0 44.9 44.9" xml:space="preserve">
                                      <path d="M7.4,31.7c1.6-1.6,4.2-1.6,5.9,0c1.6,1.6,1.6,4.2,0,5.9l0,0l4.9,4.9l24.4-24.4l-4.9-4.9l0,0 c-1.6,1.6-4.2,1.6-5.9,0c-1.6-1.6-1.6-4.2,0-5.9l-4.9-4.9L2.5,26.9L7.4,31.7L7.4,31.7z" />
                                      <path d="M19,11.3l14.1,14.1" />
                                    </svg>
                                  </span>
                                  <span class="animation-svg" data-component="animation-icon">
                                    <svg x="0px" y="0px" viewBox="0 0 44.9 44.9" xml:space="preserve">
                                      <path d="M7.4,31.7c1.6-1.6,4.2-1.6,5.9,0c1.6,1.6,1.6,4.2,0,5.9l0,0l4.9,4.9l24.4-24.4l-4.9-4.9l0,0 c-1.6,1.6-4.2,1.6-5.9,0c-1.6-1.6-1.6-4.2,0-5.9l-4.9-4.9L2.5,26.9L7.4,31.7L7.4,31.7z" />
                                      <path d="M19,11.3l14.1,14.1" />
                                    </svg>
                                  </span>
                                </span>
                                <span class="nav-dropdown__title">
                                    <h3>Подменю 3</h3>
                                </span>
                                <span class="nav-dropdown__subtitle">
                                    <h4>Лабел 3</h4>
                                </span>
                            </a>

                            <a class="nav-dropdown__link" href="" data-page-colorset='{"primary":"rgb(111,171,158)","secondary":"rgb(248,181,184)","tertiary":"rgb(252,227,115)"}'>
                                <span class="animation-icon">
                                  <span class="static-svg">
                                    <svg x="0px" y="0px" viewBox="0 0 43.5 43.5" xml:space="preserve">
                                        <path d="M41.8,21.8c0,11-9,20-20,20s-20-9-20-20s9-20,20-20S41.8,10.8,41.8,21.8z" />
                                        <path d="M17.1,16.8c0-2.8,2.6-5.1,5.5-4.5c1.8,0.3,3.2,1.8,3.6,3.6c0.5,2.6-1.2,5-3.6,5.5c-0.5,0.1-0.9,0.6-0.9,1.1v3.6" />
                                        <path style="stroke-width:2" d="M22.8,30.4c0,0.6-0.4,1-1,1s-1-0.4-1-1s0.4-1,1-1S22.8,29.9,22.8,30.4z" />
                                    </svg>
                                  </span>
                                  <span class="animation-svg" data-component="animation-icon">
                                    <svg x="0px" y="0px" viewBox="0 0 43.5 43.5" xml:space="preserve">
                                        <path d="M41.8,21.8c0,11-9,20-20,20s-20-9-20-20s9-20,20-20S41.8,10.8,41.8,21.8z" />
                                        <path d="M17.1,16.8c0-2.8,2.6-5.1,5.5-4.5c1.8,0.3,3.2,1.8,3.6,3.6c0.5,2.6-1.2,5-3.6,5.5c-0.5,0.1-0.9,0.6-0.9,1.1v3.6" />
                                        <path style="stroke-width:2" d="M22.8,30.4c0,0.6-0.4,1-1,1s-1-0.4-1-1s0.4-1,1-1S22.8,29.9,22.8,30.4z" />
                                    </svg>
                                  </span>
                                </span>
                                <span class="nav-dropdown__title">
                                    <h3>Подменю 4</h3>
                                </span>
                                <span class="nav-dropdown__subtitle">
                                    <h4>Лабел 4</h4>
                                </span>
                            </a>

                            <a class="nav-dropdown__link" href="" data-page-colorset='{"primary":"rgb(111,171,158)","secondary":"rgb(248,181,184)","tertiary":"rgb(252,227,115)"}'>
                                <span class="animation-icon">
                                  <span class="static-svg">
                                    <svg x="0px" y="0px" viewBox="0 0 43.5 43.5" xml:space="preserve">
                                      <path d="M41.8,21.8c0,11-9,20-20,20s-20-9-20-20s9-20,20-20S41.8,10.8,41.8,21.8z" />
                                      <path d="M17.1,16.8c0-2.8,2.6-5.1,5.5-4.5c1.8,0.3,3.2,1.8,3.6,3.6c0.5,2.6-1.2,5-3.6,5.5c-0.5,0.1-0.9,0.6-0.9,1.1v3.6" />
                                      <path style="stroke-width:2" d="M22.8,30.4c0,0.6-0.4,1-1,1s-1-0.4-1-1s0.4-1,1-1S22.8,29.9,22.8,30.4z" />
                                    </svg>
                                  </span>
                                  <span class="animation-svg" data-component="animation-icon">
                                    <svg x="0px" y="0px" viewBox="0 0 43.5 43.5" xml:space="preserve">
                                        <path d="M41.8,21.8c0,11-9,20-20,20s-20-9-20-20s9-20,20-20S41.8,10.8,41.8,21.8z" />
                                        <path d="M17.1,16.8c0-2.8,2.6-5.1,5.5-4.5c1.8,0.3,3.2,1.8,3.6,3.6c0.5,2.6-1.2,5-3.6,5.5c-0.5,0.1-0.9,0.6-0.9,1.1v3.6" />
                                        <path style="stroke-width:2" d="M22.8,30.4c0,0.6-0.4,1-1,1s-1-0.4-1-1s0.4-1,1-1S22.8,29.9,22.8,30.4z" />
                                    </svg>
                                  </span>
                                </span>
                                <span class="nav-dropdown__title">
                                    <h3>Подменю 5</h3>
                                </span>
                                <span class="nav-dropdown__subtitle">
                                    <h4>Лабел 5</h4>
                                </span>
                            </a>

                            <a class="nav-dropdown__link" href="" data-page-colorset='{"primary":"rgb(154,209,139)","secondary":"rgb(243,116,74)","tertiary":"rgb(252,227,115)"}'>
                                <span class="animation-icon">
                                  <span class="static-svg">
                                    <svg x="0px" y="0px" viewBox="0 0 41.6 33.8" xml:space="preserve">
                                        <path d="M0.8,9.6l20-7.7l20,7.7" />
                                        <path d="M40.8,9.6l-20,9.9l-20-9.9" />
                                        <path d="M6.5,12.8V27c0,0,3,5,14.2,5s15.1-5,15.1-5V12.8" />
                                    </svg>
                                  </span>
                                  <span class="animation-svg" data-component="animation-icon">
                                    <svg x="0px" y="0px" viewBox="0 0 41.6 33.8" xml:space="preserve">
                                        <path d="M0.8,9.6l20-7.7l20,7.7" />
                                        <path d="M40.8,9.6l-20,9.9l-20-9.9" />
                                        <path d="M6.5,12.8V27c0,0,3,5,14.2,5s15.1-5,15.1-5V12.8" />
                                    </svg>
                                  </span>
                                </span>
                                <span class="nav-dropdown__title">
                                    <h3>Подменю 6</h3>
                                </span>
                                <span class="nav-dropdown__subtitle">
                                    <h4>Лабел 6</h4>
                                </span>
                            </a>
                        </div>
                    </div>

                    <div class="nav-dropdown__visit">
                        <div class="nav-dropdown__visit__inner">
                            <div class="location">
                                <svg viewBox="0 0 221.8 113.7" enable-background="new 0 0 221.8 113.7" xml:space="preserve" class="" preserveAspectRatio="none">
                                    <use x="0" y="0" href="#hof-outline" xlink:href="#hof-outline"></use>
                                </svg>
                                <strong class="location__name"><span>ПУНКТ</span></strong>
                                <p class="location__address"><span>Описание<br />
                                        Еще описание</span></p>
                                <p class="location__opening-hours"><a href="" class="active-line">Opening hours<span></span></a></p>
                            </div>
                            <div class="location">
                                <svg viewBox="0 0 80.6 120.5" enable-background="new 0 0 80.6 120.5" xml:space="preserve" class="" preserveAspectRatio="none">
                                    <use x="0" y="0" href="#hal-outline" xlink:href="#hal-outline"></use>
                                </svg>
                                <strong class="location__name"><span>HAL</span></strong>
                                <p class="location__address"><span>Grote Markt 16<br />
                                        2011 RD Haarlem</span></p>
                                <p class="location__opening-hours"><a href="" class="active-line">Opening hours<span></span></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-nav__item">
            <span class="main-nav__link" data-target="learn" data-index="2">
                <span class="main-nav__link-label">МЕНЮ 2</span>
                <svg viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve" class="" preserveAspectRatio="none">
                    <use x="0" y="0" href="#arrow" xlink:href="#arrow"></use>
                </svg>
            </span>

            <div class="nav-dropdown" data-dropdown="learn" data-length="7">
                <div class="nav-dropdown__header">
                    <span class="nav-dropdown__back">
                      <svg viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve" class="" preserveAspectRatio="none">
                          <use x="0" y="0" href="#arrow" xlink:href="#arrow"></use>
                      </svg>
                    </span>
                    <h2 class="nav-dropdown__header-title">МЕНЮ 2</h2>
                </div>

                <div class="nav-dropdown__content allow-touch-scroll">
                    <div class="nav-dropdown__inner">
                        <div class="nav-dropdown__children ">
                            <a class="nav-dropdown__link" href="" data-page-colorset='{"primary":"rgb(243,116,74)","secondary":"rgb(154,209,139)","tertiary":"rgb(252,227,115)"}'>
                                <span class="animation-icon">
                                  <span class="static-svg">
                                    <svg x="0px" y="0px" viewBox="0 0 45.3 43.5" xml:space="preserve">
                                        <path d="M18.5,23.8H1.8v-22h16.8V23.8z" />
                                        <path d="M43.6,14.8H26.8v-13h16.8V14.8z" />
                                        <path d="M43.6,41.8H26.8v-20h16.8V41.8z" />
                                        <path d="M18.5,41.8H1.8v-10h16.8V41.8z" />
                                    </svg>
                                  </span>
                                  <span class="animation-svg" data-component="animation-icon">
                                    <svg x="0px" y="0px" viewBox="0 0 45.3 43.5" xml:space="preserve">
                                        <path d="M18.5,23.8H1.8v-22h16.8V23.8z" />
                                        <path d="M43.6,14.8H26.8v-13h16.8V14.8z" />
                                        <path d="M43.6,41.8H26.8v-20h16.8V41.8z" />
                                        <path d="M18.5,41.8H1.8v-10h16.8V41.8z" />
                                    </svg>
                                  </span>
                                </span>
                                <span class="nav-dropdown__title">
                                  <h3>Подменю 1</h3>
                                </span>
                                <span class="nav-dropdown__subtitle">
                                  <h4>Описание</h4>
                                </span>
                            </a>

                            <a class="nav-dropdown__link" href="" data-page-colorset='{"primary":"rgb(111,171,158)","secondary":"rgb(248,181,184)","tertiary":"rgb(252,227,115)"}'>
                                <span class="animation-icon">
                                  <span class="static-svg">
                                    <svg x="0px" y="0px" viewBox="0 0 43.5 43.5" xml:space="preserve">
                                        <path d="M41.8,21.8c0,11-9,20-20,20s-20-9-20-20s9-20,20-20S41.8,10.8,41.8,21.8z" />
                                        <path d="M17.1,16.8c0-2.8,2.6-5.1,5.5-4.5c1.8,0.3,3.2,1.8,3.6,3.6c0.5,2.6-1.2,5-3.6,5.5c-0.5,0.1-0.9,0.6-0.9,1.1v3.6" />
                                        <path style="stroke-width:2" d="M22.8,30.4c0,0.6-0.4,1-1,1s-1-0.4-1-1s0.4-1,1-1S22.8,29.9,22.8,30.4z" />
                                    </svg>
                                  </span>
                                  <span class="animation-svg" data-component="animation-icon">
                                    <svg x="0px" y="0px" viewBox="0 0 43.5 43.5" xml:space="preserve">
                                        <path d="M41.8,21.8c0,11-9,20-20,20s-20-9-20-20s9-20,20-20S41.8,10.8,41.8,21.8z" />
                                        <path d="M17.1,16.8c0-2.8,2.6-5.1,5.5-4.5c1.8,0.3,3.2,1.8,3.6,3.6c0.5,2.6-1.2,5-3.6,5.5c-0.5,0.1-0.9,0.6-0.9,1.1v3.6" />
                                        <path style="stroke-width:2" d="M22.8,30.4c0,0.6-0.4,1-1,1s-1-0.4-1-1s0.4-1,1-1S22.8,29.9,22.8,30.4z" />
                                    </svg>
                                  </span>
                                </span>
                                <span class="nav-dropdown__title">
                                    <h3>Подменю 2</h3>
                                </span>
                                <span class="nav-dropdown__subtitle">
                                    <h4>Описание</h4>
                                </span>
                            </a>

                            <a class="nav-dropdown__link" href="" data-page-colorset='{"primary":"rgb(111,171,158)","secondary":"rgb(248,181,184)","tertiary":"rgb(252,227,115)"}'>
                                <span class="animation-icon">
                                  <span class="static-svg">
                                    <svg x="0px" y="0px" viewBox="0 0 35 43.5" xml:space="preserve">
                                        <path d="M25.7,4v13h4.7c1.6,0,2.9,1.3,2.9,2.9v12c0,5.4-4.4,9.8-9.8,9.8H12.4H0c6,0,10.5-4.7,10.5-10.7V19.8l0,0 c0-1.4,1.7-2.9,3.1-2.9h4.6V4c0-1.2,1-2.2,2.2-2.2h3.1C24.7,1.8,25.7,2.8,25.7,4z" />
                                            <path d="M15.2,41.7c6,0,10.5-4.7,10.5-10.7v-4.5" />
                                            <path d="M7.6,41.7c6,0,10.5-4.7,10.5-10.7v-4.5" />
                                            <path d="M33.5,26.5h-23" />
                                        </svg>
                                    </span>
                                    <span class="animation-svg" data-component="animation-icon">
                                      <svg x="0px" y="0px" viewBox="0 0 35 43.5" xml:space="preserve">
                                        <path d="M25.7,4v13h4.7c1.6,0,2.9,1.3,2.9,2.9v12c0,5.4-4.4,9.8-9.8,9.8H12.4H0c6,0,10.5-4.7,10.5-10.7V19.8l0,0 c0-1.4,1.7-2.9,3.1-2.9h4.6V4c0-1.2,1-2.2,2.2-2.2h3.1C24.7,1.8,25.7,2.8,25.7,4z" />
                                            <path d="M15.2,41.7c6,0,10.5-4.7,10.5-10.7v-4.5" />
                                            <path d="M7.6,41.7c6,0,10.5-4.7,10.5-10.7v-4.5" />
                                            <path d="M33.5,26.5h-23" />
                                        </svg>
                                    </span>
                                  </span>
                                  <span class="nav-dropdown__title">
                                    <h3>Подменю 3</h3>
                                </span>
                                <span class="nav-dropdown__subtitle">
                                    <h4>Описание</h4>
                                </span>
                            </a>

                            <a class="nav-dropdown__link" href="" data-page-colorset='{"primary":"rgb(163,133,189)","secondary":"rgb(248,159,77)","tertiary":"rgb(202,164,152)"}'>
                                <span class="animation-icon">
                                  <span class="static-svg">
                                    <svg x="0px" y="0px" viewBox="0 0 43.5 41" xml:space="preserve">
                                        <path d="M11.8,21.7V4.1c0-1.3,1.1-2.3,2.4-2.3h25.2c1.3,0,2.4,1,2.4,2.3V37c0,1.3-1.1,2.3-2.4,2.3H13.6H6.8 c-5,0-5-5-5-5V30V19.2h10v15c0,2.8-2.2,5-5,5" />
                                        <path d="M35,19.2H19.2V8.4H35V19.2z" />
                                        <path d="M35,25.9H18.5" />
                                    </svg>
                                  </span>
                                  <span class="animation-svg" data-component="animation-icon">
                                    <svg x="0px" y="0px" viewBox="0 0 43.5 41" xml:space="preserve">
                                        <path d="M11.8,21.7V4.1c0-1.3,1.1-2.3,2.4-2.3h25.2c1.3,0,2.4,1,2.4,2.3V37c0,1.3-1.1,2.3-2.4,2.3H13.6H6.8 c-5,0-5-5-5-5V30V19.2h10v15c0,2.8-2.2,5-5,5" />
                                        <path d="M35,19.2H19.2V8.4H35V19.2z" />
                                        <path d="M35,25.9H18.5" />
                                    </svg>
                                  </span>
                                </span>
                                <span class="nav-dropdown__title">
                                    <h3>Подменю 4</h3>
                                </span>
                                <span class="nav-dropdown__subtitle">
                                    <h4>Описание</h4>
                                </span>
                            </a>

                            <a class="nav-dropdown__link" href="" data-page-colorset='{"primary":"rgb(248,159,77)","secondary":"rgb(163,133,189)","tertiary":"rgb(202,164,152)"}'>
                                <span class="animation-icon">
                                  <span class="static-svg">
                                    <svg x="0px" y="0px" viewBox="0 0 43.5 42.4" xml:space="preserve">
                                        <path d="M1.8,2.4v31.5l20,6.2V8.5L1.8,2.4z" />
                                        <path d="M41.8,2.4v31.5l-20,6.2V8.5L41.8,2.4z" />
                                    </svg>
                                  </span>
                                  <span class="animation-svg" data-component="animation-icon">
                                    <svg x="0px" y="0px" viewBox="0 0 43.5 42.4" xml:space="preserve">
                                        <path d="M1.8,2.4v31.5l20,6.2V8.5L1.8,2.4z" />
                                        <path d="M41.8,2.4v31.5l-20,6.2V8.5L41.8,2.4z" />
                                    </svg>
                                  </span>
                                </span>
                                <span class="nav-dropdown__title">
                                    <h3>Подменю 5</h3>
                                </span>
                                <span class="nav-dropdown__subtitle">
                                    <h4>Описание</h4>
                                </span>
                            </a>

                            <a class="nav-dropdown__link" href="" data-page-colorset='{"primary":"rgb(111,171,158)","secondary":"rgb(248,181,184)","tertiary":"rgb(252,227,115)"}'>
                                <span class="animation-icon">
                                  <span class="static-svg">
                                    <svg x="0px" y="0px" viewBox="0 0 51 42.2" xml:space="preserve">
                                        <path d="M11.5,16.3v22.5" />
                                        <path d="M20.7,16.3v22.5" />
                                        <path d="M29.9,16.3v22.5" />
                                        <path d="M39,16.3v22.5" />
                                        <path d="M45.7,40.5h-40" />
                                        <path d="M26.5,2.1l19.2,14.2h-40L26.5,2.1z" />
                                    </svg>
                                  </span>
                                  <span class="animation-svg" data-component="animation-icon">
                                    <svg x="0px" y="0px" viewBox="0 0 51 42.2" xml:space="preserve">
                                        <path d="M11.5,16.3v22.5" />
                                        <path d="M20.7,16.3v22.5" />
                                        <path d="M29.9,16.3v22.5" />
                                        <path d="M39,16.3v22.5" />
                                        <path d="M45.7,40.5h-40" />
                                        <path d="M26.5,2.1l19.2,14.2h-40L26.5,2.1z" />
                                    </svg>
                                  </span>
                                </span>
                                <span class="nav-dropdown__title">
                                    <h3>Подменю 6</h3>
                                </span>
                                <span class="nav-dropdown__subtitle">
                                    <h4>Описание</h4>
                                </span>
                            </a>

                            <a class="nav-dropdown__link" href="" data-page-colorset='{"primary":"rgb(154,209,139)","secondary":"rgb(252,227,115)","tertiary":"rgb(204, 166, 154)"}'>
                                <span class="animation-icon">
                                  <span class="static-svg">
                                    <svg x="0px" y="0px" viewBox="0 0 39.9 43" xml:space="preserve">
                                        <path d="M31.1,16.4c0,8.1-6.6,14.7-14.7,14.7S1.8,24.5,1.8,16.4S8.3,1.8,16.4,1.8S31.1,8.3,31.1,16.4z" />
                                        <path d="M17.3,19.3h-6.7" />
                                        <path d="M22.3,13.5H10.6" />
                                        <path d="M25.5,28.6l13.1,13.1" />
                                    </svg>
                                  </span>
                                  <span class="animation-svg" data-component="animation-icon">
                                    <svg x="0px" y="0px" viewBox="0 0 39.9 43" xml:space="preserve">
                                        <path d="M31.1,16.4c0,8.1-6.6,14.7-14.7,14.7S1.8,24.5,1.8,16.4S8.3,1.8,16.4,1.8S31.1,8.3,31.1,16.4z" />
                                        <path d="M17.3,19.3h-6.7" />
                                        <path d="M22.3,13.5H10.6" />
                                        <path d="M25.5,28.6l13.1,13.1" />
                                    </svg>
                                  </span>
                                </span> <span class="nav-dropdown__title">
                                    <h3>Подменю 7</h3>
                                </span>
                                <span class="nav-dropdown__subtitle">
                                    <h4>Описание</h4>
                                </span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="main-nav__item">
            <span class="main-nav__link" data-target="support" data-index="3">
                <span class="main-nav__link-label">МЕНЮ 3</span>
                <svg viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve" class="" preserveAspectRatio="none">
                    <use x="0" y="0" href="#arrow" xlink:href="#arrow"></use>
                </svg>
            </span>

            <div class="nav-dropdown" data-dropdown="support" data-length="3">
                <div class="nav-dropdown__header">
                    <span class="nav-dropdown__back">
                      <svg viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve" class="" preserveAspectRatio="none">
                          <use x="0" y="0" href="#arrow" xlink:href="#arrow"></use>
                      </svg>
                    </span>
                    <h2 class="nav-dropdown__header-title">МЕНЮ 3</h2>
                </div>

                <div class="nav-dropdown__content allow-touch-scroll">
                    <div class="nav-dropdown__inner">
                        <div class="nav-dropdown__children space-around">
                            <a class="nav-dropdown__link" href="" data-page-colorset='{"primary":"rgb(252,227,115)","secondary":"rgb(202,164,152)","tertiary":"rgb(154,209,139)"}'>
                                <span class="animation-icon">
                                  <span class="static-svg">
                                    <svg x="0px" y="0px" viewBox="0 0 38.9 43.5" xml:space="preserve">
                                        <path d="M37.6,35.6c-3.6,3.8-8.7,6.1-14.4,6.1c-11,0-20-9-20-20s9-20,20-20c5.6,0,10.7,2.3,14.3,6" />
                                        <path d="M0,17.4h23.5" />
                                        <path d="M0,25.2h23.5" />
                                    </svg>
                                  </span>
                                  <span class="animation-svg" data-component="animation-icon">
                                    <svg x="0px" y="0px" viewBox="0 0 38.9 43.5" xml:space="preserve">
                                        <path d="M37.6,35.6c-3.6,3.8-8.7,6.1-14.4,6.1c-11,0-20-9-20-20s9-20,20-20c5.6,0,10.7,2.3,14.3,6" />
                                        <path d="M0,17.4h23.5" />
                                        <path d="M0,25.2h23.5" />
                                    </svg>
                                  </span>
                                </span> <span class="nav-dropdown__title">
                                    <h3>Подменю 1</h3>
                                </span>
                                <span class="nav-dropdown__subtitle">
                                    <h4>Описание</h4>
                                </span>
                            </a>
                            <a class="nav-dropdown__link" href="" data-page-colorset='{"primary":"rgb(243,116,74)","secondary":"rgb(154,209,139)","tertiary":"rgb(252,227,115)"}'>
                                <span class="animation-icon">
                                  <span class="static-svg">
                                    <svg x="0px" y="0px" viewBox="0 0 43.5 34.3" xml:space="preserve">
                                      <path d="M41.8,32.6h-40V1.8h40V32.6z" />
                                      <path d="M35.9,15.1h-7.5V7.6h7.5V15.1z" />
                                      <path d="M26.8,20.9H7.6" />
                                      <path d="M24.2,26.8H7.6" />
                                    </svg>
                                  </span>
                                  <span class="animation-svg" data-component="animation-icon">
                                    <svg x="0px" y="0px" viewBox="0 0 43.5 34.3" xml:space="preserve">
                                      <path d="M41.8,32.6h-40V1.8h40V32.6z" />
                                      <path d="M35.9,15.1h-7.5V7.6h7.5V15.1z" />
                                      <path d="M26.8,20.9H7.6" />
                                      <path d="M24.2,26.8H7.6" />
                                    </svg>
                                  </span>
                                </span> <span class="nav-dropdown__title">
                                    <h3>Подменю 2</h3>
                                </span>
                                <span class="nav-dropdown__subtitle">
                                    <h4>Описание</h4>
                                </span>
                            </a>

                            <a class="nav-dropdown__link" href="" data-page-colorset='{"primary":"rgb(154,209,139)","secondary":"rgb(252,227,115)","tertiary":"rgb(204, 166, 154)"}'>
                                <span class="animation-icon">
                                  <span class="static-svg">
                                    <svg x="0px" y="0px" viewBox="0 0 43.5 41.8" xml:space="preserve">
                                      <path d="M21.7,39.5c0,0-16.5-13.8-19.2-23.3C-0.3,6.4,5.4,3.3,5.4,3.3c7.7-5.2,16.3,4.4,16.3,4.4s8.6-9.6,16.3-4.4 c0,0,5.7,3.2,2.9,12.9C38.2,25.7,21.7,39.5,21.7,39.5z" />
                                    </svg>
                                  </span>
                                  <span class="animation-svg" data-component="animation-icon">
                                    <svg x="0px" y="0px" viewBox="0 0 43.5 41.8" xml:space="preserve">
                                        <path d="M21.7,39.5c0,0-16.5-13.8-19.2-23.3C-0.3,6.4,5.4,3.3,5.4,3.3c7.7-5.2,16.3,4.4,16.3,4.4s8.6-9.6,16.3-4.4 c0,0,5.7,3.2,2.9,12.9C38.2,25.7,21.7,39.5,21.7,39.5z" />
                                    </svg>
                                  </span>
                                </span>
                                <span class="nav-dropdown__title">
                                    <h3>Подменю 3</h3>
                                </span>
                                <span class="nav-dropdown__subtitle">
                                    <h4>Описание</h4>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-nav__item">
            <span class="main-nav__link" data-target="about" data-index="4">
                <span class="main-nav__link-label">МЕНЮ 4</span>
                <svg viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve" class="" preserveAspectRatio="none">
                    <use x="0" y="0" href="#arrow" xlink:href="#arrow"></use>
                </svg>
            </span>
            <div class="nav-dropdown" data-dropdown="about" data-length="8">
                <div class="nav-dropdown__header">
                    <span class="nav-dropdown__back"><svg viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve" class="" preserveAspectRatio="none">
                            <use x="0" y="0" href="#arrow" xlink:href="#arrow"></use>
                        </svg></span>
                    <h2 class="nav-dropdown__header-title">МЕНЮ 4</h2>
                </div>

                <div class="nav-dropdown__content allow-touch-scroll">
                    <div class="nav-dropdown__inner">
                        <div class="nav-dropdown__children ">
                            <a class="nav-dropdown__link" href="" data-page-colorset='{"primary":"rgb(111,171,158)","secondary":"rgb(248,181,184)","tertiary":"rgb(252,227,115)"}'>
                                <span class="animation-icon">
                                  <span class="static-svg">
                                    <svg x="0px" y="0px" viewBox="0 0 40 38.5" xml:space="preserve">
                                      <path d="M0,22.5h40" />
                                      <path d="M0,36.8h40" />
                                      <path d="M0,8.2h18.3" />
                                      <path d="M23.4,8.2H40" />
                                      <path d="M31.7,0v16.6" />
                                    </svg>
                                  </span>
                                  <span class="animation-svg" data-component="animation-icon">
                                    <svg x="0px" y="0px" viewBox="0 0 40 38.5" xml:space="preserve">
                                      <path d="M0,22.5h40" />
                                      <path d="M0,36.8h40" />
                                      <path d="M0,8.2h18.3" />
                                      <path d="M23.4,8.2H40" />
                                      <path d="M31.7,0v16.6" />
                                    </svg>
                                  </span>
                                </span>
                                <span class="nav-dropdown__title">
                                  <h3>Подменю 1</h3>
                                </span>
                                <span class="nav-dropdown__subtitle">
                                    <h4>Описание</h4>
                                </span>
                            </a>

                            <a class="nav-dropdown__link" href="" data-page-colorset='{"primary":"rgb(202,164,152)","secondary":"rgb(252,227,115)","tertiary":"rgb(154,209,139)"}'>
                                <span class="animation-icon">
                                  <span class="static-svg">
                                    <svg x="0px" y="0px" viewBox="0 0 43.5 43.5" xml:space="preserve">
                                      <path d="M41.8,21.8c0,11-9,20-20,20s-20-9-20-20s9-20,20-20S41.8,10.7,41.8,21.8z" />
                                      <path d="M21.8,23.4v-9.6" />
                                      <path d="M21.8,23.4h8" />
                                    </svg>
                                  </span>
                                  <span class="animation-svg" data-component="animation-icon">
                                    <svg x="0px" y="0px" viewBox="0 0 43.5 43.5" xml:space="preserve">
                                      <path d="M41.8,21.8c0,11-9,20-20,20s-20-9-20-20s9-20,20-20S41.8,10.7,41.8,21.8z" />
                                      <path d="M21.8,23.4v-9.6" />
                                      <path d="M21.8,23.4h8" />
                                    </svg>
                                  </span>
                                </span>
                                <span class="nav-dropdown__title">
                                    <h3>Подменю 1</h3>
                                </span>
                                <span class="nav-dropdown__subtitle">
                                    <h4>Описание</h4>
                                </span>
                            </a>

                            <a class="nav-dropdown__link" href="" data-page-colorset='{"primary":"rgb(154,209,139)","secondary":"rgb(252,227,115)","tertiary":"rgb(204, 166, 154)"}'>
                                <span class="animation-icon">
                                  <span class="static-svg">
                                    <svg x="0px" y="0px" viewBox="0 0 43.5 43.5" xml:space="preserve">
                                      <path d="M41.8,21.8c0,11-9,20-20,20s-20-9-20-20s9-20,20-20S41.8,10.7,41.8,21.8z" />
                                      <path d="M7.9,36.3c2.6-5,7.8-8.4,13.8-8.4c5.8,0,10.9,3.2,13.6,7.9" />
                                      <path d="M28.2,16.2c0,3.6-2.9,6.5-6.5,6.5s-6.5-2.9-6.5-6.5s2.9-6.5,6.5-6.5S28.2,12.7,28.2,16.2z" />
                                    </svg>
                                  </span>
                                  <span class="animation-svg" data-component="animation-icon">
                                    <svg x="0px" y="0px" viewBox="0 0 43.5 43.5" xml:space="preserve">
                                      <path d="M41.8,21.8c0,11-9,20-20,20s-20-9-20-20s9-20,20-20S41.8,10.7,41.8,21.8z" />
                                      <path d="M7.9,36.3c2.6-5,7.8-8.4,13.8-8.4c5.8,0,10.9,3.2,13.6,7.9" />
                                      <path d="M28.2,16.2c0,3.6-2.9,6.5-6.5,6.5s-6.5-2.9-6.5-6.5s2.9-6.5,6.5-6.5S28.2,12.7,28.2,16.2z" />
                                    </svg>
                                  </span>
                                </span>
                                <span class="nav-dropdown__title">
                                  <h3>Подменю 2</h3>
                                </span>
                                <span class="nav-dropdown__subtitle">
                                  <h4>Описание</h4>
                                </span>
                            </a>

                            <a class="nav-dropdown__link" href="" data-page-colorset='{"primary":"rgb(111,171,158)","secondary":"rgb(248,181,184)","tertiary":"rgb(252,227,115)"}'>
                                <span class="animation-icon">
                                  <span class="static-svg">
                                    <svg x="0px" y="0px" viewBox="0 0 43.5 34.3" xml:space="preserve">
                                      <path d="M41.8,32.6h-40V1.8h40V32.6z" />
                                      <path d="M35.9,15.1h-7.5V7.6h7.5V15.1z" />
                                      <path d="M26.8,20.9H7.6" />
                                      <path d="M24.2,26.8H7.6" />
                                    </svg>
                                  </span>
                                  <span class="animation-svg" data-component="animation-icon">
                                    <svg x="0px" y="0px" viewBox="0 0 43.5 34.3" xml:space="preserve">
                                      <path d="M41.8,32.6h-40V1.8h40V32.6z" />
                                      <path d="M35.9,15.1h-7.5V7.6h7.5V15.1z" />
                                      <path d="M26.8,20.9H7.6" />
                                      <path d="M24.2,26.8H7.6" />
                                    </svg>
                                  </span>
                                </span>
                                <span class="nav-dropdown__title">
                                  <h3>Подменю 3</h3>
                                </span>
                                <span class="nav-dropdown__subtitle">
                                  <h4>Описание</h4>
                                </span>
                            </a>

                            <a class="nav-dropdown__link" href="" data-page-colorset='{"primary":"rgb(252,227,115)","secondary":"rgb(202,164,152)","tertiary":"rgb(154,209,139)"}'>
                                <span class="animation-icon">
                                  <span class="static-svg">
                                    <svg x="0px" y="0px" viewBox="0 0 43.5 43.5" xml:space="preserve">
                                        <path d="M33.8,41.8h-24c-4.4,0-8-3.6-8-8v-24c0-4.4,3.6-8,8-8h24c4.4,0,8,3.6,8,8v24C41.8,38.2,38.2,41.8,33.8,41.8z" />
                                        <path d="M30.4,21.8c0,4.8-3.9,8.6-8.6,8.6s-8.6-3.9-8.6-8.6s3.9-8.6,8.6-8.6S30.4,17,30.4,21.8z" />
                                        <path d="M35.4,9.6C35,10,34.3,9.9,33.9,9.5S33.5,8.4,34,8s1.1-0.4,1.5,0.1S35.9,9.2,35.4,9.6z" />
                                    </svg>
                                  </span>
                                  <span class="animation-svg" data-component="animation-icon">
                                    <svg x="0px" y="0px" viewBox="0 0 43.5 43.5" xml:space="preserve">
                                        <path d="M33.8,41.8h-24c-4.4,0-8-3.6-8-8v-24c0-4.4,3.6-8,8-8h24c4.4,0,8,3.6,8,8v24C41.8,38.2,38.2,41.8,33.8,41.8z" />
                                        <path d="M30.4,21.8c0,4.8-3.9,8.6-8.6,8.6s-8.6-3.9-8.6-8.6s3.9-8.6,8.6-8.6S30.4,17,30.4,21.8z" />
                                        <path d="M35.4,9.6C35,10,34.3,9.9,33.9,9.5S33.5,8.4,34,8s1.1-0.4,1.5,0.1S35.9,9.2,35.4,9.6z" />
                                    </svg>
                                    </span>
                                  </span>
                                  <span class="nav-dropdown__title">
                                    <h3>Подменю 4</h3>
                                  </span>
                                  <span class="nav-dropdown__subtitle">
                                    <h4>Описание</h4>
                                  </span>
                            </a>

                            <a class="nav-dropdown__link" href="" data-page-colorset='{"primary":"rgb(202,164,152)","secondary":"rgb(252,227,115)","tertiary":"rgb(154,209,139)"}'>
                                <span class="animation-icon">
                                  <span class="static-svg">
                                    <svg x="0px" y="0px" viewBox="0 0 43.6 16.1" xml:space="preserve">
                                      <path d="M17.5,8.1c0,3.5-2.8,6.3-6.3,6.3s-6.4-2.8-6.4-6.3s2.9-6.3,6.4-6.3S17.5,4.6,17.5,8.1z" />
                                      <path d="M38.5,8.1c0,3.5-2.8,6.3-6.3,6.3S26,11.6,26,8.1s2.8-6.3,6.3-6.3S38.5,4.6,38.5,8.1z" />
                                      <path d="M16.5,8.1c1.4-0.9,3.1-1.4,4.9-1.4c1.7,0,3.3,0.5,4.7,1.2" />
                                      <path d="M39.2,6.4h2c0.3,0,0.6,0.2,0.6,0.5v1.8c0,0.3-0.2,0.5-0.6,0.5h-2" />
                                      <path d="M4.2,9.2h-2C2,9.2,1.8,9.1,1.8,8.8V6.9c0-0.3,0.2-0.5,0.6-0.5h2" />
                                    </svg>
                                  </span>
                                  <span class="animation-svg" data-component="animation-icon">
                                    <svg x="0px" y="0px" viewBox="0 0 43.6 16.1" xml:space="preserve">
                                      <path d="M17.5,8.1c0,3.5-2.8,6.3-6.3,6.3s-6.4-2.8-6.4-6.3s2.9-6.3,6.4-6.3S17.5,4.6,17.5,8.1z" />
                                      <path d="M38.5,8.1c0,3.5-2.8,6.3-6.3,6.3S26,11.6,26,8.1s2.8-6.3,6.3-6.3S38.5,4.6,38.5,8.1z" />
                                      <path d="M16.5,8.1c1.4-0.9,3.1-1.4,4.9-1.4c1.7,0,3.3,0.5,4.7,1.2" />
                                      <path d="M39.2,6.4h2c0.3,0,0.6,0.2,0.6,0.5v1.8c0,0.3-0.2,0.5-0.6,0.5h-2" />
                                      <path d="M4.2,9.2h-2C2,9.2,1.8,9.1,1.8,8.8V6.9c0-0.3,0.2-0.5,0.6-0.5h2" />
                                    </svg>
                                  </span>
                                </span>
                                <span class="nav-dropdown__title">
                                    <h3>Подменю 5</h3>
                                </span>
                                <span class="nav-dropdown__subtitle">
                                    <h4>Описание</h4>
                                </span>
                            </a>

                            <a class="nav-dropdown__link" href="" data-page-colorset='{"primary":"rgb(202,164,152)","secondary":"rgb(252,227,115)","tertiary":"rgb(154,209,139)"}'>
                                <span class="animation-icon">
                                  <span class="static-svg">
                                    <svg x="0px" y="0px" viewBox="0 0 43.5 43.5" xml:space="preserve">
                                      <path d="M41.8,21.8c0,11-9,20-20,20s-20-9-20-20s9-20,20-20S41.8,10.8,41.8,21.8z" />
                                      <path d="M21.8,17.5v13.9" />
                                      <path style="stroke-width:2" d="M22.8,11.4c0,0.6-0.4,1-1,1s-1-0.4-1-1s0.4-1,1-1S22.8,10.8,22.8,11.4z" />
                                    </svg>
                                  </span>
                                  <span class="animation-svg" data-component="animation-icon">
                                    <svg x="0px" y="0px" viewBox="0 0 43.5 43.5" xml:space="preserve">
                                      <path d="M41.8,21.8c0,11-9,20-20,20s-20-9-20-20s9-20,20-20S41.8,10.8,41.8,21.8z" />
                                      <path d="M21.8,17.5v13.9" />
                                      <path style="stroke-width:2" d="M22.8,11.4c0,0.6-0.4,1-1,1s-1-0.4-1-1s0.4-1,1-1S22.8,10.8,22.8,11.4z" />
                                    </svg>
                                  </span>
                                </span>
                                <span class="nav-dropdown__title">
                                    <h3>Подменю 6</h3>
                                </span>
                                <span class="nav-dropdown__subtitle">
                                    <h4>Описание</h4>
                                </span>
                            </a>

                            <a class="nav-dropdown__link" href="" data-page-colorset='{"primary":"rgb(252,227,115)","secondary":"rgb(154,209,139)","tertiary":"rgb(204, 166, 154)"}'>
                                <span class="animation-icon">
                                  <span class="static-svg">
                                    <svg" x="0px" y="0px" viewBox="0 0 40 38.5" xml:space="preserve">
                                      <path d="M0,22.5h40" />
                                      <path d="M0,36.8h40" />
                                      <path d="M0,8.2h18.3" />
                                      <path d="M23.4,8.2H40" />
                                      <path d="M31.7,0v16.6" />
                                    </svg>
                                  </span>
                                  <span class="animation-svg" data-component="animation-icon">
                                    <svg x="0px" y="0px" viewBox="0 0 40 38.5" xml:space="preserve">
                                      <path d="M0,22.5h40" />
                                      <path d="M0,36.8h40" />
                                      <path d="M0,8.2h18.3" />
                                      <path d="M23.4,8.2H40" />
                                      <path d="M31.7,0v16.6" />
                                    </svg>
                                  </span>
                                </span>
                                <span class="nav-dropdown__title">
                                    <h3>Подменю 7</h3>
                                </span>
                                <span class="nav-dropdown__subtitle">
                                    <h4>Описание</h4>
                                </span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </nav>

    <div class="header__utils">
        <form class="lang-selector lang-selector--in-header">
            <div class="lang-selector__wrapper">
                <div class="form-element form-element--radio" data-theme="basic">
                    <input type="radio" id="lang-en" name="lang" value="en" class="form-element__input form-element--radio__input js-lang-select" checked>
                    <label for="lang-en" class="form-element__label form-element--label__radio form-element__label-icon">
                        <span class="form-element__toggle form-element--radio__toggle"></span>
                        <svg viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve" class="" preserveAspectRatio="none">
                            <use x="0" y="0" href="#flag-en" xlink:href="#flag-en"></use>
                        </svg>
                    </label>
                </div>

                <div class="form-element form-element--radio" data-theme="basic">
                    <input type="radio" id="lang-nl" name="lang" value="nl" class="form-element__input form-element--radio__input js-lang-select">
                    <label for="lang-nl" class="form-element__label form-element--label__radio form-element__label-icon">
                        <span class="form-element__toggle form-element--radio__toggle"></span>
                        <svg viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve" class="" preserveAspectRatio="none">
                            <use x="0" y="0" href="#flag-nl" xlink:href="#flag-nl"></use>
                        </svg>
                    </label>
                </div>

                <div class="form-element form-element--radio" data-theme="basic">
                    <input type="radio" id="lang-de" name="lang" value="de" class="form-element__input form-element--radio__input ">
                    <label for="lang-de" class="form-element__label form-element--label__radio form-element__label-icon">
                        <span class="form-element__toggle form-element--radio__toggle"></span>
                        <a href="">
                            <svg viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve" class="" preserveAspectRatio="none">
                                <use x="0" y="0" href="#flag-de" xlink:href="#flag-de"></use>
                            </svg>
                        </a>
                    </label>
                </div>

                <div class="form-element form-element--radio" data-theme="basic">
                    <input type="radio" id="lang-fr" name="lang" value="fr" class="form-element__input form-element--radio__input ">
                    <label for="lang-fr" class="form-element__label form-element--label__radio form-element__label-icon">
                        <span class="form-element__toggle form-element--radio__toggle"></span>
                        <a href="">
                            <svg viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve" class="" preserveAspectRatio="none">
                                <use x="0" y="0" href="#flag-fr" xlink:href="#flag-fr"></use>
                            </svg>
                        </a>
                    </label>
                </div>
            </div>
        </form>
    </div>
</header>
