<div class="quicklinks-menu">
    <div class="quicklinks-menu__inner">
        <a class="svg-link svg-link-fill svg-link-back">
            <div class="quicklinks-menu__item">
                <span class="animation-icon"><span class="static-svg"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 35" xml:space="preserve">
        <path style="fill:none;stroke-width:3.673;stroke-linejoin:round;stroke-miterlimit:10;" d="M40,17.85L0,0L8.889,17.858L0,34.212L40,17.85Z"/>
</svg></span><span class="animation-svg" data-component="animation-icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 35" xml:space="preserve">
        <path style="fill:none;stroke-width:3.673;stroke-linejoin:round;stroke-miterlimit:10;" d="M40,17.85L0,0L8.889,17.858L0,34.212L40,17.85Z"/>
</svg></span></span>
            </div>
        </a>

        <a class="quicklinks-menu__link svg-link calendar" data-index="1" data-link="calendar" data-tooltip="view calendar">
            <div class="quicklinks-menu__item">
                <span class="animation-icon"><span class="static-svg"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 39.2 41.8" xml:space="preserve">
<path d="M33.5,40H5.8c-2.2,0-4-1.8-4-4V7.5c0-2.2,1.8-4,4-4h27.7c2.2,0,4,1.8,4,4V36C37.5,38.2,35.8,40,33.5,40z"/>
<path d="M2.1,16.5h35"/>
<path d="M10.6,0v7"/>
<path d="M28,0v7"/>
</svg>
</span><span class="animation-svg" data-component="animation-icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 39.2 41.8" xml:space="preserve">
<path d="M33.5,40H5.8c-2.2,0-4-1.8-4-4V7.5c0-2.2,1.8-4,4-4h27.7c2.2,0,4,1.8,4,4V36C37.5,38.2,35.8,40,33.5,40z"/>
<path d="M2.1,16.5h35"/>
<path d="M10.6,0v7"/>
<path d="M28,0v7"/>
</svg>
</span></span>
            </div>
        </a>

        <a class="quicklinks-menu__link svg-link trip" data-index="2" data-link="trip" data-tooltip="book a trip">
            <div class="quicklinks-menu__item">
                <span class="animation-icon"><span class="static-svg"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32.7 43.5" xml:space="preserve">
<path d="M12.4,4.8c-2.3-4.1-6.3-4-8.6,0.1C2,8.1,0.7,12.6,2.9,18c0,0,1.7,3.5,1.7,7.9c0,3.5,2.6,6.1,5.2,5.2
	c0,0,3.5-0.9,2.6-6.1c0,0-0.9-4.4-0.9-7S15,9.3,12.4,4.8C12.5,4.9,12.5,4.9,12.4,4.8z"/>
<path d="M11.6,21.5l-7,0.9"/>
<path d="M20.2,15.3c2.3-4.1,6.3-4,8.7,0.1c1.8,3.2,3.1,7.7,0.9,13.1c0,0-1.7,3.5-1.7,7.9c0,3.5-2.6,6.1-5.2,5.2
	c0,0-3.5-0.9-2.6-6.1c0,0,0.9-4.4,0.9-7s-3.5-8.7-0.9-13.1C20.1,15.4,20.2,15.4,20.2,15.3z"/>
<path d="M20.7,32.6l7.7,0.9"/>
</svg>
</span><span class="animation-svg" data-component="animation-icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32.7 43.5" xml:space="preserve">
<path d="M12.4,4.8c-2.3-4.1-6.3-4-8.6,0.1C2,8.1,0.7,12.6,2.9,18c0,0,1.7,3.5,1.7,7.9c0,3.5,2.6,6.1,5.2,5.2
	c0,0,3.5-0.9,2.6-6.1c0,0-0.9-4.4-0.9-7S15,9.3,12.4,4.8C12.5,4.9,12.5,4.9,12.4,4.8z"/>
<path d="M11.6,21.5l-7,0.9"/>
<path d="M20.2,15.3c2.3-4.1,6.3-4,8.7,0.1c1.8,3.2,3.1,7.7,0.9,13.1c0,0-1.7,3.5-1.7,7.9c0,3.5-2.6,6.1-5.2,5.2
	c0,0-3.5-0.9-2.6-6.1c0,0,0.9-4.4,0.9-7s-3.5-8.7-0.9-13.1C20.1,15.4,20.2,15.4,20.2,15.3z"/>
<path d="M20.7,32.6l7.7,0.9"/>
</svg>
</span></span>
            </div>
        </a>

        <a class="quicklinks-menu__link svg-link tickets" data-index="3" target="_blank" href="https://tickets.franshalsmuseum.nl/en" data-tooltip="buy tickets">
            <div class="quicklinks-menu__item">
                <span class="animation-icon"><span class="static-svg"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 44.9 44.9" xml:space="preserve">
<path d="M7.4,31.7c1.6-1.6,4.2-1.6,5.9,0c1.6,1.6,1.6,4.2,0,5.9l0,0l4.9,4.9l24.4-24.4l-4.9-4.9l0,0
	c-1.6,1.6-4.2,1.6-5.9,0c-1.6-1.6-1.6-4.2,0-5.9l-4.9-4.9L2.5,26.9L7.4,31.7L7.4,31.7z"/>
<path d="M19,11.3l14.1,14.1"/>
</svg>
</span><span class="animation-svg" data-component="animation-icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 44.9 44.9" xml:space="preserve">
<path d="M7.4,31.7c1.6-1.6,4.2-1.6,5.9,0c1.6,1.6,1.6,4.2,0,5.9l0,0l4.9,4.9l24.4-24.4l-4.9-4.9l0,0
	c-1.6,1.6-4.2,1.6-5.9,0c-1.6-1.6-1.6-4.2,0-5.9l-4.9-4.9L2.5,26.9L7.4,31.7L7.4,31.7z"/>
<path d="M19,11.3l14.1,14.1"/>
</svg>
</span></span>
            </div>
        </a>

        <button type="button" id="hamburger" class="button-reset js-toggleMenu">
            <span id="hamburger__icon">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </button>

        <a class="quicklinks-menu__link svg-link search" data-index="4" data-link="search" data-tooltip="search">
            <div class="quicklinks-menu__item">
                <span class="animation-icon"><span class="static-svg"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 39.9 43" xml:space="preserve">
<path d="M31.1,16.4c0,8.1-6.6,14.7-14.7,14.7S1.8,24.5,1.8,16.4S8.3,1.8,16.4,1.8S31.1,8.3,31.1,16.4z"/>
<path d="M25.5,28.6l13.1,13.1"/>
</svg>
</span><span class="animation-svg" data-component="animation-icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 39.9 43" xml:space="preserve">
<path d="M31.1,16.4c0,8.1-6.6,14.7-14.7,14.7S1.8,24.5,1.8,16.4S8.3,1.8,16.4,1.8S31.1,8.3,31.1,16.4z"/>
<path d="M25.5,28.6l13.1,13.1"/>
</svg>
</span></span>
            </div>
        </a>

        <a class="quicklinks-menu__link svg-link locations" data-index="5" data-link="locations" data-tooltip="view location">
            <div class="quicklinks-menu__item">
                <span class="animation-icon"><span class="static-svg"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32.2 44.9" xml:space="preserve">
<path d="M30,19.6c0.4-1.6,0.5-3.3,0.4-5.1c-0.7-6.6-6-12-12.6-12.7c-8.7-1-16,5.8-16,14.3c0,0.3,0,0.6,0,0.9c0.2,2.6,1.1,5.1,2.6,7.2l12.1,17.6l11.6-17.9C29,22.5,29.6,21.1,30,19.6z"/>
<path d="M17.6,16.5c0,0.8-0.7,1.5-1.5,1.5c-0.8,0-1.5-0.7-1.5-1.5c0-0.8,0.7-1.5,1.5-1.5C16.9,15,17.6,15.7,17.6,16.5z"/>
</svg>
</span><span class="animation-svg" data-component="animation-icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32.2 44.9" xml:space="preserve">
<path d="M30,19.6c0.4-1.6,0.5-3.3,0.4-5.1c-0.7-6.6-6-12-12.6-12.7c-8.7-1-16,5.8-16,14.3c0,0.3,0,0.6,0,0.9c0.2,2.6,1.1,5.1,2.6,7.2l12.1,17.6l11.6-17.9C29,22.5,29.6,21.1,30,19.6z"/>
<path d="M17.6,16.5c0,0.8-0.7,1.5-1.5,1.5c-0.8,0-1.5-0.7-1.5-1.5c0-0.8,0.7-1.5,1.5-1.5C16.9,15,17.6,15.7,17.6,16.5z"/>
</svg>
</span></span>
            </div>
        </a>


        <form class="lang-selector">
            <div class="lang-selector__unfold lang-selector__unfold--open"><svg viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve" class="" preserveAspectRatio="none">
        <use x="0" y="0" href="#back" xlink:href="#back"></use>
        </svg></div>
        <div class="lang-selector__unfold lang-selector__unfold--close"><svg viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve" class="" preserveAspectRatio="none">
        <use x="0" y="0" href="#back" xlink:href="#back"></use>
        </svg></div>

    <div class="lang-selector__wrapper">






<div class="form-element form-element--radio" data-theme="basic">

    <input type="radio"
            id="lang-en"
            name="lang"
            value="en"
            class="form-element__input form-element--radio__input js-lang-select"

            checked


            >

    <label for="lang-en" class="form-element__label form-element--label__radio form-element__label-icon">
        <span class="form-element__toggle form-element--radio__toggle"></span>

                    <svg viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve" class="" preserveAspectRatio="none">
        <use x="0" y="0" href="#flag-en" xlink:href="#flag-en"></use>
        </svg>

            </label>

    </div>






<div class="form-element form-element--radio" data-theme="basic">

    <input type="radio"
            id="lang-nl"
            name="lang"
            value="nl"
            class="form-element__input form-element--radio__input js-lang-select"




            >

    <label for="lang-nl" class="form-element__label form-element--label__radio form-element__label-icon">
        <span class="form-element__toggle form-element--radio__toggle"></span>

                    <svg viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve" class="" preserveAspectRatio="none">
        <use x="0" y="0" href="#flag-nl" xlink:href="#flag-nl"></use>
        </svg>

            </label>

    </div>






<div class="form-element form-element--radio" data-theme="basic">

    <input type="radio"
            id="lang-de"
            name="lang"
            value="de"
            class="form-element__input form-element--radio__input "




            >

    <label for="lang-de" class="form-element__label form-element--label__radio form-element__label-icon">
        <span class="form-element__toggle form-element--radio__toggle"></span>
                    <a href="https://www.franshalsmuseum.nl/de/besucherinfo/">

                    <svg viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve" class="" preserveAspectRatio="none">
        <use x="0" y="0" href="#flag-de" xlink:href="#flag-de"></use>
        </svg>

                    </a>
            </label>

    </div>






<div class="form-element form-element--radio" data-theme="basic">

    <input type="radio"
            id="lang-fr"
            name="lang"
            value="fr"
            class="form-element__input form-element--radio__input "




            >

    <label for="lang-fr" class="form-element__label form-element--label__radio form-element__label-icon">
        <span class="form-element__toggle form-element--radio__toggle"></span>
                    <a href="https://www.franshalsmuseum.nl/fr/info-visiteur/">

                    <svg viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve" class="" preserveAspectRatio="none">
        <use x="0" y="0" href="#flag-fr" xlink:href="#flag-fr"></use>
        </svg>

                    </a>
            </label>

    </div>
            </div>
</form>
        <canvas class="bubble-canvas"></canvas>
    </div>


    <div class="quicklinks-sidebar quicklinks-sidebar--calendar js-quicklinks-sidebar" data-link="calendar">
    <p class="quicklinks-sidebar__title">Calendar</p>
    <strong class="quicklinks-sidebar__subtitle">See what’s going on today</strong>

    <div class="exhibitions-wrapper js-slider">

<div class="event-card">
    <div class="event-card__wrapper">
        <a href="https://www.franshalsmuseum.nl/en/event/exhibition-museum-in-bloom-2020/" class="event-card__image" style="color: rgb(252,227,115)">


<div class="intrinsic event-card__src  " data-component="lazy" data-imgsrc='[{"width":300,"height":408,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2019\/11\/CAMPAGNEBEELD-Museum-in-Bloei-lowres-300x0-c-default.jpg"},{"width":500,"height":680,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2019\/11\/CAMPAGNEBEELD-Museum-in-Bloei-lowres-500x0-c-default.jpg"},{"width":700,"height":952,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2019\/11\/CAMPAGNEBEELD-Museum-in-Bloei-lowres-700x0-c-default.jpg"}]' style="padding-top: 100%; ">
		</div>


            <div class="event-card__date">

                                                            <span class="event-card__date"><strong>21 Mar 2020 - 17 May 2020</strong></span>


            </div>
        </a>


                    <a class="conversion-button tooltippy tooltip-bottom" target="_blank" href="https://tickets.franshalsmuseum.nl/en" data-tooltippy="buy tickets">
                <span class="buy-ticket-button"><span class="animation-icon"><span class="static-svg"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 44.9 44.9" xml:space="preserve">
<path d="M7.4,31.7c1.6-1.6,4.2-1.6,5.9,0c1.6,1.6,1.6,4.2,0,5.9l0,0l4.9,4.9l24.4-24.4l-4.9-4.9l0,0
	c-1.6,1.6-4.2,1.6-5.9,0c-1.6-1.6-1.6-4.2,0-5.9l-4.9-4.9L2.5,26.9L7.4,31.7L7.4,31.7z"/>
<path d="M19,11.3l14.1,14.1"/>
</svg>
</span><span class="animation-svg" data-component="animation-icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 44.9 44.9" xml:space="preserve">
<path d="M7.4,31.7c1.6-1.6,4.2-1.6,5.9,0c1.6,1.6,1.6,4.2,0,5.9l0,0l4.9,4.9l24.4-24.4l-4.9-4.9l0,0
	c-1.6,1.6-4.2,1.6-5.9,0c-1.6-1.6-1.6-4.2,0-5.9l-4.9-4.9L2.5,26.9L7.4,31.7L7.4,31.7z"/>
<path d="M19,11.3l14.1,14.1"/>
</svg>
</span></span></span>
            </a>

            </div>
    <div class="event-card__info">
        <div class="event-card__type">
            Exhibition
        </div>
        <a href="https://www.franshalsmuseum.nl/en/event/exhibition-museum-in-bloom-2020/" class="event-card__title">Museum in bloom</a>
        <div class="event-card__excerpt"><a href="https://www.franshalsmuseum.nl/en/event/exhibition-museum-in-bloom-2020/">Lavish, colorful, exhilarating</a></div>

                                    <div class="event-card__location"><a href="https://www.franshalsmuseum.nl/en/event/exhibition-museum-in-bloom-2020/"><strong>Location</strong> Hof</a></div>
                        </div>
</div>
<div class="event-card">
    <div class="event-card__wrapper">
        <a href="https://www.franshalsmuseum.nl/en/event/exhibition-image-power/" class="event-card__image" style="color: rgb(252,227,115)">


<div class="intrinsic event-card__src  " data-component="lazy" data-imgsrc='[{"width":300,"height":416,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2019\/11\/low-res-jpg--300x0-c-default.jpg"},{"width":500,"height":694,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2019\/11\/low-res-jpg--500x0-c-default.jpg"},{"width":700,"height":972,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2019\/11\/low-res-jpg--700x0-c-default.jpg"}]' style="padding-top: 100%; ">
		</div>


            <div class="event-card__date">

                                                            <span class="event-card__date"><strong>07 Mar 2020 - 24 May 2020</strong></span>


            </div>
        </a>


                    <a class="conversion-button tooltippy tooltip-bottom" target="_blank" href="https://tickets.franshalsmuseum.nl/en" data-tooltippy="buy tickets">
                <span class="buy-ticket-button"><span class="animation-icon"><span class="static-svg"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 44.9 44.9" xml:space="preserve">
<path d="M7.4,31.7c1.6-1.6,4.2-1.6,5.9,0c1.6,1.6,1.6,4.2,0,5.9l0,0l4.9,4.9l24.4-24.4l-4.9-4.9l0,0
	c-1.6,1.6-4.2,1.6-5.9,0c-1.6-1.6-1.6-4.2,0-5.9l-4.9-4.9L2.5,26.9L7.4,31.7L7.4,31.7z"/>
<path d="M19,11.3l14.1,14.1"/>
</svg>
</span><span class="animation-svg" data-component="animation-icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 44.9 44.9" xml:space="preserve">
<path d="M7.4,31.7c1.6-1.6,4.2-1.6,5.9,0c1.6,1.6,1.6,4.2,0,5.9l0,0l4.9,4.9l24.4-24.4l-4.9-4.9l0,0
	c-1.6,1.6-4.2,1.6-5.9,0c-1.6-1.6-1.6-4.2,0-5.9l-4.9-4.9L2.5,26.9L7.4,31.7L7.4,31.7z"/>
<path d="M19,11.3l14.1,14.1"/>
</svg>
</span></span></span>
            </a>

            </div>
    <div class="event-card__info">
        <div class="event-card__type">
            Exhibition
        </div>
        <a href="https://www.franshalsmuseum.nl/en/event/exhibition-image-power/" class="event-card__title">Image power</a>
        <div class="event-card__excerpt"><a href="https://www.franshalsmuseum.nl/en/event/exhibition-image-power/">Institutional Critique Today</a></div>

                                    <div class="event-card__location"><a href="https://www.franshalsmuseum.nl/en/event/exhibition-image-power/"><strong>Location</strong> Hal</a></div>
                        </div>
</div>
<div class="event-card">
    <div class="event-card__wrapper">
        <a href="https://www.franshalsmuseum.nl/en/event/re-view-tours/" class="event-card__image" style="color: rgb(252,227,115)">


<div class="intrinsic event-card__src  " data-component="lazy" data-imgsrc='[{"width":300,"height":347,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2019\/04\/1-day-left-to-vote-300x0-c-default.jpg"},{"width":500,"height":579,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2019\/04\/1-day-left-to-vote-500x0-c-default.jpg"},{"width":700,"height":810,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2019\/04\/1-day-left-to-vote-700x0-c-default.jpg"}]' style="padding-top: 100%; ">
		</div>


            <div class="event-card__date">

                                                            <span class="event-card__date"><strong>31 Jan 2020 - 27 Nov 2020</strong></span>


            </div>
        </a>


                    <a class="conversion-button tooltippy tooltip-bottom" target="_blank" href="https://tickets.franshalsmuseum.nl/nl/anders-kijken-met" data-tooltippy="buy tickets">
                <span class="buy-ticket-button"><span class="animation-icon"><span class="static-svg"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 44.9 44.9" xml:space="preserve">
<path d="M7.4,31.7c1.6-1.6,4.2-1.6,5.9,0c1.6,1.6,1.6,4.2,0,5.9l0,0l4.9,4.9l24.4-24.4l-4.9-4.9l0,0
	c-1.6,1.6-4.2,1.6-5.9,0c-1.6-1.6-1.6-4.2,0-5.9l-4.9-4.9L2.5,26.9L7.4,31.7L7.4,31.7z"/>
<path d="M19,11.3l14.1,14.1"/>
</svg>
</span><span class="animation-svg" data-component="animation-icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 44.9 44.9" xml:space="preserve">
<path d="M7.4,31.7c1.6-1.6,4.2-1.6,5.9,0c1.6,1.6,1.6,4.2,0,5.9l0,0l4.9,4.9l24.4-24.4l-4.9-4.9l0,0
	c-1.6,1.6-4.2,1.6-5.9,0c-1.6-1.6-1.6-4.2,0-5.9l-4.9-4.9L2.5,26.9L7.4,31.7L7.4,31.7z"/>
<path d="M19,11.3l14.1,14.1"/>
</svg>
</span></span></span>
            </a>

            </div>
    <div class="event-card__info">
        <div class="event-card__type">
            Event
        </div>
        <a href="https://www.franshalsmuseum.nl/en/event/re-view-tours/" class="event-card__title">Re-view...-tours</a>
        <div class="event-card__excerpt"><a href="https://www.franshalsmuseum.nl/en/event/re-view-tours/">Every last friday of the month</a></div>

                                    <div class="event-card__location"><a href="https://www.franshalsmuseum.nl/en/event/re-view-tours/"><strong>Location</strong> Hof</a></div>
                        </div>
</div>
<div class="event-card">
    <div class="event-card__wrapper">
        <a href="https://www.franshalsmuseum.nl/en/event/haarlem-heroes-other-masters/" class="event-card__image" style="color: rgb(252,227,115)">


<div class="intrinsic event-card__src  " data-component="lazy" data-imgsrc='[{"width":300,"height":304,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2019\/02\/Combibeeld-Haarlemse-Helden-hoogste-resolutie-Anouk-websiteinsta-vierkant-300x0-c-default.jpg"},{"width":500,"height":506,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2019\/02\/Combibeeld-Haarlemse-Helden-hoogste-resolutie-Anouk-websiteinsta-vierkant-500x0-c-default.jpg"},{"width":700,"height":709,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2019\/02\/Combibeeld-Haarlemse-Helden-hoogste-resolutie-Anouk-websiteinsta-vierkant-700x0-c-default.jpg"}]' style="padding-top: 100%; ">
		</div>


            <div class="event-card__date">

                                                            <span class="event-card__date"><strong>08 Mar 2019 - 01 Jul 2022</strong></span>


            </div>
        </a>


                    <a class="conversion-button tooltippy tooltip-bottom" target="_blank" href="https://tickets.franshalsmuseum.nl/en" data-tooltippy="buy tickets">
                <span class="buy-ticket-button"><span class="animation-icon"><span class="static-svg"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 44.9 44.9" xml:space="preserve">
<path d="M7.4,31.7c1.6-1.6,4.2-1.6,5.9,0c1.6,1.6,1.6,4.2,0,5.9l0,0l4.9,4.9l24.4-24.4l-4.9-4.9l0,0
	c-1.6,1.6-4.2,1.6-5.9,0c-1.6-1.6-1.6-4.2,0-5.9l-4.9-4.9L2.5,26.9L7.4,31.7L7.4,31.7z"/>
<path d="M19,11.3l14.1,14.1"/>
</svg>
</span><span class="animation-svg" data-component="animation-icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 44.9 44.9" xml:space="preserve">
<path d="M7.4,31.7c1.6-1.6,4.2-1.6,5.9,0c1.6,1.6,1.6,4.2,0,5.9l0,0l4.9,4.9l24.4-24.4l-4.9-4.9l0,0
	c-1.6,1.6-4.2,1.6-5.9,0c-1.6-1.6-1.6-4.2,0-5.9l-4.9-4.9L2.5,26.9L7.4,31.7L7.4,31.7z"/>
<path d="M19,11.3l14.1,14.1"/>
</svg>
</span></span></span>
            </a>

            </div>
    <div class="event-card__info">
        <div class="event-card__type">
            Exhibition
        </div>
        <a href="https://www.franshalsmuseum.nl/en/event/haarlem-heroes-other-masters/" class="event-card__title">Haarlem Heroes. Other Masters</a>
        <div class="event-card__excerpt"><a href="https://www.franshalsmuseum.nl/en/event/haarlem-heroes-other-masters/"></a></div>

                                    <div class="event-card__location"><a href="https://www.franshalsmuseum.nl/en/event/haarlem-heroes-other-masters/"><strong>Location</strong> Hof</a></div>
                        </div>
</div>
<div class="event-card">
    <div class="event-card__wrapper">
        <a href="https://www.franshalsmuseum.nl/en/event/the-hals-phenomenon/" class="event-card__image" style="color: rgb(252,227,115)">


<div class="intrinsic event-card__src  " data-component="lazy" data-imgsrc='[{"width":300,"height":215,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2017\/10\/fenomeen1-2-300x0-c-default.jpg"},{"width":500,"height":358,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2017\/10\/fenomeen1-2-500x0-c-default.jpg"},{"width":700,"height":502,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2017\/10\/fenomeen1-2-700x0-c-default.jpg"}]' style="padding-top: 100%; ">
		</div>


            <div class="event-card__date">

                                                            <span class="event-card__date"><strong>23 Mar 2013 - 01 Jan 2023</strong></span>


            </div>
        </a>


                    <a class="conversion-button tooltippy tooltip-bottom" target="_blank" href="https://tickets.franshalsmuseum.nl/en" data-tooltippy="buy tickets">
                <span class="buy-ticket-button"><span class="animation-icon"><span class="static-svg"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 44.9 44.9" xml:space="preserve">
<path d="M7.4,31.7c1.6-1.6,4.2-1.6,5.9,0c1.6,1.6,1.6,4.2,0,5.9l0,0l4.9,4.9l24.4-24.4l-4.9-4.9l0,0
	c-1.6,1.6-4.2,1.6-5.9,0c-1.6-1.6-1.6-4.2,0-5.9l-4.9-4.9L2.5,26.9L7.4,31.7L7.4,31.7z"/>
<path d="M19,11.3l14.1,14.1"/>
</svg>
</span><span class="animation-svg" data-component="animation-icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 44.9 44.9" xml:space="preserve">
<path d="M7.4,31.7c1.6-1.6,4.2-1.6,5.9,0c1.6,1.6,1.6,4.2,0,5.9l0,0l4.9,4.9l24.4-24.4l-4.9-4.9l0,0
	c-1.6,1.6-4.2,1.6-5.9,0c-1.6-1.6-1.6-4.2,0-5.9l-4.9-4.9L2.5,26.9L7.4,31.7L7.4,31.7z"/>
<path d="M19,11.3l14.1,14.1"/>
</svg>
</span></span></span>
            </a>

            </div>
    <div class="event-card__info">
        <div class="event-card__type">
            Exhibition
        </div>
        <a href="https://www.franshalsmuseum.nl/en/event/the-hals-phenomenon/" class="event-card__title">The Hals Phenomenon</a>
        <div class="event-card__excerpt"><a href="https://www.franshalsmuseum.nl/en/event/the-hals-phenomenon/">A Glimpse into the Fascinating World of Frans&hellip;</a></div>

                                    <div class="event-card__location"><a href="https://www.franshalsmuseum.nl/en/event/the-hals-phenomenon/"><strong>Location</strong> Hof</a></div>
                        </div>
</div>            </div>
</div>
    <div class="quicklinks-sidebar quicklinks-sidebar--trip js-quicklinks-sidebar" data-link="trip">
        <p class="quicklinks-sidebar__title">Your trip</p>
<strong class="quicklinks-sidebar__subtitle">Looks like you’ll have fun!</strong>



<p class="trip-link">I would love  <a href="" class="active-line">more suggestions <span></span></a>!</p>
<a href="https://www.franshalsmuseum.nl/en/my-trip/" class="trip-btn button button--rounded" style="color: rgb(252,227,115)">
    <span class="animation-icon"><span class="static-svg"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 43.5 27.4" xml:space="preserve">
<path d="M28.1,13.7c0,3.5-2.9,6.4-6.4,6.4s-6.4-2.9-6.4-6.4s2.9-6.4,6.4-6.4S28.1,10.2,28.1,13.7z"/>
<path d="M1.8,13.7c3.7-7.1,11.2-12,20-12c8.8,0,16.3,4.9,20,11.9v0c-3.7,7.1-11.2,12-20,12C13,25.7,5.4,20.8,1.8,13.7L1.8,13.7z"/>
</svg>
</span><span class="animation-svg" data-component="animation-icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 43.5 27.4" xml:space="preserve">
<path d="M28.1,13.7c0,3.5-2.9,6.4-6.4,6.4s-6.4-2.9-6.4-6.4s2.9-6.4,6.4-6.4S28.1,10.2,28.1,13.7z"/>
<path d="M1.8,13.7c3.7-7.1,11.2-12,20-12c8.8,0,16.3,4.9,20,11.9v0c-3.7,7.1-11.2,12-20,12C13,25.7,5.4,20.8,1.8,13.7L1.8,13.7z"/>
</svg>
</span></span>
    <span>My trip details</span>
</a>    </div>

    <div class="quicklinks-sidebar quicklinks-sidebar--search js-quicklinks-sidebar" data-link="search" data-component="search">

    <div class="search__profile">




<div data-component="select"  class="form-element form-element--select" data-placeholder="I am ..." data-theme="basic">

    <div class="form-element-select" >

                    <label for="search-profile" class="form-element__label">Just tell us who you are!</label>

        <div class="form-element-select__wrapper">
            <select id="search-profile"
                name="search-profile"
                                class="form-element__select form-element--select__select js-profile-select"
                >

                <option></option>


                    <option data-slug="https://www.franshalsmuseum.nl/en/visit/exhibitions-events/"
                        value="https://www.franshalsmuseum.nl/en/visit/exhibitions-events/"

                                                                    >I am adventureous</option>


                    <option data-slug="https://www.franshalsmuseum.nl/en/visit/families-children/"
                        value="https://www.franshalsmuseum.nl/en/visit/families-children/"

                                                                    >I am with kids</option>


                    <option data-slug="https://www.franshalsmuseum.nl"
                        value="https://www.franshalsmuseum.nl"

                                                                    >I am everything at once</option>


                    <option data-slug="https://www.franshalsmuseum.nl/en/news/a-marriage-made-in-art-heaven/"
                        value="https://www.franshalsmuseum.nl/en/news/a-marriage-made-in-art-heaven/"

                                                                    >I am in love</option>


                    <option data-slug="https://www.franshalsmuseum.nl/en/learn/research/"
                        value="https://www.franshalsmuseum.nl/en/learn/research/"

                                                                    >I am an expert</option>


                    <option data-slug="https://www.franshalsmuseum.nl/en/learn/collection/random/"
                        value="https://www.franshalsmuseum.nl/en/learn/collection/random/"

                                                                    >I am in doubt</option>

                            </select>
        </div>

    </div>

</div>

    </div>

    <div class="search__regular">

        <div class="search__regular__inner">



<div class="form-element form-element--text form-element-- has-label">


    <label for="search-regular" class="form-element__label form-element--text__label ">Or do a regular search</label>

    <input type="text"
            id="search-regular"
            name="search-regular"
            value=""
            class="form-element__input form-element--text__input input-text "
            autocomplete="off"
            placeholder="Type here ..."



            >

            <div class="form-element__icon"><span class="animation-icon"><span class="static-svg"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 39.9 43" xml:space="preserve">
<path d="M31.1,16.4c0,8.1-6.6,14.7-14.7,14.7S1.8,24.5,1.8,16.4S8.3,1.8,16.4,1.8S31.1,8.3,31.1,16.4z"/>
<path d="M25.5,28.6l13.1,13.1"/>
</svg>
</span><span class="animation-svg" data-component="animation-icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 39.9 43" xml:space="preserve">
<path d="M31.1,16.4c0,8.1-6.6,14.7-14.7,14.7S1.8,24.5,1.8,16.4S8.3,1.8,16.4,1.8S31.1,8.3,31.1,16.4z"/>
<path d="M25.5,28.6l13.1,13.1"/>
</svg>
</span></span></div>

    <div class="form-element__status form-element__status--error"></div>
    <div class="form-element__status form-element__status--valid"></div>


</div>

            <div class="search-suggestions">
                <p>suggestions</p>
                <ul class="search-suggestions__list">
                </ul>
            </div>
        </div>

    </div>

</div>    <div class="quicklinks-sidebar quicklinks-sidebar--locations js-quicklinks-sidebar" data-link="locations">
    <p class="quicklinks-sidebar__title">Locations <span class="quicklinks-sidebar__title-addition">And hours</span></p>
    <strong class="quicklinks-sidebar__subtitle">One museum two locations</strong>


            <div class="locations__single locations__single--quicklink">
                            <svg viewBox="0 0 221.8 113.7" enable-background="new 0 0 221.8 113.7" xml:space="preserve" class="" preserveAspectRatio="none">
        <use x="0" y="0" href="#hof-outline" xlink:href="#hof-outline"></use>
        </svg>

            <span class="locations__address">
                <strong>HOF</strong>

                Groot Heiligland 62<br />
2011 ES Haarlem
            </span>

            <a href="https://www.franshalsmuseum.nl/en/visit/visitor-info/#openinghours" class="locations__link active-line">
                Opening hours
                <span></span>
            </a>
        </div>
            <div class="locations__single locations__single--quicklink">
                            <svg viewBox="0 0 80.6 120.5" enable-background="new 0 0 80.6 120.5" xml:space="preserve" class="" preserveAspectRatio="none">
        <use x="0" y="0" href="#hal-outline" xlink:href="#hal-outline"></use>
        </svg>

            <span class="locations__address">
                <strong>HAL</strong>

                Grote Markt 16<br />
2011 RD Haarlem
            </span>

            <a href="https://www.franshalsmuseum.nl/en/visit/visitor-info/#openinghours" class="locations__link active-line">
                Opening hours
                <span></span>
            </a>
        </div>

    <div class="opening-hours__weekly">

            <p class="stagger">Tuesday - Saturday</p>
        <strong class="stagger">11 a.m. – 5 p.m. </strong>
            <p class="stagger">Sundays</p>
        <strong class="stagger">noon - 5 p.m. </strong>

    </div></div>    <div class="quicklinks-sidebar quicklinks-sidebar--opening_hours js-quicklinks-sidebar" data-link="opening-hours">
    <p class="quicklinks-sidebar__title">Our opening hours</p>
    <strong class="quicklinks-sidebar__subtitle">We are waiting for you!</strong>

    <div class="opening-hours__state "><span>Open Today!</span></div>

    <div class="opening-hours__weekly">

            <p class="stagger">Tuesday - Saturday</p>
        <strong class="stagger">11 a.m. – 5 p.m. </strong>
            <p class="stagger">Sundays</p>
        <strong class="stagger">noon - 5 p.m. </strong>

    </div>
    <a href="https://www.franshalsmuseum.nl/en/visit/visitor-info/" class="opening-hours__link active-line">special holiday hours<span></span></a>
</div>
    <div class="close-sidebar js-close-sidebar"></div>
</div>
