{% load staticfiles %}

<div class="hero">
        <div class="secondary-navigation">
            <div class="container">
              <div class="left">
                <a style="font-size:20px;color:white" href="{% url 'main' %}">
                  Название
                </a>
              </div>
              <div class="right dropdown" style="padding-right:10px;font-size:20px;">
                <span>Мой профиль</span>
                <img src="{% static 'images/anonim.jpg' %}" style="border-radius: 50%;width:30px;height:30px;margin-bottom:3px;">
                <div class="dropdown-menu">
                    <a href="{% url 'user' pk=request.user.pk %}" class="dropdown-item">Мой профиль</a>
                    <a href="" class="dropdown-item">Подать объявление</a>
                    <a href="" class="dropdown-item">Разместить курс</a>
                    <a href="{% url 'logout' %}" class="dropdown-item">Выйти</a>
                </div>
              </div>
            </div>
        </div>
      </div>
