{% extends "bases/base.html" %}
{% load humanize ad_count %}
{% block title %}Россия, {{ region.name_ru }} :: {{ category.name_ru }}{% endblock %}
{% block content %}

{% include 'skill_cat_region/hero_form.html' %}

<section class="content module_1">
  <section class="block">
      <div class="container">
        <h2>Россия, {{ region.name_ru }} :: {{ category.name_ru }}</h2>
        <h4 class="row">
          {% for cat in category.adsubcategory_set.all %}
              <span class="col-md-3">
                <a href="{% url 'skill_category_region' cat_name=cat.name_en region_name=region.name_en %}">
                  {{ cat.name_ru }} ({{ cat|cat_region_count:region.pk }})
                </a>
              </span>
          {% endfor %}
         </h4>
      </div>
  </section>
  <section class="block">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
        {% if object_list %}

        <div class="section-title clearfix">
          <div class="float-right d-xs-none thumbnail-toggle">
            <a href="#" class="change-class active" data-change-from-class="list" data-change-to-class="masonry" data-parent-class="items">
                плитка
            </a>
            <a href="#" class="change-class " data-change-from-class="masonry" data-change-to-class="list" data-parent-class="items">
                список
            </a>
          </div>
        </div>
        <div class="items compact masonry grid-xl-3-items grid-lg-2-items grid-md-2-items">
            {% for object in object_list %}
              {% include 'generic/skill.html' %}
            {% endfor %}
          </div>

          {% else %}
          <h1 style="height:400px;text-align:center">
            <br><br><br><br><br>
            Пока нет объявлений :-)</h1>
          {% endif %}
      </div>

      <div class="col-md-3">
          <aside class="sidebar">
            Фильтры
          </aside>
      </div>
    </div>
</div>
  </section>
</section>

{% endblock %}
