{% extends "bases/base.html" %}
{% load staticfiles %}

{% block title %}Сайт объявлений по всей России{% endblock %}
{% block content %}

{% include 'main/ad_form.html' %}

<section class="content ad_content">
  <section class="block">
      <div class="container">
        <h4 class="row">
          {% for cat in ad_categories %}
              <span class="col-md-3">
                <a href="{% url 'ad_category' cat_name=cat.name_en %}">
                  {{ cat.name_ru }} ({{ cat.get_ads_count }})
                </a>
              </span>
          {% endfor %}
         </h4>
      </div>
  </section>

    {% include 'main/new_ads.html' %}

    <section class="block" style="background: black;color: white;">
        <div class="container">
            <div class="block">
                <h2>Система работы сайта достаточно проста</h2>
                <div class="row">
                    <div class="col-md-3">
                        <div class="feature-box">
                            <figure>
                                <img src="{% static 'images/feature-user.png' %}" alt="">
                                <span style="color: black;">1</span>
                            </figure>
                            <h3>Создаёте аккаунт</h3>
                            <p>Покупатель свяжется с Вами напрямую, по указанным Вами контактам</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="feature-box">
                            <figure>
                                <img src="{% static 'images/feature-upload.png' %}" alt="">
                                <span style="color: black;">2</span>
                            </figure>
                            <h3>Добавляете объявление</h3>
                            <p>Кнопка добавления находится сверху справа. Нужно быть зарегистрированным.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="feature-box">
                            <figure>
                                <img src="{% static 'images/feature-like.png' %}" alt="">
                                <span style="color: black;">3</span>
                            </figure>
                            <h3>Ждёте покупателя</h3>
                            <p>Разумеется, будет здорово, если Вы расскажете о нас друзьям.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="feature-box">
                            <figure>
                                <img src="{% static 'images/feature-wallet.png' %}" alt="">
                                <span style="color: black;">4</span>
                            </figure>
                            <h3>Получаете оплату</h3>
                            <p>Заходите на наш сайт еще, он рассчитан на большой трафик по России</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="background" data-background-color="#2b2b2b"></div>
    </section>

</section>
{% endblock %}
