{% load staticfiles %}

<section class="block d-none d-sm-block">
    <div class="container">
        <h2>Россия :: Категории</h2>
        <ul class="categories-list clearfix">

            {% for cat in ad_categories %}
            <li>
              <i class="category-icon">
                  <img src="{% static 'images/category-cars-b.png' %}" alt="">
              </i>
                <h3><a href="">{{ cat.name_ru }} ({{cat.adsubcategory.ad_set.count}})</a></h3>
                <span class="sub-categories">
                  {% for object in cat.adsubcategory_set.all %}
                    <a href="">{{ object.name_ru }} ({{object.ad_set.count}})</a>
                  {% endfor %}
                </span>
            </li>
            {% endfor %}

        </ul>
    </div>
</section>
