{% extends "bases/base.html" %}
{% load staticfiles %}

{% block title %}Многопрофильный сайт по всей России{% endblock %}
{% block content %}

<div class="page-title">
    <div class="container">
      <h1 class="opacity-40 center">
        <a href="{% url 'ads_main' %}">Продавайте</a>,
        <a href="{% url 'courses_main' %}">Обучайтесь</a> и
        <a href="{% url 'ankets_main' %}">Знакомьтесь</a> по всей России
      </h1>
    </div>
</div>

<section class="content">

  <section class="block module_1">
    <div class="container">
        <div class="section-title clearfix">
          <div class="float-xl-left float-md-left float-sm-none">
            <h2>Россия :: Последние объявления</h2>
          </div>
        </div>
        <div class="items masonry grid-xl-4-items grid-lg-3-items grid-md-2-items">
          {% for object in last_ads %}
            {% include 'generic/ad.html' %}
          {% endfor %}
        </div>
      </div>
    </section>

    <section class="block skill_content">
      <div class="container">
          <div class="section-title clearfix">
            <div class="float-xl-left float-md-left float-sm-none">
              <h2>Россия :: Последние курсы</h2>
            </div>
          </div>
          <div class="items masonry grid-xl-4-items grid-lg-3-items grid-md-2-items">
            {% for object in last_courses %}
              {% include 'generic/skill.html' %}
            {% endfor %}
          </div>
        </div>
    </section>

    <section class="block love_content">
      <div class="container">
        <div class="section-title clearfix">
            <div class="float-xl-left float-md-left float-sm-none">
              <h2>Россия :: Последние анкеты</h2>
            </div>
        </div>
        <div class="items masonry grid-xl-4-items grid-lg-3-items grid-md-2-items">
          {% for object in last_ads %}
            {% include 'generic/anketa.html' %}
          {% endfor %}
        </div>
      </div>
    </section>

</section>
{% endblock %}
