{% extends "base.html" %}
{% block title %}Главная страница{% endblock %}
{% block content %}

<main id="js-page-view" class="page-view">


    <div class="page page-home  ">
        <script>
            window.colorset = {
                top: 'rgb(252, 227, 115)',
                bottom: 'rgb(252, 227, 115)'
            }
        </script>

        <div class="js-transition-element">
            <span class="page-transition-element page-transition-element--first" style="background-color: rgb(252, 227, 115)"></span>
            <span class="page-transition-element page-transition-element--second" style="background-color: rgb(252, 227, 115)"></span>
        </div>
        <div class="page__inner js-page-inner">
            <section class="home-hero" data-color="rgb(252, 227, 115)">
                <div class="home-hero__inner">
                    <div class="is-animating" data-component="page-title">
                        <h1 class="home-hero__title js-hero-text" data-component="fittext" data-lines="1">
                            <div class="original-title js-original-title">Welcome</div>

                            <span class="home-hero__title--half">
                                <span class="js-page-title">Welcome</span>
                            </span>
                            <span class="home-hero__title--half">
                                <span class="js-page-title">Welcome</span>
                            </span>
                        </h1>

                        <div class="subtitle-carousel">

                            <div className="subtitle-carousel__inner" data-component="carousel" data-dots="true" data-autoPlay="true" data-freeScroll="false">
                                <a href="https://www.franshalsmuseum.nl/en/news/update-corona-virus/" class="home-hero__subtitle js-page-subtitle slide">MUSEUM CLOSED UNTIL FURTHER NOTICE</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="tickets-visit-buttons">
                    <div class="top-wrapper">
                        <a href="https://tickets.franshalsmuseum.nl/en" class="ticket-visit-button ticket-visit-button--top" style="background-color: #231f20; color: #fce373">
                            <svg viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve" class="" preserveAspectRatio="none">
                                <use x="0" y="0" href="#arrow" xlink:href="#arrow"></use>
                            </svg>
                            <span>Buy tickets</span>
                            <span class="hover" style="background-color: #caa498; color: #231f20">
                                <span class="hover__inner">
                                    <svg viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve" class="" preserveAspectRatio="none">
                                        <use x="0" y="0" href="#arrow" xlink:href="#arrow"></use>
                                    </svg>
                                    <span>Buy tickets</span>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
            </section>

            <section class="home-exhibition home-highlighted-section" data-color="#cca69a">
                <div class="tickets-visit-buttons">
                    <a href="https://www.franshalsmuseum.nl/en/visit/exhibitions-events/" class="ticket-visit-button ticket-visit-button--bottom" style="background-color: #fce373; color: #231f20">
                        <span>
                            All exhibitions </span>
                        <svg viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve" class="" preserveAspectRatio="none">
                            <use x="0" y="0" href="#arrow" xlink:href="#arrow"></use>
                        </svg>
                        <span class="hover" style="background-color: #231f20; color: #fce373">
                            <span class="hover__inner">
                                <span>All exhibitions</span>
                                <svg viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve" class="" preserveAspectRatio="none">
                                    <use x="0" y="0" href="#arrow" xlink:href="#arrow"></use>
                                </svg>
                            </span>
                        </span>
                    </a>
                </div>

                <div class="home-exhibition__inner" data-component="doubledragger">
                    <div class="home-highlighted-section__header js-animate-in-view">
                        <div class="js-scroll-upper">
                            <h2 class="home-highlighted-section__title">
                                <div class="original-title js-original-title"></div>

                                <span class="home-highlighted-section__title--half">
                                    <span class="js-page-title"></span>
                                </span>
                                <span class="home-highlighted-section__title--half">
                                    <span class="js-page-title"></span>
                                </span>
                            </h2>

                        </div>
                    </div>

                    <div class="home-highlighted-section__card-wrapper ">
                        <div class="card-line js-animate-in-view"></div>
                        <div class="home-highlighted-section__card-inner js-animate-in-view js-scroll-lower">

                            <div class="event-card-home">
                                <div class="event-card-home__wrapper">
                                    <a data-href="https://www.franshalsmuseum.nl/en/event/haarlem-heroes-other-masters/" class="event-card-home__image" style="color: #9ad18b">


                                        <div class="intrinsic event-card-home__src  " data-component="lazy" data-imgsrc='[{"width":300,"height":304,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2019\/02\/Combibeeld-Haarlemse-Helden-hoogste-resolutie-Anouk-websiteinsta-vierkant-300x0-c-default.jpg"},{"width":500,"height":506,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2019\/02\/Combibeeld-Haarlemse-Helden-hoogste-resolutie-Anouk-websiteinsta-vierkant-500x0-c-default.jpg"},{"width":700,"height":709,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2019\/02\/Combibeeld-Haarlemse-Helden-hoogste-resolutie-Anouk-websiteinsta-vierkant-700x0-c-default.jpg"}]' style="padding-top: 100%; ">
                                        </div>


                                        <div class="event-card-home__dates">
                                            <span class="event-card__date event-card-home__date"><strong>08 Mar 2019 - 01 Jul 2022</strong></span>

                                        </div>
                                    </a>


                                    <a class="conversion-button svg-link tooltippy tooltip-bottom" target="_blank" href="https://tickets.franshalsmuseum.nl/en" data-tooltippy="buy tickets">
                                        <span class="buy-ticket-button"><span class="animation-icon"><span class="static-svg"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 44.9 44.9" xml:space="preserve">
                                                        <path d="M7.4,31.7c1.6-1.6,4.2-1.6,5.9,0c1.6,1.6,1.6,4.2,0,5.9l0,0l4.9,4.9l24.4-24.4l-4.9-4.9l0,0
c-1.6,1.6-4.2,1.6-5.9,0c-1.6-1.6-1.6-4.2,0-5.9l-4.9-4.9L2.5,26.9L7.4,31.7L7.4,31.7z" />
                                                        <path d="M19,11.3l14.1,14.1" />
                                                    </svg>
                                                </span><span class="animation-svg" data-component="animation-icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 44.9 44.9" xml:space="preserve">
                                                        <path d="M7.4,31.7c1.6-1.6,4.2-1.6,5.9,0c1.6,1.6,1.6,4.2,0,5.9l0,0l4.9,4.9l24.4-24.4l-4.9-4.9l0,0
c-1.6,1.6-4.2,1.6-5.9,0c-1.6-1.6-1.6-4.2,0-5.9l-4.9-4.9L2.5,26.9L7.4,31.7L7.4,31.7z" />
                                                        <path d="M19,11.3l14.1,14.1" />
                                                    </svg>
                                                </span></span></span>
                                    </a>

                                </div>
                                <div class="event-card-home__info">
                                    <a href="https://www.franshalsmuseum.nl/en/event/haarlem-heroes-other-masters/" class="event-card-home__title" data-component="text-fitter">Haarlem Heroes. Other Masters</a>

                                    <div class="event-card-home__location"><a href="https://www.franshalsmuseum.nl/en/event/haarlem-heroes-other-masters/"><strong>Location</strong> Hof</a></div>
                                </div>
                            </div>
                            <div class="event-card-home">
                                <div class="event-card-home__wrapper">
                                    <a data-href="https://www.franshalsmuseum.nl/en/event/exhibition-image-power/" class="event-card-home__image" style="color: #9ad18b">


                                        <div class="intrinsic event-card-home__src  " data-component="lazy" data-imgsrc='[{"width":300,"height":416,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2019\/11\/low-res-jpg--300x0-c-default.jpg"},{"width":500,"height":694,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2019\/11\/low-res-jpg--500x0-c-default.jpg"},{"width":700,"height":972,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2019\/11\/low-res-jpg--700x0-c-default.jpg"}]' style="padding-top: 100%; ">
                                        </div>


                                        <div class="event-card-home__dates">
                                            <span class="event-card__date event-card-home__date"><strong>07 Mar 2020 - 24 May 2020</strong></span>

                                        </div>
                                    </a>


                                    <a class="conversion-button svg-link tooltippy tooltip-bottom" target="_blank" href="https://tickets.franshalsmuseum.nl/en" data-tooltippy="buy tickets">
                                        <span class="buy-ticket-button"><span class="animation-icon"><span class="static-svg"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 44.9 44.9" xml:space="preserve">
                                                        <path d="M7.4,31.7c1.6-1.6,4.2-1.6,5.9,0c1.6,1.6,1.6,4.2,0,5.9l0,0l4.9,4.9l24.4-24.4l-4.9-4.9l0,0
c-1.6,1.6-4.2,1.6-5.9,0c-1.6-1.6-1.6-4.2,0-5.9l-4.9-4.9L2.5,26.9L7.4,31.7L7.4,31.7z" />
                                                        <path d="M19,11.3l14.1,14.1" />
                                                    </svg>
                                                </span><span class="animation-svg" data-component="animation-icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 44.9 44.9" xml:space="preserve">
                                                        <path d="M7.4,31.7c1.6-1.6,4.2-1.6,5.9,0c1.6,1.6,1.6,4.2,0,5.9l0,0l4.9,4.9l24.4-24.4l-4.9-4.9l0,0
c-1.6,1.6-4.2,1.6-5.9,0c-1.6-1.6-1.6-4.2,0-5.9l-4.9-4.9L2.5,26.9L7.4,31.7L7.4,31.7z" />
                                                        <path d="M19,11.3l14.1,14.1" />
                                                    </svg>
                                                </span></span></span>
                                    </a>

                                </div>
                                <div class="event-card-home__info">
                                    <a href="https://www.franshalsmuseum.nl/en/event/exhibition-image-power/" class="event-card-home__title" data-component="text-fitter">Image power</a>

                                    <div class="event-card-home__location"><a href="https://www.franshalsmuseum.nl/en/event/exhibition-image-power/"><strong>Location</strong> Hal</a></div>
                                </div>
                            </div>
                            <div class="event-card-home">
                                <div class="event-card-home__wrapper">
                                    <a data-href="https://www.franshalsmuseum.nl/en/event/museum-in-bloom-3/" class="event-card-home__image" style="color: #9ad18b">


                                        <div class="intrinsic event-card-home__src  " data-component="lazy" data-imgsrc='[{"width":300,"height":300,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2019\/02\/Campagnebeeld-websiteinsta-vierkant-300x0-c-default.jpg"},{"width":500,"height":500,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2019\/02\/Campagnebeeld-websiteinsta-vierkant-500x0-c-default.jpg"},{"width":700,"height":700,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2019\/02\/Campagnebeeld-websiteinsta-vierkant-700x0-c-default.jpg"}]' style="padding-top: 100%; ">
                                        </div>


                                        <div class="event-card-home__dates">
                                            <span class="event-card__date event-card-home__date"><strong>23 Mar 2019 - 02 Jun 2019</strong></span>

                                        </div>
                                    </a>


                                    <a class="conversion-button svg-link tooltippy tooltip-bottom" target="_blank" href="https://tickets.franshalsmuseum.nl/en" data-tooltippy="buy tickets">
                                        <span class="buy-ticket-button"><span class="animation-icon"><span class="static-svg"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 44.9 44.9" xml:space="preserve">
                                                        <path d="M7.4,31.7c1.6-1.6,4.2-1.6,5.9,0c1.6,1.6,1.6,4.2,0,5.9l0,0l4.9,4.9l24.4-24.4l-4.9-4.9l0,0
c-1.6,1.6-4.2,1.6-5.9,0c-1.6-1.6-1.6-4.2,0-5.9l-4.9-4.9L2.5,26.9L7.4,31.7L7.4,31.7z" />
                                                        <path d="M19,11.3l14.1,14.1" />
                                                    </svg>
                                                </span><span class="animation-svg" data-component="animation-icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 44.9 44.9" xml:space="preserve">
                                                        <path d="M7.4,31.7c1.6-1.6,4.2-1.6,5.9,0c1.6,1.6,1.6,4.2,0,5.9l0,0l4.9,4.9l24.4-24.4l-4.9-4.9l0,0
c-1.6,1.6-4.2,1.6-5.9,0c-1.6-1.6-1.6-4.2,0-5.9l-4.9-4.9L2.5,26.9L7.4,31.7L7.4,31.7z" />
                                                        <path d="M19,11.3l14.1,14.1" />
                                                    </svg>
                                                </span></span></span>
                                    </a>

                                </div>
                                <div class="event-card-home__info">
                                    <a href="https://www.franshalsmuseum.nl/en/event/museum-in-bloom-3/" class="event-card-home__title" data-component="text-fitter">Museum in Bloom</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="page-home__container">

                <div class="split-artpieces js-split-artpieces">
                    <div class="hover-trigger-top js-trigger-top" data-pos="top"></div>
                    <div class="hover-trigger-bottom js-trigger-bottom" data-pos="bottom"></div>

                    <div class="split-artpieces__wrapper js-artpieces-wrapper is-active has-video">
                        <div class="split-artpieces__image split-artpieces__image--top js-artpiece-top" data-section="0" style="color: ">

                            <div class="split-artpieces__curtain">
                                <div class="split-artpieces__src" data-component="lazy" data-imgsrc='[{"width":300,"height":225,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2020\/01\/video-top-300x0-c-default.jpg"},{"width":500,"height":374,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2020\/01\/video-top-500x0-c-default.jpg"},{"width":700,"height":524,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2020\/01\/video-top-700x0-c-default.jpg"}]'></div>
                            </div>
                        </div>

                        <div class="split-artpieces__image split-artpieces__image--bottom" data-section="0" style="color: ">

                            <div class="split-artpieces__curtain">
                                <div class="split-artpieces__src" data-component="lazy" data-imgsrc='[{"width":300,"height":225,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2020\/01\/video-bottom-300x0-c-default.jpg"},{"width":500,"height":374,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2020\/01\/video-bottom-500x0-c-default.jpg"},{"width":700,"height":524,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2020\/01\/video-bottom-700x0-c-default.jpg"}]'></div>
                            </div>
                        </div>

                        <div id="video-modal-initial-cont" class="video-modal">
                            <div class="video-modal__cta js-animate-in-view" data-component="modal-button">
                                <div class="video-modal__icon js-toggle-modal" data-target="#video-modal-0">
                                    <svg viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve" class="" preserveAspectRatio="none">
                                        <use x="0" y="0" href="#play-black" xlink:href="#play-black"></use>
                                    </svg>
                                </div>
                                <p class="video-modal__caption">Play video about the Frans Hals Museum</p>
                            </div>

                            <div id="video-modal-0" class="video-modal__container">
                                <div class="animation-slides animation-slides--video-modal">
                                    <div class="animation-slides__top">
                                        <div class="video-modal__cover-wrapper">
                                            <div class="video-modal__cover" style="background-image: url('')"></div>
                                        </div>
                                    </div>
                                    <div class="animation-slides__bottom">
                                        <div class="video-modal__cover-wrapper">
                                            <div class="video-modal__cover" style="background-image: url('')"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="video-modal__content">
                                    <div class="video-modal__close" data-component="modal-button">
                                        <span class="video-modal__close-label js-toggle-modal underline" data-target="#video-modal-0">Close</span>
                                    </div>

                                    <div class="video-modal__video">
                                        <div class="native-video" data-component="native-video">
                                            <video class="native-video__asset" data-md-src="https://www.franshalsmuseum.nl/wp-content/uploads/2020/02/final_fullvideo_FransHalsinHaarlem_DEF4.mp4" data-xs-src="https://www.franshalsmuseum.nl/wp-content/uploads/2020/02/final_fullvideo_FransHalsinHaarlem_DEF4.mp4" controls autoplay="true" data-loaded="false" playsinline controls></video>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="split-artpieces__wrapper js-artpieces-wrapper">
                        <div class="split-artpieces__image split-artpieces__image--top js-artpiece-top" data-section="1" style="color: ">

                            <div class="split-artpieces__curtain">
                                <div class="split-artpieces__src" data-component="lazy" data-imgsrc='[{"width":300,"height":224,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2017\/08\/mf-2006-78_1-300x0-c-default.jpg"},{"width":500,"height":373,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2017\/08\/mf-2006-78_1-500x0-c-default.jpg"},{"width":700,"height":522,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2017\/08\/mf-2006-78_1-700x0-c-default.jpg"}]'></div>
                            </div>
                        </div>

                        <div class="split-artpieces__image split-artpieces__image--bottom" data-section="1" style="color: rgb(202,164,152)">
                            <div data-href="https://www.franshalsmuseum.nl/en/art/portret-van-een-dame-met-handschoenen/" class="split-artpieces__artpiece js-artpiece">


                                <div class="intrinsic   " data-component="lazy" data-imgsrc='[{"width":500,"height":619,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2017\/08\/os-2011-7-Velsink-2011-500x0-c-default.jpg"},{"width":800,"height":990,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2017\/08\/os-2011-7-Velsink-2011-800x0-c-default.jpg"},{"width":1200,"height":1485,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2017\/08\/os-2011-7-Velsink-2011-1200x0-c-default.jpg"}]' style="padding-top: 123.79110251451%; ">
                                </div>

                            </div>

                            <div class="split-artpieces__curtain">
                                <div class="split-artpieces__src" data-component="lazy" data-imgsrc='[{"width":300,"height":224,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2017\/08\/Layer-5-300x0-c-default.jpg"},{"width":500,"height":373,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2017\/08\/Layer-5-500x0-c-default.jpg"},{"width":700,"height":523,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2017\/08\/Layer-5-700x0-c-default.jpg"}]'></div>
                            </div>
                        </div>

                    </div>
                    <div class="split-artpieces__wrapper js-artpieces-wrapper">
                        <div class="split-artpieces__image split-artpieces__image--top js-artpiece-top" data-section="2" style="color: ">

                            <div class="split-artpieces__curtain">
                                <div class="split-artpieces__src" data-component="lazy" data-imgsrc='[{"width":300,"height":224,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2018\/02\/FransHals_Mashups_1-1-300x0-c-default.jpg"},{"width":500,"height":373,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2018\/02\/FransHals_Mashups_1-1-500x0-c-default.jpg"},{"width":700,"height":522,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2018\/02\/FransHals_Mashups_1-1-700x0-c-default.jpg"}]'></div>
                            </div>
                        </div>

                        <div class="split-artpieces__image split-artpieces__image--bottom" data-section="2" style="color: rgb(243,116,74)">
                            <div data-href="https://www.franshalsmuseum.nl/en/art/the-licentious-kitchen-maid/" class="split-artpieces__artpiece js-artpiece">


                                <div class="intrinsic   " data-component="lazy" data-imgsrc='[{"width":500,"height":581,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2018\/03\/OS-I-295-500x0-c-default.png"},{"width":800,"height":930,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2018\/03\/OS-I-295-800x0-c-default.png"},{"width":1200,"height":1396,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2018\/03\/OS-I-295-1200x0-c-default.png"}]' style="padding-top: 116.29315566323%; ">
                                </div>

                            </div>

                            <div class="split-artpieces__curtain">
                                <div class="split-artpieces__src" data-component="lazy" data-imgsrc='[{"width":300,"height":224,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2018\/02\/FransHals_Mashups2-1-300x0-c-default.jpg"},{"width":500,"height":373,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2018\/02\/FransHals_Mashups2-1-500x0-c-default.jpg"},{"width":700,"height":522,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2018\/02\/FransHals_Mashups2-1-700x0-c-default.jpg"}]'></div>
                            </div>
                        </div>

                    </div>
                </div>

                <section class="home-discover js-home-section" data-color="#E57B54">
                    <div class="home-discover__inner">
                        <div class="home-highlighted-section__header js-animate-in-view">
                            <div class="">
                                <h2 class="home-highlighted-section__title">
                                    <div class="original-title js-original-title">Discover</div>

                                    <span class="home-highlighted-section__title--half">
                                        <span class="js-page-title">Discover</span>
                                    </span>
                                    <span class="home-highlighted-section__title--half">
                                        <span class="js-page-title">Discover</span>
                                    </span>
                                </h2>

                            </div>
                        </div>



                        <div class="locations__container locations__container--discover">

                            <div class="locations__wrapper">
                                <div class="locations__single">
                                    <a href="https://www.franshalsmuseum.nl/en/visit/visitor-info/#openinghours">


                                        <div class="intrinsic location__img bordered " data-component="lazy" data-imgsrc='[{"width":500,"height":373,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2020\/01\/hof-1.jpg"},{"width":800,"height":596,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2020\/01\/hof-1.jpg"},{"width":1200,"height":894,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2020\/01\/hof-1.jpg"}]' style="padding-top: 74.517374517375%; color: rgb(154,209,139)">
                                        </div>


                                        <span class="locations__address">
                                            <strong>HOF</strong>

                                            Groot Heiligland 62<br />
                                            2011 ES Haarlem
                                        </span>
                                    </a>

                                    <a href="https://www.franshalsmuseum.nl/en/visit/visitor-info/#openinghours" class="locations__link active-line">
                                        Opening hours
                                        <span></span>
                                    </a>
                                </div>

                                <div class="locations__single">
                                    <a href="https://www.franshalsmuseum.nl/en/visit/visitor-info/#openinghours">


                                        <div class="intrinsic location__img bordered " data-component="lazy" data-imgsrc='[{"width":500,"height":373,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2020\/01\/hal-1.jpg"},{"width":800,"height":596,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2020\/01\/hal-1.jpg"},{"width":1200,"height":894,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2020\/01\/hal-1.jpg"}]' style="padding-top: 74.517374517375%; color: rgb(154,209,139)">
                                        </div>


                                        <span class="locations__address">
                                            <strong>HAL</strong>

                                            Grote Markt 16<br />
                                            2011 RD Haarlem
                                        </span>
                                    </a>

                                    <a href="https://www.franshalsmuseum.nl/en/visit/visitor-info/#openinghours" class="locations__link active-line">
                                        Opening hours
                                        <span></span>
                                    </a>
                                </div>

                            </div>

                            <div class="locations__title">One museum two locations</div>
                            <div class="locations__copy">Welcome to the Frans Hals Museum. One museum at two locations. With old art from the 16th and 17th centuries, modern and contemporary art and a stimulating mix of both.</div>
                        </div>
                    </div>
                </section>

                <section class="home-journal js-home-section" data-color="#9ACF8A">
                    <div class="home-journal__inner js-animate-in-view">
                        <div class="home-highlighted-section__header js-animate-in-view">
                            <div class="">
                                <h2 class="home-highlighted-section__title">
                                    <div class="original-title js-original-title">New</div>

                                    <span class="home-highlighted-section__title--half">
                                        <span class="js-page-title">New</span>
                                    </span>
                                    <span class="home-highlighted-section__title--half">
                                        <span class="js-page-title">New</span>
                                    </span>
                                </h2>

                                <p><a href='https://www.franshalsmuseum.nl/en/learn/new/' class='active-line'>Explore museum highlights and more<span></span></a><span class="animation-icon"><span class="static-svg"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 43.5 41" xml:space="preserve">
                                                <path d="M11.8,21.7V4.1c0-1.3,1.1-2.3,2.4-2.3h25.2c1.3,0,2.4,1,2.4,2.3V37c0,1.3-1.1,2.3-2.4,2.3H13.6H6.8
c-5,0-5-5-5-5V30V19.2h10v15c0,2.8-2.2,5-5,5" />
                                                <path d="M35,19.2H19.2V8.4H35V19.2z" />
                                                <path d="M35,25.9H18.5" />
                                            </svg>
                                        </span><span class="animation-svg" data-component="animation-icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 43.5 41" xml:space="preserve">
                                                <path d="M11.8,21.7V4.1c0-1.3,1.1-2.3,2.4-2.3h25.2c1.3,0,2.4,1,2.4,2.3V37c0,1.3-1.1,2.3-2.4,2.3H13.6H6.8
c-5,0-5-5-5-5V30V19.2h10v15c0,2.8-2.2,5-5,5" />
                                                <path d="M35,19.2H19.2V8.4H35V19.2z" />
                                                <path d="M35,25.9H18.5" />
                                            </svg>
                                        </span></span></p>
                            </div>
                        </div>


                        <div class="home-journal__news-cards js-animate-in-view">

                            <div class="news-card bordered js-animate-in-view" style="color:rgb(252,227,115)" data-color="rgb(252,227,115)">
                                <a class="news-card__link news-card__thumbnail" href="https://www.franshalsmuseum.nl/en/news/update-corona-virus/">


                                    <div class="intrinsic  bordered intrinsic--split" data-component="lazy" data-imgsrc='[{"width":300,"height":200,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2019\/12\/FransHals-12-Foto-Mo-Schalkx-300x0-c-default.jpg"},{"width":500,"height":333,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2019\/12\/FransHals-12-Foto-Mo-Schalkx-500x0-c-default.jpg"},{"width":700,"height":466,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2019\/12\/FransHals-12-Foto-Mo-Schalkx-700x0-c-default.jpg"}]' style="padding-top: 66.639444671294%; color: rgb(252,227,115)">
                                        <div class="intrinsic__half intrinsic__half--top">
                                            <div class="intrinsic__half__image" style="border-width: 66.639444671294px 100px"></div>
                                        </div>
                                        <div class="intrinsic__half intrinsic__half--bottom">
                                            <div class="intrinsic__half__image" style="border-width: 66.639444671294px 100px"></div>
                                        </div>
                                    </div>

                                    <div class="news-card__inner"></div>
                                </a>
                                <div class="news-card__infos">

                                    <p class="news-card__post-date"><a href="https://www.franshalsmuseum.nl/en/news/update-corona-virus/"><span>News</span> 24th March 2020</a></p>
                                    <a class="news-card__link" href="https://www.franshalsmuseum.nl/en/news/update-corona-virus/">
                                        <h2 class="news-card__title">closed until further notice</h2>
                                    </a>
                                    <p class="news-card__excerpt"><a href="https://www.franshalsmuseum.nl/en/news/update-corona-virus/"></a></p>
                                </div>
                            </div>
                            <div class="news-card bordered js-animate-in-view" style="color:rgb(252,227,115)" data-color="rgb(252,227,115)">
                                <a class="news-card__link news-card__thumbnail" href="https://www.franshalsmuseum.nl/en/news/inclusion-and-diversity/">


                                    <div class="intrinsic  bordered intrinsic--split" data-component="lazy" data-imgsrc='[{"width":300,"height":300,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2020\/03\/MBK_logo_zwart-300x0-c-default.png"},{"width":500,"height":500,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2020\/03\/MBK_logo_zwart-500x0-c-default.png"},{"width":700,"height":700,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2020\/03\/MBK_logo_zwart-700x0-c-default.png"}]' style="padding-top: 100%; color: rgb(252,227,115)">
                                        <div class="intrinsic__half intrinsic__half--top">
                                            <div class="intrinsic__half__image" style="border-width: 100px 100px"></div>
                                        </div>
                                        <div class="intrinsic__half intrinsic__half--bottom">
                                            <div class="intrinsic__half__image" style="border-width: 100px 100px"></div>
                                        </div>
                                    </div>

                                    <div class="news-card__inner"></div>
                                </a>
                                <div class="news-card__infos">

                                    <p class="news-card__post-date"><a href="https://www.franshalsmuseum.nl/en/news/inclusion-and-diversity/"><span>News</span> 4th March 2020</a></p>
                                    <a class="news-card__link" href="https://www.franshalsmuseum.nl/en/news/inclusion-and-diversity/">
                                        <h2 class="news-card__title">Frans Hals Museum works together with other museums for more inclusion and diversity</h2>
                                    </a>
                                    <p class="news-card__excerpt"><a href="https://www.franshalsmuseum.nl/en/news/inclusion-and-diversity/"></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>


            <footer class="footer js-footer" data-color="rgb(252, 227, 115)" style="background-color: rgb(252, 227, 115)">
                <div class="footer-newsletter" data-component="newsletter">
                    <h3 class="footer-newsletter__subtitle">Newsletter</h3>


                    <form class="footer-newsletter__form js-newsletterSubscribe">
                        <p class="footer-newsletter__title">
                            <span class="footer-newsletter__title--feedback js-initial-message">
                                Frans likes to send you emails
                                <span data-text="Frans likes to send you emails"></span>
                                <span data-text="Frans likes to send you emails"></span>
                            </span>
                            <span class="footer-newsletter__title--feedback js-name-message hidden">
                                Frans is pleased to meet you
                                <span data-text="Frans is pleased to meet you"></span>
                                <span data-text="Frans is pleased to meet you"></span>
                            </span>
                            <span class="footer-newsletter__title--feedback js-error-message hidden">
                                Frans can't accept this email
                                <span data-text="Frans can't accept this email"></span>
                                <span data-text="Frans can't accept this email"></span>
                            </span>
                            <span class="footer-newsletter__title--feedback js-valid-message hidden">
                                Looking good!
                                <span data-text="Looking good!"></span>
                                <span data-text="Looking good!"></span>
                            </span>
                            <span class="footer-newsletter__title--feedback js-choice-message hidden">
                                Select your newsletter(s)
                                <span data-text="Select your newsletter(s)"></span>
                                <span data-text="Select your newsletter(s)"></span>

                            </span>
                            <span class="footer-newsletter__title--feedback js-succes-message hidden">
                                Awesome! You've got mail
                                <span data-text="Awesome! You've got mail"></span>
                                <span data-text="Awesome! You've got mail"></span>

                            </span>
                        </p>

                        <div class="footer-newsletter__body">
                            <div class="footer-newsletter__fields">
                                <p>
                                    <label>
                                        <input class="footer-newsletter__input js-newsletter-input" style="color: rgb(243, 116, 74)" />
                                        <span class='input-label'>
                                            Name
                                        </span>
                                    </label>

                                    <label>
                                        <input class="footer-newsletter__input js-newsletter-input js-email" style="color: rgb(243, 116, 74)" />
                                        <span class='input-label'>
                                            Email
                                        </span>
                                    </label>
                                </p>
                            </div>



                            <span class="js-mc-newsletter" data-id="d90361d702" style="display: none"></span>

                            <button class="button button--rounded footer-newsletter__submit js-newsletterSubmit" style="color: rgb(252, 227, 115)" disabled="disabled" data-nonce="b911c5f8df"><span>signup</span></button>
                        </div>
                    </form>
                </div>
                <div class="footer-locations">

                    <div class="locations__container">
                        <div class="locations__title">One museum two locations</div>
                        <div class="locations__wrapper">
                            <div class="locations__single">
                                <a href="https://www.franshalsmuseum.nl/en/visit/visitor-info/#openinghours">
                                    <svg viewBox="0 0 221.8 113.7" enable-background="new 0 0 221.8 113.7" xml:space="preserve" class="" preserveAspectRatio="none">
                                        <use x="0" y="0" href="#hof-outline" xlink:href="#hof-outline"></use>
                                    </svg>

                                    <span class="locations__address">
                                        <strong>HOF</strong>

                                        Groot Heiligland 62<br />
                                        2011 ES Haarlem
                                    </span>
                                </a>

                                <a href="https://www.franshalsmuseum.nl/en/visit/visitor-info/#openinghours" class="locations__link active-line">
                                    Opening hours
                                    <span></span>
                                </a>
                            </div>

                            <div class="locations__single">
                                <a href="https://www.franshalsmuseum.nl/en/visit/visitor-info/#openinghours">
                                    <svg viewBox="0 0 80.6 120.5" enable-background="new 0 0 80.6 120.5" xml:space="preserve" class="" preserveAspectRatio="none">
                                        <use x="0" y="0" href="#hal-outline" xlink:href="#hal-outline"></use>
                                    </svg>

                                    <span class="locations__address">
                                        <strong>HAL</strong>

                                        Grote Markt 16<br />
                                        2011 RD Haarlem
                                    </span>
                                </a>

                                <a href="https://www.franshalsmuseum.nl/en/visit/visitor-info/#openinghours" class="locations__link active-line">
                                    Opening hours
                                    <span></span>
                                </a>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="footer__socials">
                    <a class="footer__social footer__social--facebook" href="https://www.facebook.com/franshalsmuseum/"><span class="animation-icon"><span class="static-svg"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 25.1 43.5" xml:space="preserve">
                                    <path d="M22.5,1.8l-5.2,0c-5.8,0-9.6,3.9-9.6,9.8v4.5c0,0,0,0,0,0H2.6c-0.5,0-0.8,0.4-0.8,0.8v6.5
c0,0.5,0.4,0.8,0.8,0.8h5.2c0,0,0,0,0,0v16.5c0,0.5,0.4,0.8,0.8,0.8h6.8c0.5,0,0.8-0.4,0.8-0.8V24.4c0,0,0,0,0,0h6.1
c0.5,0,0.8-0.4,0.8-0.8l0-6.6c0-0.2-0.1-0.4-0.2-0.6s-0.4-0.2-0.6-0.2h-6.1c0,0,0,0,0,0v-3.8c0-1.8,0.4-2.8,2.9-2.8l3.5,0
c0.5,0,0.8-0.4,0.8-0.8V2.6C23.4,2.1,23,1.8,22.5,1.8z" />
                                </svg>
                            </span><span class="animation-svg" data-component="animation-icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 25.1 43.5" xml:space="preserve">
                                    <path d="M22.5,1.8l-5.2,0c-5.8,0-9.6,3.9-9.6,9.8v4.5c0,0,0,0,0,0H2.6c-0.5,0-0.8,0.4-0.8,0.8v6.5
c0,0.5,0.4,0.8,0.8,0.8h5.2c0,0,0,0,0,0v16.5c0,0.5,0.4,0.8,0.8,0.8h6.8c0.5,0,0.8-0.4,0.8-0.8V24.4c0,0,0,0,0,0h6.1
c0.5,0,0.8-0.4,0.8-0.8l0-6.6c0-0.2-0.1-0.4-0.2-0.6s-0.4-0.2-0.6-0.2h-6.1c0,0,0,0,0,0v-3.8c0-1.8,0.4-2.8,2.9-2.8l3.5,0
c0.5,0,0.8-0.4,0.8-0.8V2.6C23.4,2.1,23,1.8,22.5,1.8z" />
                                </svg>
                            </span></span></a>
                    <a class="footer__social footer__social--twitter" href="https://twitter.com/franshalsmuseum"><span class="animation-icon"><span class="static-svg"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 43.5 35.3" xml:space="preserve">
                                    <path d="M37.4,20.8" />
                                    <path d="M36.7,18c-0.3,1.3-0.9,2.6-1.6,3.8c-3.7,6.4-10.4,10.8-17.8,11.6c-8.8,1-15.5-3-15.5-3
c5.4,1.6,12.4-3.9,12.4-3.9c-6.2,0.8-7.8-5.4-7.8-5.4c1.6,0,3.1-0.8,3.1-0.8c-6.2-1.6-6.2-7.8-6.2-7.8c1.6,0.8,3.9,0.8,3.9,0.8
C1,8.7,4.9,2.5,4.9,2.5s3.9,5.4,8.5,7s7.8,1.6,8.5,1.6h0.9c-0.2-0.7-0.2-1.5-0.1-2.3c0.3-3.6,3.2-6.5,6.8-6.9
c4.7-0.5,8.6,3.1,8.6,7.7C38.2,9.5,38.1,14.4,36.7,18z" />
                                    <path d="M39,6.5c0,0,1.3,0.1,2.8-0.6C41,6.8,39.9,8,39,8.4" />
                                    <path d="M36.8,3.5c0,0,3-0.8,3.8-1.2c-0.5,0.9-1.6,2.1-2.2,2.4" />
                                </svg>
                            </span><span class="animation-svg" data-component="animation-icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 43.5 35.3" xml:space="preserve">
                                    <path d="M37.4,20.8" />
                                    <path d="M36.7,18c-0.3,1.3-0.9,2.6-1.6,3.8c-3.7,6.4-10.4,10.8-17.8,11.6c-8.8,1-15.5-3-15.5-3
c5.4,1.6,12.4-3.9,12.4-3.9c-6.2,0.8-7.8-5.4-7.8-5.4c1.6,0,3.1-0.8,3.1-0.8c-6.2-1.6-6.2-7.8-6.2-7.8c1.6,0.8,3.9,0.8,3.9,0.8
C1,8.7,4.9,2.5,4.9,2.5s3.9,5.4,8.5,7s7.8,1.6,8.5,1.6h0.9c-0.2-0.7-0.2-1.5-0.1-2.3c0.3-3.6,3.2-6.5,6.8-6.9
c4.7-0.5,8.6,3.1,8.6,7.7C38.2,9.5,38.1,14.4,36.7,18z" />
                                    <path d="M39,6.5c0,0,1.3,0.1,2.8-0.6C41,6.8,39.9,8,39,8.4" />
                                    <path d="M36.8,3.5c0,0,3-0.8,3.8-1.2c-0.5,0.9-1.6,2.1-2.2,2.4" />
                                </svg>
                            </span></span></a>
                    <a class="footer__social footer__social--instagram" href="https://www.instagram.com/franshalsmuseum/"><span class="animation-icon"><span class="static-svg"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 43.5 43.5" xml:space="preserve">
                                    <path d="M33.8,41.8h-24c-4.4,0-8-3.6-8-8v-24c0-4.4,3.6-8,8-8h24c4.4,0,8,3.6,8,8v24C41.8,38.2,38.2,41.8,33.8,41.8z" />
                                    <path d="M30.4,21.8c0,4.8-3.9,8.6-8.6,8.6s-8.6-3.9-8.6-8.6s3.9-8.6,8.6-8.6S30.4,17,30.4,21.8z" />
                                    <path d="M35.4,9.6C35,10,34.3,9.9,33.9,9.5S33.5,8.4,34,8s1.1-0.4,1.5,0.1S35.9,9.2,35.4,9.6z" />
                                </svg>
                            </span><span class="animation-svg" data-component="animation-icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 43.5 43.5" xml:space="preserve">
                                    <path d="M33.8,41.8h-24c-4.4,0-8-3.6-8-8v-24c0-4.4,3.6-8,8-8h24c4.4,0,8,3.6,8,8v24C41.8,38.2,38.2,41.8,33.8,41.8z" />
                                    <path d="M30.4,21.8c0,4.8-3.9,8.6-8.6,8.6s-8.6-3.9-8.6-8.6s3.9-8.6,8.6-8.6S30.4,17,30.4,21.8z" />
                                    <path d="M35.4,9.6C35,10,34.3,9.9,33.9,9.5S33.5,8.4,34,8s1.1-0.4,1.5,0.1S35.9,9.2,35.4,9.6z" />
                                </svg>
                            </span></span></a>
                </div>

                <nav class="footer-nav">
                    <div class="footer-nav__link">
                        <a href="https://www.franshalsmuseum.nl/en/terms/" class="underline">Terms</a>
                    </div>
                    <div class="footer-nav__link">
                        <a href="https://www.franshalsmuseum.nl/en/about/" class="underline">About us</a>
                    </div>
                    <div class="footer-nav__link">
                        <a href="https://www.franshalsmuseum.nl/en/about/faq/" class="underline">FAQ</a>
                    </div>
                    <div class="footer-nav__link">
                        <a href="https://www.franshalsmuseum.nl/en/about/contact/" class="underline">Contact</a>
                    </div>
                    <div class="footer-nav__link">
                        <a href="https://www.franshalsmuseum.nl/en/colophon/" class="underline">Colophon</a>
                    </div>
                    <div class="footer-nav__link">
                        <a href="https://www.franshalsmuseum.nl/en/about/curators/" class="underline">Curators</a>
                    </div>
                </nav>

                <div class="footer__logos">
                    <svg viewBox="0 0 593.1 169.3" enable-background="new 0 0 593.1 169.3" xml:space="preserve" class="" preserveAspectRatio="none">
                        <use x="0" y="0" href="#haarlem" xlink:href="#haarlem"></use>
                    </svg>

                    <svg viewBox="0 0 211.8 34.2" enable-background="new 0 0 211.8 34.2" xml:space="preserve" class="" preserveAspectRatio="none">
                        <use x="0" y="0" href="#BGL" xlink:href="#BGL"></use>
                    </svg>
                </div>
            </footer>
        </div>
    </div>

</main>

{% endblock %}
