{% extends "base.html" %}

{% block title %}Главаня страница{% endblock %}
{% block content %}

<body class="is-loading ">
    {% include "base_block/svg_top.html" %}

        <div class="resizing">
          <div class="resizing__title">Repainting artworks</div>
        </div>

        <div class="page-transition-curtains">
            <div class="page-transition-curtain page-transition-curtain--top"></div>
            <div class="page-transition-curtain page-transition-curtain--bottom"></div>
        </div>

        <a href="" class="logo">
          <svg viewBox="0 0 340.8 100" enable-background="new 0 0 340.8 100" xml:space="preserve" class="svg-logo" preserveAspectRatio="none">
            <use x="0" y="0" href="#logo" xlink:href="#logo"></use>
          </svg>
        </a>

<div class="play-btn__wrapper" data-component="play-button">
    <a href="" class="play-btn">
        <svg x="0px" y="0px" viewBox="0 0 102.3 40" xml:space="preserve">
            <polygon points="93.9,14 93.9,26.3 88.3,26.3 88.3,14 79.9,0 86.2,0 91,8.2 96,0 102.3,0 "></polygon>
            <path d="M66.4,13.7H62L51.5,40h5.7l2.1-5.2h10.1l2.1,5.2h5.7L66.4,13.7z M61.2,30.1l3.1-7.8l3.2,7.8H61.2z"></path>
            <polygon points="30.9,0 36.6,0 36.6,20.6 44.4,20.6 44.4,26.3 30.9,26.3 "></polygon>
            <path d="M9,13.7H0V40h5.6V29.8l3.3-0.1c1.6,0,4-0.9,5.4-2c1.7-1.4,2.8-3.8,2.8-6.4C17.1,16.7,13.9,13.7,9,13.7z M7.8,25.1H5.6v-6.7c0.6,0,1-0.1,1.3-0.1c2.8,0,4.4,1.2,4.4,3.4C11.2,23.6,9.7,25.1,7.8,25.1z"></path>
        </svg>
    </a>
</div>

<div class="header-overlay js-toggleMenu"></div>


{% include "base_block/header.html" %}
{% include "base_block/menu_2.html" %}

        <main id="js-page-view" class="page-view">


    <div class="page page-home  ">
    	<script>
    		window.colorset = {
    			top: 'rgb(252, 227, 115)',
    			bottom: 'rgb(252, 227, 115)'
    		}
    	</script>

		<div class="js-transition-element">
			<span class="page-transition-element page-transition-element--first" style="background-color: rgb(252, 227, 115)"></span>
			<span class="page-transition-element page-transition-element--second" style="background-color: rgb(252, 227, 115)"></span>
		</div>
		<div class="page__inner js-page-inner">
			<section class="home-hero" data-color="rgb(252, 227, 115)">
				<div class="home-hero__inner">
    <div class="is-animating" data-component="page-title">
        <h1 class="home-hero__title js-hero-text" data-component="fittext" data-lines="1">
            <div class="original-title js-original-title">Welcome</div>

            <span class="home-hero__title--half">
                <span class="js-page-title">Welcome</span>
            </span>
            <span class="home-hero__title--half">
                <span class="js-page-title">Welcome</span>
            </span>
        </h1>

        <div class="subtitle-carousel">

            <div className="subtitle-carousel__inner" data-component="carousel" data-dots="true" data-autoPlay="true" data-freeScroll="false">
                                                            <a href="" class="home-hero__subtitle js-page-subtitle slide">MUSEUM CLOSED UNTIL FURTHER NOTICE</a>
                                                </div>
        </div>

    </div>
</div>

<div class="tickets-visit-buttons">
    <div class="top-wrapper">
        <a href="" class="ticket-visit-button ticket-visit-button--top" style="background-color: #231f20; color: #fce373">
            <svg viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve" class="" preserveAspectRatio="none">
        <use x="0" y="0" href="#arrow" xlink:href="#arrow"></use>
        </svg>
            <span>Buy tickets</span>
            <span class="hover" style="background-color: #caa498; color: #231f20">
                <span class="hover__inner">
                    <svg viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve" class="" preserveAspectRatio="none">
        <use x="0" y="0" href="#arrow" xlink:href="#arrow"></use>
        </svg>
                    <span>Buy tickets</span>
                </span>
            </span>
        </a>
    </div>
</div>			</section>

			<section class="home-exhibition home-highlighted-section" data-color="#cca69a">
				<div class="tickets-visit-buttons">
    <a href="" class="ticket-visit-button ticket-visit-button--bottom" style="background-color: #fce373; color: #231f20">
        <span>
            All exhibitions                    </span>
        <svg viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve" class="" preserveAspectRatio="none">
        <use x="0" y="0" href="#arrow" xlink:href="#arrow"></use>
        </svg>
        <span class="hover" style="background-color: #231f20; color: #fce373">
            <span class="hover__inner">
                <span>All exhibitions</span>
                <svg viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve" class="" preserveAspectRatio="none">
        <use x="0" y="0" href="#arrow" xlink:href="#arrow"></use>
        </svg>
            </span>
        </span>
    </a>
</div>

<div class="home-exhibition__inner" data-component="doubledragger">
    <div class="home-highlighted-section__header js-animate-in-view">
    <div class="js-scroll-upper">
        <h2 class="home-highlighted-section__title">
            <div class="original-title js-original-title"></div>

            <span class="home-highlighted-section__title--half">
                <span class="js-page-title"></span>
            </span>
            <span class="home-highlighted-section__title--half">
                <span class="js-page-title"></span>
            </span>
        </h2>

            </div>
</div>

    <div class="home-highlighted-section__card-wrapper ">
        <div class="card-line js-animate-in-view"></div>
        <div class="home-highlighted-section__card-inner js-animate-in-view js-scroll-lower">

<div class="event-card-home">
    <div class="event-card-home__wrapper">
        <a data-href="" class="event-card-home__image" style="color: #9ad18b">


<div class="intrinsic event-card-home__src  " data-component="lazy" data-imgsrc='[{"width":300,"height":304,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2019\/02\/Combibeeld-Haarlemse-Helden-hoogste-resolutie-Anouk-websiteinsta-vierkant-300x0-c-default.jpg"},{"width":500,"height":506,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2019\/02\/Combibeeld-Haarlemse-Helden-hoogste-resolutie-Anouk-websiteinsta-vierkant-500x0-c-default.jpg"},{"width":700,"height":709,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2019\/02\/Combibeeld-Haarlemse-Helden-hoogste-resolutie-Anouk-websiteinsta-vierkant-700x0-c-default.jpg"}]' style="padding-top: 100%; ">
		</div>


            <div class="event-card-home__dates">
                                                            <span class="event-card__date event-card-home__date"><strong>08 Mar 2019 - 01 Jul 2022</strong></span>

            </div>
        </a>


                    <a class="conversion-button svg-link tooltippy tooltip-bottom" href="" data-tooltippy="buy tickets">
                <span class="buy-ticket-button"><span class="animation-icon"><span class="static-svg"><svg x="0px" y="0px" viewBox="0 0 44.9 44.9" xml:space="preserve">
<path d="M7.4,31.7c1.6-1.6,4.2-1.6,5.9,0c1.6,1.6,1.6,4.2,0,5.9l0,0l4.9,4.9l24.4-24.4l-4.9-4.9l0,0
	c-1.6,1.6-4.2,1.6-5.9,0c-1.6-1.6-1.6-4.2,0-5.9l-4.9-4.9L2.5,26.9L7.4,31.7L7.4,31.7z"/>
<path d="M19,11.3l14.1,14.1"/>
</svg>
</span><span class="animation-svg" data-component="animation-icon"><svg x="0px" y="0px" viewBox="0 0 44.9 44.9" xml:space="preserve">
<path d="M7.4,31.7c1.6-1.6,4.2-1.6,5.9,0c1.6,1.6,1.6,4.2,0,5.9l0,0l4.9,4.9l24.4-24.4l-4.9-4.9l0,0
	c-1.6,1.6-4.2,1.6-5.9,0c-1.6-1.6-1.6-4.2,0-5.9l-4.9-4.9L2.5,26.9L7.4,31.7L7.4,31.7z"/>
<path d="M19,11.3l14.1,14.1"/>
</svg>
</span></span></span>
            </a>

            </div>
    <div class="event-card-home__info">
                <a href="" class="event-card-home__title" data-component="text-fitter">Haarlem Heroes. Other Masters</a>

                                    <div class="event-card-home__location"><a href=""><strong>Location</strong> Hof</a></div>
                        </div>
</div>
<div class="event-card-home">
    <div class="event-card-home__wrapper">
        <a data-href="" class="event-card-home__image" style="color: #9ad18b">


<div class="intrinsic event-card-home__src  " data-component="lazy" data-imgsrc='[{"width":300,"height":416,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2019\/11\/low-res-jpg--300x0-c-default.jpg"},{"width":500,"height":694,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2019\/11\/low-res-jpg--500x0-c-default.jpg"},{"width":700,"height":972,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2019\/11\/low-res-jpg--700x0-c-default.jpg"}]' style="padding-top: 100%; ">
		</div>


            <div class="event-card-home__dates">
                                                            <span class="event-card__date event-card-home__date"><strong>07 Mar 2020 - 24 May 2020</strong></span>

            </div>
        </a>


                    <a class="conversion-button svg-link tooltippy tooltip-bottom" target="_blank" href="" data-tooltippy="buy tickets">
                <span class="buy-ticket-button"><span class="animation-icon"><span class="static-svg"><svg x="0px" y="0px" viewBox="0 0 44.9 44.9" xml:space="preserve">
<path d="M7.4,31.7c1.6-1.6,4.2-1.6,5.9,0c1.6,1.6,1.6,4.2,0,5.9l0,0l4.9,4.9l24.4-24.4l-4.9-4.9l0,0
	c-1.6,1.6-4.2,1.6-5.9,0c-1.6-1.6-1.6-4.2,0-5.9l-4.9-4.9L2.5,26.9L7.4,31.7L7.4,31.7z"/>
<path d="M19,11.3l14.1,14.1"/>
</svg>
</span><span class="animation-svg" data-component="animation-icon"><svg x="0px" y="0px" viewBox="0 0 44.9 44.9" xml:space="preserve">
<path d="M7.4,31.7c1.6-1.6,4.2-1.6,5.9,0c1.6,1.6,1.6,4.2,0,5.9l0,0l4.9,4.9l24.4-24.4l-4.9-4.9l0,0
	c-1.6,1.6-4.2,1.6-5.9,0c-1.6-1.6-1.6-4.2,0-5.9l-4.9-4.9L2.5,26.9L7.4,31.7L7.4,31.7z"/>
<path d="M19,11.3l14.1,14.1"/>
</svg>
</span></span></span>
            </a>

            </div>
    <div class="event-card-home__info">
                <a href="" class="event-card-home__title" data-component="text-fitter">Image power</a>

                                    <div class="event-card-home__location"><a href=""><strong>Location</strong> Hal</a></div>
                        </div>
</div>
<div class="event-card-home">
    <div class="event-card-home__wrapper">
        <a data-href="" class="event-card-home__image" style="color: #9ad18b">


<div class="intrinsic event-card-home__src  " data-component="lazy" data-imgsrc='[{"width":300,"height":300,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2019\/02\/Campagnebeeld-websiteinsta-vierkant-300x0-c-default.jpg"},{"width":500,"height":500,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2019\/02\/Campagnebeeld-websiteinsta-vierkant-500x0-c-default.jpg"},{"width":700,"height":700,"src":"https:\/\/www.franshalsmuseum.nl\/wp-content\/uploads\/2019\/02\/Campagnebeeld-websiteinsta-vierkant-700x0-c-default.jpg"}]' style="padding-top: 100%; ">
		</div>

            <div class="event-card-home__dates">
                                                            <span class="event-card__date event-card-home__date"><strong>23 Mar 2019 - 02 Jun 2019</strong></span>

            </div>
        </a>

                    <a class="conversion-button svg-link tooltippy tooltip-bottom" target="_blank" href="" data-tooltippy="buy tickets">
                <span class="buy-ticket-button"><span class="animation-icon"><span class="static-svg"><svg x="0px" y="0px" viewBox="0 0 44.9 44.9" xml:space="preserve">
<path d="M7.4,31.7c1.6-1.6,4.2-1.6,5.9,0c1.6,1.6,1.6,4.2,0,5.9l0,0l4.9,4.9l24.4-24.4l-4.9-4.9l0,0
	c-1.6,1.6-4.2,1.6-5.9,0c-1.6-1.6-1.6-4.2,0-5.9l-4.9-4.9L2.5,26.9L7.4,31.7L7.4,31.7z"/>
<path d="M19,11.3l14.1,14.1"/>
</svg>
</span><span class="animation-svg" data-component="animation-icon"><svg x="0px" y="0px" viewBox="0 0 44.9 44.9" xml:space="preserve">
<path d="M7.4,31.7c1.6-1.6,4.2-1.6,5.9,0c1.6,1.6,1.6,4.2,0,5.9l0,0l4.9,4.9l24.4-24.4l-4.9-4.9l0,0
	c-1.6,1.6-4.2,1.6-5.9,0c-1.6-1.6-1.6-4.2,0-5.9l-4.9-4.9L2.5,26.9L7.4,31.7L7.4,31.7z"/>
<path d="M19,11.3l14.1,14.1"/>
</svg>
</span></span></span>
            </a>

            </div>
    <div class="event-card-home__info">
                <a href="" class="event-card-home__title" data-component="text-fitter">Museum in Bloom</a>

                                                            </div>
</div>                                    </div>
    </div>
</div>			</section>


{% include "base_block/page_contailer.html" %}

{% include "base_block/footer.html" %}
		</div>
    </div>

		</main>

		<div id="video-modal-cont"></div>

	{% include "base_block/play_sections.html" %}

{% endblock %}
