{% load staticfiles humanize thumbnail %}

<section class="block">
        <div class="container">
            <div class="section-title clearfix">
                <div class="float-xl-left float-md-left float-sm-none">
                    <h2>Россия :: Последние объявления</h2>
                </div>
            </div>
            <div class="items masonry grid-xl-4-items grid-lg-3-items grid-md-2-items">
              <a href="" class="item call-to-action">
                  <div class="wrapper">
                      <div class="title">
                          <i class="fa fa-plus-square-o"></i>
                          Добавьте объявление
                      </div>
                  </div>
              </a>

              {% for object in last_ads %}
                <div class="item">
                  {% include 'generic/ad_wrapper.html' %}
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
