{% include 'form_top.html' %}

<section>
  <div class="form-group">
    <label for="" class="col-form-label">Тип</label>
    {{ form.spare.errors }}
    {{ form.spare }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Устройство</label>
    {{ form.device.errors }}
    {{ form.device }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Бренд запчасти</label>
    {{ form.brand_spare.errors }}
    {{ form.brand_spare }}
  </div>
</section>

{% include 'form_bottom.html' %}
