{% include 'form_top.html' %}

<section>
  <div class="form-group">
    <label for="" class="col-form-label">Марка</label>
    {{ form.brand_wath.errors }}
    {{ form.brand_wath }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Тип</label>
    {{ form.type_wath.errors }}
    {{ form.type_wath }}
  </div>
  <br>
  <ul class="list-unstyled columns-1">
    <li>
      <label class="" style="font-size:15px">
        {{ form.android }}
        {{ form.android.label }}
      </label>
    </li>
    <li>
      <label class="" style="font-size:15px">
        {{ form.IOS }}
        {{ form.IOS.label }}
      </label>
    </li>
    <li>
      <label class="" style="font-size:15px">
        {{ form.protection }}
        {{ form.protection.label }}
      </label>
    </li>
    <li>
      <label class="" style="font-size:15px">
        {{ form.pedometer }}
        {{ form.pedometer.label }}
      </label>
    </li>
    <li>
      <label class="" style="font-size:15px">
        {{ form.heart_monitor }}
        {{ form.heart_monitor.label }}
      </label>
    </li>
    <li>
      <label class="" style="font-size:15px">
        {{ form.sleep }}
        {{ form.sleep.label }}
      </label>
    </li>
  </ul>
  <div class="form-group">
    <label for="" class="col-form-label">Телефонные звонки</label>
    {{ form.call.errors }}
    {{ form.call }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Срок использования</label>
    {{ form.use.errors }}
    {{ form.use }}
  </div>
</section>

{% include 'form_bottom.html' %}
