{% include 'form_top.html' %}

<section>
  <div class="form-group">
    <label for="" class="col-form-label">Тип</label>
    {{ form.phone.errors }}
    {{ form.phone }}
  </div>
  <br>
  <ul class="list-unstyled columns-1">
    <li>
      <label class="" style="font-size:15px">
        {{ form.answering }}
        {{ form.answering.label }}
      </label>
    </li>
    <li>
      <label class="" style="font-size:15px">
        {{ form.AON }}
        {{ form.AON.label }}
      </label>
    </li>
  </ul>
</section>

{% include 'form_bottom.html' %}
