{% load status %}

<div class="item">
<div class="wrapper" data-pk="{{ object.pk }}">
    <div class="image">
        <h3>
            <a href="{% url 'course_detail' pk=object.pk %}" class="title">{{ object.title }}</a>
            {% include 'generic/blocks/card_tag.html' %}
        </h3>
        <a href="{% url 'course_detail' pk=object.pk %}" class="image-wrapper background-image">
          {% if object.image %}
            <img src="{{ object.image.url }}" alt="">
          {% else %}
            <img src="/static/images/no_img.jpg" alt="">
          {% endif %}
        </a>
    </div>
    {% if object.city %}
    <h4 class="location">
        {% if object.city.region %}
          <a href="{% url 'region' region_name=object.city.region.name_en %}">{{ object.city.region }}</a>,
        {% endif %}
        <a href="{% url 'city' city_name=object.city.name_en %}">{{ object.city }}</a>
    </h4>
    {% endif %}
    <div class="price">{% if object.price %} {{ object.price }} {% else %}Бесплатно{% endif %}</div>
    {% if request.user.pk != object.creator.pk %}
    <div class="admin-controls">
      <span class="admin-span">
        <a href="#">
          {% if request.user|is_course_favorite:object.pk %}
            <span class="course_unfavorite">Забыть</span>
          {% else %}
            <span class="course_favorite">Запомнить</span>
          {% endif %}
        </a>
      </span>
      <span class="admin-span">
        <a href="#">
          <span class="course_claim">Пожаловаться</span>
        </a>
        {% if request.user.is_skill_staff %}
        <a href="#">
          <span class="course_staff_unactive">Неактивно</span>
        </a>
        <a href="#">
          <span class="course_staff_remove">Удалить</span>
        </a>
        {% endif %}
      </span>
    </div>
    {% endif %}
    <div class="description">
        <p>{{ object.description|truncatechars:300 }}</p>
    </div>
    <div class="additional-info">
      <ul>
        <li>
          <figure>Категория</figure>
          <aside>
            <a href="{% url 'skill_category' cat_name=object.category.category.name_en %}">
            {{ object.category.category }}
            </a>
          </aside>
        </li>
        <li>
          <figure>Подкатегория</figure>
          <aside>
            <a href="{% url 'skill_subcategory' subcat_name=object.category.name_en %}">
              {{ object.category }}
            </a>
          </aside>
        </li>
        {% if object.data_start %}
          <li><figure>Начало</figure><aside>{{ object.data_start }}</aside></li>
        {% endif %}
        {% if object.data_end %}
          <li><figure>Конец</figure><aside>{{ object.data_end }}</aside></li>
        {% endif %}
      </ul>
    </div>
    <a href="{% url 'course_detail' pk=object.pk %}" class="detail text-caps underline">Детали</a>
</div>
</div>
