
<section>
  <h2>Параметры дома</h2>

    <div class="form-group">
      <label for="" class="col-form-label">Тип дома</label>
      {{ form.house.errors }}
      {{ form.house }}
    </div>
    <div class="form-group">
      <label for="" class="col-form-label">Материал дома</label>
      {{ form.material_house.errors }}
      {{ form.material_house }}
    </div>
    <div class="form-group">
      <label for="" class="col-form-label">Тип дома</label>
      {{ form.type_house.errors }}
      {{ form.type_house }}
    </div>
    <div class="form-group">
      <label for="" class="col-form-label">Площадь дома</label>
      {{ form.house_area.errors }}
      {{ form.house_area }}
    </div>
    <div class="form-group">
      <label for="" class="col-form-label">Этажей</label>
      {{ form.levels.errors }}
      {{ form.levels }}
    </div>
    <div class="form-group">
      <label for="" class="col-form-label">Количество спален</label>
      {{ form.number_of_bedrooms.errors }}
      {{ form.number_of_bedrooms }}
    </div>
    <div class="form-group">
      <label for="" class="col-form-label">Санузлы</label>
      {{ form.bathroom_unit.errors }}
      {{ form.bathroom_unit }}
    </div>
    <div class="form-group">
      <label for="" class="col-form-label">Электричество</label>
      {{ form.electricity.errors }}
      {{ form.electricity }}
    </div>
    <div class="form-group">
      <label for="" class="col-form-label">Отопление</label>
      {{ form.heating.errors }}
      {{ form.heating }}
    </div>
    <div class="form-group">
      <label for="" class="col-form-label">Газ</label>
      {{ form.gas.errors }}
      {{ form.gas }}
    </div>
    <div class="form-group">
      <label for="" class="col-form-label">Водоснабжение</label>
      {{ form.water_supply.errors }}
      {{ form.water_supply }}
    </div>
    <div class="form-group">
      <label for="" class="col-form-label">Гараж</label>
      {{ form.garage.errors }}
      {{ form.garage }}
    </div>

  <br><br>
  <h2>Параметры участка</h2>

  <div class="form-group">
    <label for="" class="col-form-label">Площадь участка</label>
    {{ form.plottage.errors }}
    {{ form.plottage }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Тип участка</label>
    {{ form.type_plot.errors }}
    {{ form.type_plot }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Срок владения</label>
    {{ form.tenure.errors }}
    {{ form.tenure }}
  </div>
</section>
