{% include 'form_top.html' %}

<section>
  <h2>Параметры участка</h2>
  <div class="form-group">
    <label for="" class="col-form-label">Площадь участка</label>
    {{ form.plottage.errors }}
    {{ form.plottage }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Тип участка</label>
    {{ form.type_plot.errors }}
    {{ form.type_plot }}
  </div>

    <div class="form-group">
      <label for="" class="col-form-label">Электричество</label>
      {{ form.electricity.errors }}
      {{ form.electricity }}
    </div>
    <div class="form-group">
      <label for="" class="col-form-label">Отопление</label>
      {{ form.heating.errors }}
      {{ form.heating }}
    </div>
    <div class="form-group">
      <label for="" class="col-form-label">Газ</label>
      {{ form.gas.errors }}
      {{ form.gas }}
    </div>
    <div class="form-group">
      <label for="" class="col-form-label">Водоснабжение</label>
      {{ form.water_supply.errors }}
      {{ form.water_supply }}
    </div>
    <div class="form-group">
      <label for="" class="col-form-label">Гараж</label>
      {{ form.garage.errors }}
      {{ form.garage }}
    </div>

    <div class="form-group">
      <label for="" class="col-form-label">Срок владения</label>
      {{ form.tenure.errors }}
      {{ form.tenure }}
    </div>
</section>

{% include 'form_bottom.html' %}
