
<section>
<h2>Параметры строения</h2>

  <div class="form-group">
    <label for="" class="col-form-label">Тип строения</label>
    {{ form.type_build.errors }}
    {{ form.type_build }}
  </div>

  <h2>Условия</h2>

    <div class="form-group">
      <label for="" class="col-form-label">Тип сделки</label>
      {{ form.type_transaction.errors }}
      {{ form.type_transaction }}
    </div>
    <br>
    <ul class="list-unstyled columns-1">
      <li>
        <label class="" style="font-size:15px">
          {{ form.auction }}
          {{ form.auction.label }}
        </label>
      </li>
    </ul>
</section>
