{% include 'form_top.html' %}

<section>
  <h2>Параметры дома</h2>

    <div class="form-group">
      <label for="" class="col-form-label">Тип квартиры</label>
      {{ form.type.errors }}
      {{ form.type }}
    </div>
    <div class="form-group">
      <label for="" class="col-form-label">Год постройки</label>
      {{ form.year.errors }}
      {{ form.year }}
    </div>
    <div class="form-group">
      <label for="" class="col-form-label">Тип дома</label>
      {{ form.type_house.errors }}
      {{ form.type_house }}
    </div>
    <div class="form-group">
      <label for="" class="col-form-label">До метро</label>
      {{ form.to_metro.errors }}
      {{ form.to_metro }}
    </div>
    <div class="form-group">
      <label for="" class="col-form-label">Лифты</label>
      {{ form.elevators.errors }}
      {{ form.elevators }}
    </div>
    <div class="form-group">
      <label for="" class="col-form-label">Инфраструктура</label>
      {{ form.infrastructure.errors }}
      {{ form.infrastructure }}
    </div>

  <br><br>

  <h2>Параметры комнаты</h2>

  <div class="form-group">
    <label for="" class="col-form-label">Площадь комнаты</label>
    {{ form.comn_area.errors }}
    {{ form.comn_area }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Ремонт</label>
    {{ form.repairs.errors }}
    {{ form.repairs }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Балкон</label>
    {{ form.balcony.errors }}
    {{ form.balcony }}
  </div>

  <div class="form-group">
    <label for="" class="col-form-label">Общая площадь</label>
    {{ form.total_area.errors }}
    {{ form.total_area }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Жилая площадь</label>
    {{ form.living_area.errors }}
    {{ form.living_area }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Площадь кухни</label>
    {{ form.kitchen_area.errors }}
    {{ form.kitchen_area }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Санузлы</label>
    {{ form.bathroom_unit.errors }}
    {{ form.bathroom_unit }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Комнат в квартире</label>
    {{ form.rooms.errors }}
    {{ form.rooms }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Этаж</label>
    {{ form.level.errors }}
    {{ form.level }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Этажность</label>
    {{ form.levels.errors }}
    {{ form.levels }}
  </div>
  <br><br>
    <h2>Условия</h2>

    <div class="form-group">
      <label for="" class="col-form-label">Срок владения</label>
      {{ form.tenure.errors }}
      {{ form.tenure }}
    </div>

</section>
{% include 'form_bottom.html' %}
