
<section>
  <div class="form-group">
    <label for="" class="col-form-label">Тип фотовспышки</label>
    {{ form.type_flashes.errors }}
    {{ form.type_flashes }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Марка фотовспышки</label>
    {{ form.brand_flashes.errors }}
    {{ form.brand_flashes }}
  </div>

  <br>
  <ul class="list-unstyled columns-1">
    <li>
      <label class="" style="font-size:15px">
        {{ form.swivel_head }}
        {{ form.swivel_head.label }}
      </label>
    </li>
  </ul>
</section>
