
<section>
  <div class="form-group">
    <label for="" class="col-form-label">Тип видеонаблюдение</label>
    {{ form.video_control.errors }}
    {{ form.video_control }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Тип подключения</label>
    {{ form.connection.errors }}
    {{ form.connection }}
  </div>

  <br>
  <ul class="list-unstyled columns-1">
    <li>
      <label class="" style="font-size:15px">
        {{ form.wi_fi }}
        {{ form.wi_fi.label }}
      </label>
    </li>
    <li>
      <label class="" style="font-size:15px">
        {{ form.monitor_sensor }}
        {{ form.monitor_sensor.label }}
      </label>
    </li>
    <li>
      <label class="" style="font-size:15px">
        {{ form.microfon }}
        {{ form.microfon.label }}
      </label>
    </li>
  </ul>
</section>
