
<section>
  <div class="form-group">
    <label for="" class="col-form-label">Тип объектива</label>
    {{ form.type_lens.errors }}
    {{ form.type_lens }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Марка объектива</label>
    {{ form.brand_lens.errors }}
    {{ form.brand_lens }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Тип байонета</label>
    {{ form.type_bayonet.errors }}
    {{ form.type_bayonet }}
  </div>

  <br>
  <ul class="list-unstyled columns-1">
    <li>
      <label class="" style="font-size:15px">
        {{ form.autofocus }}
        {{ form.autofocus.label }}
      </label>
    </li>
  </ul>
</section>
