{% extends "bases/base.html" %}
{% block title %}Модуль знакомств по всей России{% endblock %}
{% block navigation %}
<div class="header_navigation container">
  <a class="get_russia" tooltip='Нажмите для смены локации' flow="down" href="#">Россия</a> /
  <a>Модуль знакомств</a>
</div>
{% endblock %}

{% block content %}
<div class="page-title">
    <div class="container">
      <h1 class="opacity-40 center">
        Россия :: модуль знакомств
      </h1>
    </div>
</div>
{% include 'main/ankets/anketa_form.html' %}

<section class="content love_content">

  <section class="block">
          <div class="container">
              <div class="section-title clearfix">
                  <div class="float-xl-left float-md-left float-sm-none">
                      <h2>Россия :: Последние анкеты</h2>
                  </div>
              </div>
              <div class="items masonry grid-xl-4-items grid-lg-3-items grid-md-2-items">
                {% for object in last_ankets %}
                    {% include 'generic/ankets/staff_anketa.html' %}
                  {% endfor %}
              </div>
          </div>
      </section>

</section>
{% endblock %}
