{% extends "bases/base.html" %}
{% block title %}{{ ad.title }}{% endblock %}
{% block navigation %}
<div class="header_navigation container">
  <a href="javascript:history.back()">Вернуться назад</a>
</div>
{% endblock %}
{% block content %}

{% include "detail/page_title.html" %}

<section class="content">
    <section class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                  {% include 'ad_images.html' %}

                    <section>
                        <h2>Описание</h2>
                        <p>{{ ad.description }}</p>
                    </section>

                    <section>
                        <h2>Детали</h2>
                        <div class="row">
                          <div class="col-md-8">
                              <dl>
                                <dt>Категория</dt>             <dd> {{ ad.category.category }}</dd>
                                <dt>Подкатегория</dt>          <dd> {{ ad.category }}</dd>

                                <dt>Тип аксессуара</dt><dd> {{ ad.man.type }}</dd>
                                <dt>Бренд</dt><dd> {{ ad.man.brand }}</dd>
                                <dt>Цвет</dt><dd> {{ ad.man.color }}</dd>
                                <dt>Состояние</dt><dd> {{ ad.man.condition }}</dd>
                                <dt>Тип</dt><dd> {{ ad.man.sweaters }}</dd>
                                <dt>Тип</dt><dd> {{ ad.man.sportwear }}</dd>
                                <dt>Тип</dt><dd> {{ ad.man.tops }}</dd>
                                <dt>Тип</dt><dd> {{ ad.man.pants }}</dd>
                                <dt>Тип</dt><dd> {{ ad.man.hat }}</dd>
                                <dt>Тип</dt><dd> {{ ad.man.home }}</dd>
                                <dt>Тип</dt><dd> {{ ad.man.shirts }}</dd>
                                <dt>Тип</dt><dd> {{ ad.man.coverall }}</dd>
                                <dt>Тип</dt><dd> {{ ad.man.underwear }}</dd>
                                <dt>Тип</dt><dd> {{ ad.man.shoes }}</dd>
                                <dt>Размер</dt><dd> {{ ad.man.size }}</dd>
                                <dt>Сезон</dt><dd> {{ ad.man.season }}</dd>
                                <dt>Верхняя одежда</dt><dd> {{ ad.man.outerwear }}</dd>
                                <dt>Размер обуви</dt><dd> {{ ad.man.suits }}</dd>
                                <dt>Размер штанов</dt><dd> {{ ad.man.pant_size }}</dd>

                              </dl>
                          </div>
                       </div>
                    </section>
                    {% include 'detail/vote_view.html' %}
                    {% include 'section_author.html' %}
                </div>

                <div class="col-md-4">
                    <aside class="sidebar">

                      {% include 'section_simular.html' %}

                    </aside>
                </div>
            </div>
        </div>
    </section>
</section>


<script>
var ready = (callback) => {if (document.readyState != "loading") callback();else document.addEventListener("DOMContentLoaded", callback)}

ready(() => {
  var list = document.querySelectorAll('dd');
  var count = list.length;
  for(i=0; i<count; i++) {
    if(list[i].innerHTML == " " || list[i].innerHTML == " False" ){
      list[i].previousElementSibling.remove();
      list[i].remove();
    }
    else if(list[i].innerHTML == " True"){
      list[i].innerHTML = "Есть";
      list[i].classList.add("current_dd");
    }
    else{
      list[i].classList.add("current_dd")
    }}
})
</script>
{% endblock %}
