<nav class="nav flex-column side-nav">
    <a class="nav-link icon" href="{% url 'user' pk=request.user.pk %}">
        <i class="fa fa-user"></i>Мои профиль
    </a>
    <a class="nav-link icon" href="{% url 'user_ads' pk=request.user.pk %}">
        <i class="fa fa-heart"></i>Мои объявления
    </a>
    <a class="nav-link icon" href="{% url 'my_courses' pk=request.user.pk %}">
        <i class="fa fa-heart"></i>Мои курсы
    </a>
    <a class="nav-link icon" href="{% url 'user_ankets' pk=request.user.pk %}">
        <i class="fa fa-heart"></i>Мои анкеты
    </a>
    <a class="nav-link icon" href="{% url 'user_favorite' pk=request.user.pk %}">
        <i class="fa fa-star"></i>Избранное
    </a>
    <a class="nav-link icon" href="{% url 'my_subscribes' pk=request.user.pk %}">
        <i class="fa fa-user"></i>Мои подписки
    </a>
    <a class="nav-link icon" href="{% url 'subscribes' pk=request.user.pk %}">
        <i class="fa fa-user"></i>Мои подписчики
    </a>
    <a class="nav-link icon" href="{% url 'user_settings' pk=request.user.pk %}">
        <i class="fa fa-settings"></i>Настройки
    </a>
</nav>
