{% extends "bases/base.html" %}
{% load staticfiles humanize thumbnail %}
{% block title %}{{ user.get_full_name }}{% endblock %}
{% block content %}

<section class="content">
            <section class="block">
                <section>
                    <div class="container">
                        <div class="author big">
                            <div class="author-image">
                                <div class="background-image">
                                  {% if user.avatar %}
                                  {{ user.avatar.url }}
                                  {% else %}
                                  <svg fill="currentColor" class="svg_default svg_default_500" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                                  {% endif %}
                                </div>
                            </div>
                            <div class="author-description">
                                <div class="section-title">
                                  <h2>{{ user.get_full_name }}</h2>

                                    <h4 class="location">
                                      {% if user.get_online %}
                                      <span style="color:#00AB83;font-size: 18px;"> онлайн </span>
                                      {% else %}
                                      <span style="color:#6C757D;font-size: 18px;">Был {{ user.last_activity }}</span>
                                      {% endif %}
                                    </h4>

                                    <figure>
                                        <div class="float-left">
                                            <div class="rating" data-rating="4"></div>
                                        </div>
                                        <div class="text-align-right social">
                                            <a href="#">
                                                <i class="fa fa-facebook-square"></i>
                                            </a>
                                            <a href="#">
                                                <i class="fa fa-twitter-square"></i>
                                            </a>
                                            <a href="#">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="additional-info">
                                    <ul>
                                        <li>
                                            <figure>Телефон</figure>
                                            <aside>{{ user.phone }}</aside>
                                        </li>
                                        <li><a class='' style="cursor: pointer">ПОДПИСАТЬСЯ</a></li>
                                        <li><a class='' style="cursor: pointer">ЗАБЛОКИРОВАТЬ</a></li>
                                    </ul>
                                </div>
                                <p>
                                  <h3>Регион: {{ user.get_last_location.region_ru }}</h3>
                                  <h3>Город: {{ user.get_last_location.city_ru }}</h3>
                                  <h3>Зарегистрирован: {{ user.date_joined }}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="background">
                        <div class="background-image original-size background-repeat-x">
                            <img src="{% static 'images/gradient-background.png' %}" alt="">
                        </div>
                    </div>
                </section>
                <div class="container">
                    <div class="row flex-column-reverse flex-md-row">
                        <div class="col-md-9">
                            {% if object_list %}
                            <section>
                                <h2>Активные объявления</h2>
                                <div class="section-title clearfix">
                                  <div class="float-right d-xs-none thumbnail-toggle">
                                      <a href="#" class="change-class active" data-change-from-class="list" data-change-to-class="masonry" data-parent-class="items">
                                          <i class="fa fa-th"></i>
                                      </a>
                                      <a href="#" class="change-class " data-change-from-class="masonry" data-change-to-class="list" data-parent-class="items">
                                          <i class="fa fa-th-list"></i>
                                      </a>
                                  </div>
                                </div>
                                <div>
                                <div class="items compact masonry grid-xl-3-items grid-lg-2-items grid-md-2-items">
                                      {% for object in object_list %}
                                        <div class="item">
                                            {% include 'generic/ad_wrapper.html' %}
                                        </div>

                                        {% endfor %}

                                    </div>
                                </div>
                            </section>
                            {% else %}
                            <h3 style="text-align:center">У пользователя нет объявлений...</h3>
                            {% endif %}

                            {% include 'generic/form_guest.html' %}

                            <section>
                                <h2>Отзывы</h2>

                                <div class="comments items masonry grid-xl-3-items">
                            <div id="suest">
                              {% if guest %}
                                    {% for object in guest %}
                                      <div class="comment item">
                                          <div class="author">
                                              <div class="author-description">
                                                  <h3>{{ object.title }}</h3>
                                                  <div class="meta">
                                                      <span class="rating" data-rating="{{ object.star }}"></span>
                                                      <span>{{ object.posted2|naturaltime }}</span>
                                                  </div>
                                                  <p>
                                                      {{ object.message }}
                                                  </p>
                                              </div>
                                              <a href="{% url 'user' pk=object.sender.pk %}" class="author-image">
                                                  <div class="background-image">
                                                    {% if object.sender.avatar %}
                                                    {{ object.sender.avatar.url }}
                                                    {% else %}
                                                    <svg fill="currentColor" class="svg_default svg_default_50" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                                                    {% endif %}
                                                  </div>
                                              </a>
                                              <h5>
                                                  <a href="{% url 'user' pk=object.sender.pk %}">
                                                    {{ object.sender.get_full_name }}
                                                  </a>
                                              </h5>
                                          </div>
                                      </div>
                                    {% endfor %}
                                    {% else %}
                                    <h3 style="text-align:center">У пользователя нет отзывов...</h3>
                                    {% endif %}
                            </div>
                          </div>
                      </section>

                        </div>
                        <div class="col-md-3">
                            <aside class="sidebar">
                                <section>

                                </section>
                            </aside>
                        </div>
                    </div>
                </div>
            </section>
        </section>

{% endblock %}
