{% load status %}

<div class="item">
<div class="wrapper" data-pk="{{ object.pk }}">
    <div class="image">
        <h3>
            <a href="{% url 'anketa_detail' pk=object.pk %}" class="title ajax">{{ object.creator }}</a>
            {% include 'generic/blocks/card_tag.html' %}
        </h3>
        <a href="{% url 'anketa_detail' pk=object.pk %}" class="image-wrapper background-image ajax">
          {% if object.image %}
            <img src="{{ object.image.url }}" alt="">
          {% else %}
            <img src="/static/images/no_img.jpg" alt="">
          {% endif %}
        </a>
    </div>
    <h4 class="location">
        <a href="{% url 'region' region_name=object.city.region.name_en %}" class="ajax">{{ object.city.region }}</a>,
        <a href="{% url 'city' city_name=object.city.name_en %}" class="ajax">{{ object.city }}</a>
    </h4>
    {% if request.user.pk != object.creator.pk %}
    <div class="admin-controls">
      <span class="admin-span">
        <a href="#">
          {% if request.user|is_anketa_favorite:object.pk %}
            <span class="anketa_unfavorite">забыть</span>
          {% else %}
            <span class="anketa_favorite">запомнить</span>
          {% endif %}
        </a>
        <a href="#">
          <span class="anketa_claim">пожаловаться</span>
        </a>
      </span>
    </div>
    {% endif %}
    <div class="description">
        <p>{{ object.about|truncatechars:300 }}</p>
    </div>
    <div class="additional-info"></div>
    <a href="{% url 'anketa_detail' pk=object.pk %}" class="detail text-caps underline ajax">Детали</a>
</div>
</div>
