{% load liked_user is_favorite %}

<div class="item">
<div class="wrapper">
    <div class="image">
        <h3>
            <a href="{% url 'ad_detail' pk=object.pk %}" class="title">{{ object.title }}</a>
            <span class="tag">
              <span>
                <svg fill="currentColor" class="svg_default" style="width:15px" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/></svg>
                <span>{{ object.all_visits_count }}</span> |
              </span>
              {% if not object.votes_off %}
              <span class="{% if object.likes|user_in:request.user %}btn_success{% else %}btn_default{% endif %}" title="Нравится">
                <svg style="width:15px" class="svg_default" fill="currentColor" viewBox="0 0 24 24">
                  <path fill="none" d="M0 0h24v24H0V0z"/>
                  <path d="M1 21h4V9H1v12zm22-11c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.59 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2z"/>
                </svg>
                <span>{{ object.likes.count }}</span> |
              </span>
              <span class="{% if object.dislikes|user_in:request.user %}btn_success{% else %}btn_default{% endif %}" title="Не нравится">
                <svg style="width:15px" class="svg_default" fill="currentColor" viewBox="0 0 24 24">
                  <path fill="none" d="M0 0h24v24H0z"/>
                  <path d="M15 3H6c-.83 0-1.54.5-1.84 1.22l-3.02 7.05c-.09.23-.14.47-.14.73v2c0 1.1.9 2 2 2h6.31l-.95 4.57-.03.32c0 .41.17.79.44 1.06L9.83 23l6.59-6.59c.36-.36.58-.86.58-1.41V5c0-1.1-.9-2-2-2zm4 0v12h4V3h-4z"/>
                </svg>
                <span>{{ object.dislikes.count }}</span>
              </span>
              {% endif %}
            </span>
        </h3>
        <a href="{% url 'ad_detail' pk=object.pk %}" class="image-wrapper background-image">
          {% if object.image %}
            <img src="{{ object.image.url }}" alt="">
          {% else %}
            <img src="/static/images/no_img.jpg" alt="">
          {% endif %}
        </a>
    </div>
    <h4 class="location">
        <a href="{% url 'region' region_name=object.city.region.name_en %}">{{ object.city.region }}</a>,
        <a href="{% url 'city' city_name=object.city.name_en %}">{{ object.city }}</a>
    </h4>
    <div class="price rubl"> {{ object.price }}</div>
    <div class="admin-controls">
        &nbsp;&nbsp;&nbsp;
        <a href="#">
          {% if request.user|is_ad_favorite:object.pk %}
            <span class="module_unfavorite">Забыть</span>
          {% else %}
            <span class="module_favorite">Запомнить</span>
          {% endif %} 
        </a>
        <a href="#">
          <span class="module_claim">Пожаловаться</span>
        </a>
    </div>
    <div class="description">
        <p>{{ object.description|truncatechars:300 }}</p>
    </div>
    <div class="additional-info">
      <ul>
        <li>
          <figure>Категория</figure>
          <aside>
            <a href="{% url 'ad_category' cat_name=object.category.category.name_en %}">
            {{ object.category.category }}
            </a>
          </aside>
        </li>
        <li>
          <figure>Подкатегория</figure>
          <aside>
            <a href="{% url 'ad_subcategory' subcat_name=object.category.name_en %}">
              {{ object.category }}
            </a>
          </aside>
        </li>
      </ul>
    </div>
    <a href="{% url 'ad_detail' pk=object.pk %}" class="detail text-caps underline">Детали</a>
</div>
</div>
