{% extends "bases/base.html" %}

{% block title %}Вопросы и ответы{% endblock %}
{% block content %}
<div class="page sub-page">
<section class="content">
<section class="block">
<div class="container">
<div class="row">
  <div class="col-md-9">
    <section>
        <form class="form inputs-underline" novalidate="novalidate">
            <h3>Вопросы и ответы</h3>
            <div class="form-group">
                <input type="text" class="form-control" name="name" id="name" placeholder="Введите вопрос">
            </div>
        </form>
    </section>
    <section>
      {% for object in object_list %}
      <div class="answer">
          <div class="box">
              <h3>{{ object.question }}</h3>
              <p>{{ object.answer }}</p>
          </div>
          <figure>Ответ был Вам полезен?
            <a href="#">Да
              <i class="fa fa-thumbs-up"></i>
            </a>
            <a href="#">Нет
              <i class="fa fa-thumbs-down"></i>
            </a>
          </figure>
      </div>
      {% empty %}
      Вопросов и ответов пока нет...
      {% endfor %}
    </section>
  </div>
  <div class="col-md-3"></div>
</div>
</div>

</section>
</section>
</div>



{% endblock %}
