{% extends "bases/base.html" %}

{% block title %}Вопросы и ответы{% endblock %}
{% block content %}
<style>
  @import url("https://fonts.googleapis.com/css?family=Roboto:900");
  /**
    * style variables
  */
  /**
    * Control & indicator mixin
  */
  .carousel {
    height: 300px;
    width: 400px;
    overflow: hidden;
    text-align: center;
    position: relative;
    padding: 0;
    list-style: none;
  /**
    * Where the magic happens
    */
  /**
      * Control element - right/left arrows
    */
  /**
      * Element for holding slide indicators
    */
  /**
      * Indicator for indicating active slide
    */
  /**
      * Create rules for when slides are contained within a track
    */
  }
  .carousel__controls,
  .carousel__activator {
    display: none;
  }
  .carousel__activator:nth-of-type(1):checked ~ .carousel__track {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .carousel__activator:nth-of-type(1):checked ~ .carousel__slide:nth-of-type(1) {
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .carousel__activator:nth-of-type(1):checked ~ .carousel__controls:nth-of-type(1) {
    display: block;
    opacity: 1;
  }
  .carousel__activator:nth-of-type(1):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(1) {
    opacity: 1;
  }
  .carousel__activator:nth-of-type(2):checked ~ .carousel__track {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .carousel__activator:nth-of-type(2):checked ~ .carousel__slide:nth-of-type(2) {
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .carousel__activator:nth-of-type(2):checked ~ .carousel__controls:nth-of-type(2) {
    display: block;
    opacity: 1;
  }
  .carousel__activator:nth-of-type(2):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(2) {
    opacity: 1;
  }
  .carousel__activator:nth-of-type(3):checked ~ .carousel__track {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  .carousel__activator:nth-of-type(3):checked ~ .carousel__slide:nth-of-type(3) {
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .carousel__activator:nth-of-type(3):checked ~ .carousel__controls:nth-of-type(3) {
    display: block;
    opacity: 1;
  }
  .carousel__activator:nth-of-type(3):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(3) {
    opacity: 1;
  }
  .carousel__activator:nth-of-type(4):checked ~ .carousel__track {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  .carousel__activator:nth-of-type(4):checked ~ .carousel__slide:nth-of-type(4) {
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .carousel__activator:nth-of-type(4):checked ~ .carousel__controls:nth-of-type(4) {
    display: block;
    opacity: 1;
  }
  .carousel__activator:nth-of-type(4):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(4) {
    opacity: 1;
  }
  .carousel__activator:nth-of-type(5):checked ~ .carousel__track {
    -webkit-transform: translateX(-400%);
            transform: translateX(-400%);
  }
  .carousel__activator:nth-of-type(5):checked ~ .carousel__slide:nth-of-type(5) {
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .carousel__activator:nth-of-type(5):checked ~ .carousel__controls:nth-of-type(5) {
    display: block;
    opacity: 1;
  }
  .carousel__activator:nth-of-type(5):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(5) {
    opacity: 1;
  }
  .carousel__control {
    height: 30px;
    width: 30px;
    margin-top: -15px;
    top: 50%;
    position: absolute;
    display: block;
    cursor: pointer;
    border-width: 5px 5px 0 0;
    border-style: solid;
    border-color: #fafafa;
    opacity: 0.35;
    outline: 0;
    z-index: 3;
  }
  .carousel__control:hover {
    opacity: 1;
  }
  .carousel__control--backward {
    left: 10px;
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
  .carousel__control--forward {
    right: 10px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .carousel__indicators {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
  }
  .carousel__indicator {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    display: inline-block;
    z-index: 2;
    cursor: pointer;
    opacity: 0.35;
    margin: 0 2.5px 0 2.5px;
  }
  .carousel__indicator:hover {
    opacity: 0.75;
  }
  .carousel__track {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
    -webkit-transition: -webkit-transform 0.5s ease 0s;
    transition: -webkit-transform 0.5s ease 0s;
    transition: transform 0.5s ease 0s;
    transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  }
  .carousel__track .carousel__slide {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
  }
  .carousel__track .carousel__slide:nth-of-type(1) {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .carousel__track .carousel__slide:nth-of-type(2) {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .carousel__track .carousel__slide:nth-of-type(3) {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  .carousel__track .carousel__slide:nth-of-type(4) {
    -webkit-transform: translateX(300%);
            transform: translateX(300%);
  }
  .carousel__track .carousel__slide:nth-of-type(5) {
    -webkit-transform: translateX(400%);
            transform: translateX(400%);
  }
  .carousel--scale .carousel__slide {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .carousel__slide {
    height: 100%;
    position: absolute;
    overflow-y: auto;
    opacity: 0;
  }
  /**
    * Theming
  */
  * {
    box-sizing: border-box;
  }
  html,
  body {
    background-color: #111;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #fff;
  }
  .carousel-container {
    display: inline-block;
  }
  .my-carousel {
    border-radius: 5px;
    margin: 30px;
  }
  .carousel__slide {
    overflow: hidden;
  }
  .carousel--thumb .carousel__indicator {
    height: 30px;
    width: 30px;
  }
  h1 {
    font-size: 50px;
    line-height: 50px;
    color: #fafafa;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    margin-top: -25px;
  }
  h2,
  h3 {
    color: #fafafa;
  }
  h3 {
    font-size: 50px;
  }
  .carousel__indicator {
    background-color: #fafafa;
  }
  .carousel__slide:nth-of-type(1),
  .carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(1) {
    background-image: url("https://unsplash.it/300?random");
    background-size: cover;
    background-position: center;
  }
  .carousel__slide:nth-of-type(2),
  .carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(2) {
    background-image: url("https://unsplash.it/600?random");
    background-size: cover;
    background-position: center;
  }
  .carousel__slide:nth-of-type(3),
  .carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(3) {
    background-image: url("https://unsplash.it/900?random");
    background-size: cover;
    background-position: center;
  }
  .carousel__slide:nth-of-type(4),
  .carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(4) {
    background-image: url("https://unsplash.it/1200?random");
    background-size: cover;
    background-position: center;
  }
  .carousel__slide:nth-of-type(5),
  .carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(5) {
    background-image: url("https://unsplash.it/1500?random");
    background-size: cover;
    background-position: center;
  }
</style>
<div class="page sub-page">
<section class="content">
<section class="block">
<div class="container">
<div class="row">
  <div class="col-md-9">
    <section>
        <form class="form inputs-underline" novalidate="novalidate">
            <h3>Вопросы и ответы</h3>
            <div class="form-group">
                <input type="text" class="form-control" name="name" id="name" placeholder="Введите вопрос">
            </div>
        </form>
    </section>
    <section>
      {% for object in object_list %}
      <div class="answer">
          <div class="box">
              <h3>{{ object.question }}</h3>
              <p>{{ object.answer }}</p>
          </div>
          <figure>Ответ был Вам полезен?
            <a href="#">Да
              <i class="fa fa-thumbs-up"></i>
            </a>
            <a href="#">Нет
              <i class="fa fa-thumbs-down"></i>
            </a>
          </figure>
      </div>
      {% empty %}
      Вопросов и ответов пока нет...
      {% endfor %}
    </section>
  </div>
  <div class="col-md-3"></div>
</div>
</div>
</section>
</section>
</div>

<div class="carousel-container">
  <h2>thumbnail indicators</h2>
  <ul class="carousel my-carousel carousel--thumb">
    <input class="carousel__activator" type="radio" id="K" name="thumb" checked="checked"/>
    <input class="carousel__activator" type="radio" id="L" name="thumb"/>
    <input class="carousel__activator" type="radio" id="M" name="thumb"/>
    <input class="carousel__activator" type="radio" id="N" name="thumb"/>
    <input class="carousel__activator" type="radio" id="O" name="thumb"/>
    <div class="carousel__controls">
      <label class="carousel__control carousel__control--backward" for="O"></label>
      <label class="carousel__control carousel__control--forward" for="L"></label>
    </div>
    <div class="carousel__controls">
      <label class="carousel__control carousel__control--backward" for="K"></label>
      <label class="carousel__control carousel__control--forward" for="M"></label>
    </div>
    <div class="carousel__controls">
      <label class="carousel__control carousel__control--backward" for="L"></label>
      <label class="carousel__control carousel__control--forward" for="N"></label>
    </div>
    <div class="carousel__controls">
      <label class="carousel__control carousel__control--backward" for="M"></label>
      <label class="carousel__control carousel__control--forward" for="O"></label>
    </div>
    <div class="carousel__controls">
      <label class="carousel__control carousel__control--backward" for="N"></label>
      <label class="carousel__control carousel__control--forward" for="K"></label>
    </div>
    <li class="carousel__slide">
      <h1>K</h1>
    </li>
    <li class="carousel__slide">
      <h1>L</h1>
    </li>
    <li class="carousel__slide">
      <h1>M</h1>
    </li>
    <li class="carousel__slide">
      <h1>N</h1>
    </li>
    <li class="carousel__slide">
      <h1>O</h1>
    </li>
    <div class="carousel__indicators">
      <label class="carousel__indicator" for="K"></label>
      <label class="carousel__indicator" for="L"></label>
      <label class="carousel__indicator" for="M"></label>
      <label class="carousel__indicator" for="N"></label>
      <label class="carousel__indicator" for="O"></label>
    </div>
  </ul>
</div>
{% endblock %}
