
{% load staticfiles humanize thumbnail %}

<section class="block">
        <div class="container">
            <div class="section-title clearfix">
                <div class="float-xl-left float-md-left float-sm-none">
                    <h2>Россия :: Последние объявления</h2>
                </div>
            </div>
            <div class="items masonry grid-xl-4-items grid-lg-3-items grid-md-2-items">
              {% if filter_list %}
              <a href="" class="item call-to-action">
                  <div class="wrapper">
                      <div class="title">
                          <i class="fa fa-plus-square-o"></i>
                          Добавьте объявление
                      </div>
                  </div>
              </a>
              {% for object in filter_list %}

                <div class="item">
                    <div class="wrapper">
                      <div class="image">
                          <h3>
                              <a href="" class="title">{{ object.title }}</a>
                              <span class="tag">
                                <i class="fa fa-eye"></i> 0
                                | <i class="fa fa-heart"></i> {{ object.likes }}
                              </span>
                          </h3>
                          <a href="" class="image-wrapper background-image">
                            {% if object.img0 %}
                              <img src="{% thumbnail object.img0 500x500 sharpen %}" alt="">
                            {% else %}
                              <img src="{% static 'images/no_img.jpg' %}" alt="">
                            {% endif %}
                          </a>
                      </div>
                      <h4 class="location">
                          <a href="">{{ object.area }}</a>,
                          <a href="">{{ object.sity }}</a>
                      </h4>
                      <div class="price rubl">&#8399; {{ object.price }}</div>

                      <div class="meta">
                            <figure>
                                <i class="fa fa-calendar-o"></i>{{ object.posted|naturaltime }}
                            </figure>
                            <br>
                            <figure>
                                <a href="{% url 'users' pk=object.pk %}">
                                    <i class="fa fa-user"></i>
                                    {{ object.user.get_full_name }}
                                </a>
                            </figure>
                        </div>
                      <div class="description">
                          <p>{{ object.description|truncatechars:300 }}</p>
                      </div>
                        <div class="additional-info">
                            <ul>
                                <li>
                                    <figure>Категория</figure>
                                    <aside>
                                      <a href="">
                                        {{ object.category }}
                                      </a>
                                    </aside>
                                </li>
                                <li>
                                    <figure>Подкатегория</figure>
                                    <aside>
                                      <a href="">
                                        {{ object.sub_category }}
                                      </a>
                                    </aside>
                                </li>
                                <li style="text-align: center;padding-top: 10px;">
                                  {% include 'generic/like.html' %}
                                </li>
                            </ul>
                        </div>
                        <a href="" class="detail text-caps underline">Детали</a>
                    </div>
                </div>
                {% endfor %}
                  {% endif %}
            </div>
        </div>
    </section>
