{% include 'form_top.html' %}

<section>
  <h2>Дополнительные опции</h2>

    <div class="form-group">
      <label for="" class="col-form-label">Тип запчасти</label>
      {{ form.spare.errors }}
      {{ form.spare }}
    </div>
    <div class="form-group" id="headlight" style="display:none">
      <label for="" class="col-form-label">Тип фары</label>
      {{ form.type_of_headlight.errors }}
      {{ form.type_of_headlight }}
    </div>
    <div class="form-group">
      <label for="" class="col-form-label">Вид транспорта</label>
      {{ form.mode_of_transport.errors }}
      {{ form.mode_of_transport }}
    </div>
    <div class="form-group">
      <label for="" class="col-form-label">Марка</label>
      {{ form.brand.errors }}
      {{ form.brand }}
    </div>
    <div class="form-group">
      <label for="" class="col-form-label">Состояние</label>
      {{ form.condition.errors }}
      {{ form.condition }}
    </div>
    <div class="form-group">
      <label for="" class="col-form-label">Артикул</label>
      {{ form.art.errors }}
      {{ form.art }}
    </div>

</section>

{% include 'form_bottom.html' %}
