
<section>
    <h2>Основная информация</h2>

    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                {{ form.title.errors }}
              <label for="type" class="required">Название товара</label>
                {{ form.title }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                {{ form.price.errors }}
              <label for="type" class="required">Цена товара</label>
                {{ form.price }}
                <span class="input-group-addon">₽</span>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="form-group">
    <label>Описание товара</label>
      {{ form.description|safe }}
    </div>

  <div class="location_block">{% include 'location_select.html' %}</div>

    <br><br>
  <h2>Дополнительные опции</h2>

    <div class="form-group">
      <label for="" class="col-form-label">Тип</label>
      {{ form.moto_gear.errors }}
      {{ form.moto_gear }}
    </div>
    <div class="form-group" id="gender" style="display:none">
      <label for="" class="col-form-label">Пол</label>
      {{ form.gender.errors }}
      {{ form.gender }}
    </div>
    <div class="form-group" id="size" style="display:none">
      <label for="" class="col-form-label">Размер</label>
      {{ form.size.errors }}
      {{ form.size }}
    </div>
    <div class="form-group" id="jacket_size" style="display:none">
      <label for="" class="col-form-label">Размер куртки</label>
      {{ form.jacket_size.errors }}
      {{ form.jacket_size }}
    </div>
    <div class="form-group" id="shoe_size" style="display:none">
      <label for="" class="col-form-label">Размер обуви</label>
      {{ form.shoe_size.errors }}
      {{ form.shoe_size }}
    </div>
    <div class="form-group" id="glove_size" style="display:none">
      <label for="" class="col-form-label">Размер перчатки</label>
      {{ form.glove_size.errors }}
      {{ form.glove_size }}
    </div>
    <div class="form-group" id="pant_size" style="display:none">
      <label for="" class="col-form-label">Размер штанов</label>
      {{ form.pant_size.errors }}
      {{ form.pant_size }}
    </div>
    <div class="form-group" id="jumpsuit_size" style="display:none">
      <label for="" class="col-form-label">Размер комбинезона</label>
      {{ form.jumpsuit_size.errors }}
      {{ form.jumpsuit_size }}
    </div>

</section>

{% include 'form_bottom.html' %}

  <script>
  $('#id_moto_gear').change(function(){
    var val = $(this).val();
    console.log(val)
    if (val == 'Шлемы'){
      $('#gender').show();
      $('#size').show();
      $('#jacket_size').hide();
      $('#shoe_size').hide();
      $('#glove_size').hide();
      $('#pant_size').hide();
      $('#jumpsuit_size').hide();
    }
    if (val == 'Очки, маски'){
      $('#gender').show();
      $('#size').show();
      $('#jacket_size').hide();
      $('#shoe_size').hide();
      $('#glove_size').hide();
      $('#pant_size').hide();
      $('#jumpsuit_size').hide();
    }
    if (val == 'Мотозащита'){
      $('#gender').hide();
      $('#size').hide();
      $('#jacket_size').hide();
      $('#shoe_size').hide();
      $('#glove_size').hide();
      $('#pant_size').hide();
      $('#jumpsuit_size').hide();
    }
    if (val == 'Куртки'){
      $('#gender').show();
      $('#size').hide();
      $('#jacket_size').show();
      $('#shoe_size').hide();
      $('#glove_size').hide();
      $('#pant_size').hide();
      $('#jumpsuit_size').hide();
    }
    if (val == 'Обувь'){
      $('#gender').show();
      $('#size').hide();
      $('#jacket_size').hide();
      $('#shoe_size').show();
      $('#glove_size').hide();
      $('#pant_size').hide();
      $('#jumpsuit_size').hide();
    }
    if (val == 'Перчатки'){
      $('#gender').show();
      $('#size').hide();
      $('#jacket_size').hide();
      $('#shoe_size').hide();
      $('#glove_size').show();
      $('#pant_size').hide();
      $('#jumpsuit_size').hide();
    }
    if (val == 'Штаны и джинсы'){
      $('#gender').show();
      $('#size').hide();
      $('#jacket_size').hide();
      $('#shoe_size').hide();
      $('#glove_size').hide();
      $('#pant_size').show();
      $('#jumpsuit_size').hide();
    }
    if (val == 'Комбинезон'){
      $('#gender').show();
      $('#size').hide();
      $('#jacket_size').hide();
      $('#shoe_size').hide();
      $('#glove_size').hide();
      $('#pant_size').hide();
      $('#jumpsuit_size').show();
    }
    if (val == 'Аксессуары'){
      $('#gender').hide();
      $('#size').hide();
      $('#jacket_size').hide();
      $('#shoe_size').hide();
      $('#glove_size').hide();
      $('#pant_size').hide();
      $('#jumpsuit_size').hide();
    }
  })
  </script>
