
 <section>
   <h2>Дополнительные опции</h2>

     <div class="form-group">
       <label for="" class="col-form-label">Тип</label>
       {{ form.tires_wheels.errors }}
       {{ form.tires_wheels }}
     </div>
     <div class="form-group">
       <label for="" class="col-form-label">Вид транспорта</label>
       {{ form.mode_of_transport.errors }}
       {{ form.mode_of_transport }}
     </div>
     <div class="form-group">
       <label for="" class="col-form-label">Диаметр</label>
       {{ form.tires.errors }}
       {{ form.tires }}
     </div>
     <div class="form-group">
       <label for="" class="col-form-label">Состояние</label>
       {{ form.condition.errors }}
       {{ form.condition }}
     </div>
 </section>
