
 <section>
     <h2>Основная информация</h2>

     <div class="row">
         <div class="col-md-8">
             <div class="form-group">
                 {{ form.title.errors }}
               <label for="type" class="required">Название товара</label>
                 {{ form.title }}
             </div>
         </div>
         <div class="col-md-4">
             <div class="form-group">
                 {{ form.price.errors }}
               <label for="type" class="required">Цена товара</label>
                 {{ form.price }}
                 <span class="input-group-addon">₽</span>
             </div>
         </div>
     </div>
 </section>


 <section>
     <div class="form-group">
     <label>Описание товара</label>
       {{ form.description|safe }}
     </div>

  <div class="location_block">{% include 'location_select.html' %}</div>

     <br><br>
   <h2>Дополнительные опции</h2>

     <div class="form-group">
       <label for="" class="col-form-label">Тип</label>
       {{ form.tires_wheels.errors }}
       {{ form.tires_wheels }}
     </div>
     <div class="form-group">
       <label for="" class="col-form-label">Вид транспорта</label>
       {{ form.mode_of_transport.errors }}
       {{ form.mode_of_transport }}
     </div>
     <div class="form-group">
       <label for="" class="col-form-label">Диаметр</label>
       {{ form.tires.errors }}
       {{ form.tires }}
     </div>
     <div class="form-group">
       <label for="" class="col-form-label">Состояние</label>
       {{ form.condition.errors }}
       {{ form.condition }}
     </div>
 </section>

<section class="images_block">{% include 'images_upload.html' %}</section>

   <section class="clearfix">
     <div class="row">
       <ul class="list-unstyled columns-1">
         <li>
           <label class="" style="font-size:15px">
             {{ form.is_active }}
             {{ form.is_active.label }}
           </label>
         </li>
       </ul>
     </div>
   </section>
   <section class="clearfix">
       <div class="form-group">
           <button type="submit" class="btn btn-primary large icon float-right">Опубликовать<i class="fa fa-chevron-right"></i></button>
       </div>
   </section>
