{% extends "bases/anon_base.html" %}
{% load humanize %}
{% block title %}Курсы в г.{{ city.city_ru }}, {{ city.region.name_ru }}{% endblock %}
{% block icon %}
<a style="font-size:20px" class="get_russia" tooltip='{{ city.city_ru }}, {{ city.region.name_ru }}' flow="down" href="#">
  <svg height="24" style="padding-top: 5px;" viewBox="0 0 24 24" width="24">
    <path fill="#FFFFFF" d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/>
    <path d="M0 0h24v24H0z" fill="none"/>
  </svg>
</a>
  <a style="font-size:20px" tooltip="Модуль академии" flow="down">
  <svg fill="#28A745" style="padding-top: 5px;" width="24" height="24"enable-background="new 0 0 24 24" viewBox="0 0 24 24">
    <path d="M0 0h24v24H0z" fill="none"/><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/>
  </svg>
</a>
{% endblock %}
{% block content %}
<div class="page-title">
    <div class="container">
      <h1 class="opacity-40 center">
        <a href="{% url 'region' region_name=region.name_en %}">
          Россия, {{ city.name_ru }}
        </a>
        :: модуль академии
      </h1>
    </div>
</div>
{% include 'cities/skill_form.html' %}

<section class="content skill_content">
  <section class="block">
      <div class="container">
        <h2>Россия, {{ city.name_ru }} :: категории курсов</h2>
        <h4 class="row">
          {% for cat in skill_categories %}
              <span class="col-md-3">
                <a href="{% url 'skill_category_city' cat_name=cat.name_en city_name=city.name_en %}">
                  {{ cat.name_ru }} ({{ cat.get_course_count }})
                </a>
              </span>
          {% endfor %}
         </h4>
      </div>
  </section>
  <section class="block">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
        {% if object_list %}

        <div class="section-title clearfix">
          <div class="float-right d-xs-none thumbnail-toggle">
            <a href="#" class="change-class active" data-change-from-class="list" data-change-to-class="masonry" data-parent-class="items">
                плитка
            </a>
            <a href="#" class="change-class " data-change-from-class="masonry" data-change-to-class="list" data-parent-class="items">
                список
            </a>
          </div>
        </div>
        <div class="items compact masonry grid-xl-3-items grid-lg-2-items grid-md-2-items">
            {% for object in object_list %}
              {% include 'generic/anon_course.html' %}
            {% endfor %}
          </div>

          {% else %}
          <h1 style="height:400px;text-align:center">
            <br><br><br><br><br>
            Пока нет объявлений :-)</h1>
          {% endif %}

      </div>

      <div class="col-md-3">
          <aside class="sidebar">
            Фильтры
          </aside>
      </div>
    </div>
</div>
  </section>
</section>

{% endblock %}
