{% extends "bases/anon_base.html" %}
{% block title %}{{ ad.title }}{% endblock %}
{% block content %}

{% include "detail/anon/page_title.html" %}

<section class="content">
    <section class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                  {% include 'ad_images.html' %}

                    <section>
                        <h2>Описание</h2>
                        <p>{{ ad.description }}</p>
                    </section>

                    <section>
                        <h2>Детали</h2>
                        <div class="row">
                          <div class="col-md-8">
                              <dl>
                                <dt>Категория</dt>             <dd> {{ ad.category.category }}</dd>
                                <dt>Подкатегория</dt>          <dd> {{ ad.category }}</dd>

                                <dt>Тип весов</dt><dd> {{ ad.hometech.type_scale }}</dd>
                                <dt>Область применения</dt><dd> {{ ad.hometech.applic }}</dd>
                                <dt>Тип вытяжки</dt><dd> {{ ad.hometech.type_vit }}</dd>
                                <dt>Марка вытяжки</dt><dd> {{ ad.hometech.brand_vit }}</dd>
                                <dt>Тип</dt><dd> {{ ad.hometech.type_mix }}</dd>
                                <dt>Тип</dt><dd> {{ ad.hometech.type_climat }}</dd>
                                <dt>Тип</dt><dd> {{ ad.hometech.type_filtr }}</dd>
                                <dt>Тип</dt><dd> {{ ad.hometech.type_stoves }}</dd>
                                <dt>Тип</dt><dd> {{ ad.hometech.type_burners }}</dd>
                                <dt>Безопасность</dt><dd> {{ ad.hometech.security }}</dd>
                                <dt>Тип посудомоечной машины</dt><dd> {{ ad.hometech.type_wosh }}</dd>
                                <dt>Тип установки</dt><dd> {{ ad.hometech.type_install }}</dd>
                                <dt>Марка</dt><dd> {{ ad.hometech.brand_wosh }}</dd>
                                <dt>Вместимость посуды</dt><dd> {{ ad.hometech.cap_wosh }}</dd>
                                <dt>Тип</dt><dd> {{ ad.hometech.type_food }}</dd>
                                <dt>Тип</dt><dd> {{ ad.hometech.type_drinks }}</dd>
                                <dt>Тип</dt><dd> {{ ad.hometech.type_cleaners }}</dd>
                                <dt>Тип</dt><dd> {{ ad.hometech.type_cleaning }}</dd>
                                <dt>Марка</dt><dd> {{ ad.hometech.brand_clean }}</dd>
                                <dt>Марка</dt><dd> {{ ad.hometech.brand_washing }}</dd>
                                <dt>Тип</dt><dd> {{ ad.hometech.type_washing }}</dd>
                                <dt>Загрузка, кг</dt><dd> {{ ad.hometech.load_washing }}</dd>
                                <dt>Скорость отжима</dt><dd> {{ ad.hometech.spin_speed }}</dd>
                                <dt>Тип</dt><dd> {{ ad.hometech.type_iron }}</dd>
                                <dt>Тип</dt><dd> {{ ad.hometech.type_refr }}</dd>
                                <dt>Бранд</dt><dd> {{ ad.hometech.brand_refr }}</dd>
                                <dt>Высота</dt><dd> {{ ad.hometech.height_refr }}</dd>
                                <dt>Тип</dt><dd> {{ ad.hometech.type_sewing }}</dd>
                                <dt>Марка</dt><dd> {{ ad.hometech.brand_sewing }}</dd>
                                <dt>Срок использования</dt><dd> {{ ad.hometech.use }}</dd>

                                <dt>Таймер</dt><dd> {{ ad.hometech.timer }}</dd>
                                <dt>Защита от протечек</dt><dd> {{ ad.hometech.protect }}</dd>
                                <dt>Отсрочка запуска</dt><dd> {{ ad.hometech.do_start }}</dd>
                                <dt>Сушка</dt><dd> {{ ad.hometech.dryer }}</dd>
                              </dl>
                          </div>
                       </div>
                    </section>
                    {% include 'detail/anon/vote_view.html' %}
                    {% include 'section_author.html' %}
                </div>

                <div class="col-md-4">
                    <aside class="sidebar">

                      {% include 'section_simular.html' %}

                    </aside>
                </div>
            </div>
        </div>
    </section>
</section>


<script>
var ready = (callback) => {if (document.readyState != "loading") callback();else document.addEventListener("DOMContentLoaded", callback)}

ready(() => {
  var list = document.querySelectorAll('dd');
  var count = list.length;
  for(i=0; i<count; i++) {
    if(list[i].innerHTML == " " || list[i].innerHTML == " False" ){
      list[i].previousElementSibling.remove();
      list[i].remove();
    }
    else if(list[i].innerHTML == " True"){
      list[i].innerHTML = "Есть";
      list[i].classList.add("current_dd");
    }
    else{
      list[i].classList.add("current_dd")
    }}
})
</script>
{% endblock %}
