{% extends "bases/anon_base.html" %}
{% block title %}{{ ad.title }}{% endblock %}
{% block navigation %}
<div class="header_navigation container">
  <a href="javascript:history.back()">Вернуться назад</a>
</div>
{% endblock %}
{% block content %}

{% include "detail/anon/page_title.html" %}

<section class="content">
    <section class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                  {% include 'ad_images.html' %}

                    <section>
                        <h2>Описание</h2>
                        <p>{{ ad.description }}</p>
                    </section>

                    <section>
                        <h2>Детали</h2>
                        <div class="row">
                          <div class="col-md-8">
                              <dl>
                                <dt>Категория</dt>             <dd> {{ ad.category.category }}</dd>
                                <dt>Подкатегория</dt>          <dd> {{ ad.category }}</dd>

                                <dt>Тип</dt><dd> {{ ad.zapauto.spare }}</dd>
                                <dt>Тип фары</dt><dd> {{ ad.zapauto.type_of_headlight }}</dd>
                                <dt>Вид транспорта</dt><dd> {{ ad.zapauto.motor }}</dd>
                                <dt>Марка</dt><dd> {{ ad.zapauto.brand }}</dd>
                                <dt>Состояние</dt><dd> {{ ad.zapauto.condition }}</dd>
                                <dt>Артикул</dt><dd> {{ ad.zapauto.art }}</dd>
                                <dt>Тип</dt><dd> {{ ad.zapauto.tires_wheels }}</dd>
                                <dt>Диаметр</dt><dd> {{ ad.zapauto.tires }}</dd>
                                <dt>Тип</dt><dd> {{ ad.zapauto.oils_car_chemicals }}</dd>
                                <dt>Тип</dt><dd> {{ ad.zapauto.electronics_gps }}</dd>
                                <dt>Тип</dt><dd> {{ ad.zapauto.accessories_tools }}</dd>
                                <dt>Тип</dt><dd> {{ ad.zapauto.audio_video }}</dd>
                                <dt>Тип</dt><dd> {{ ad.zapauto.anti_theft }}</dd>
                                <dt>Тип</dt><dd> {{ ad.zapauto.roof_trailers }}</dd>
                                <dt>Тип</dt><dd> {{ ad.zapauto.moto_gear }}</dd>
                                <dt>Пол</dt><dd> {{ ad.zapauto.gender }}</dd>
                                <dt>Размер</dt><dd> {{ ad.zapauto.size }}</dd>
                                <dt>Размер куртки</dt><dd> {{ ad.zapauto.jacket_size }}</dd>

                                <dt>Размер ноги</dt><dd> {{ ad.zapauto.shoe_size }}</dd>
                                <dt>Размер штанов</dt><dd> {{ ad.zapauto.pant_size }}</dd>
                                <dt>Размер комбинезона</dt><dd> {{ ad.zapauto.jumpsuit_size }}</dd>

                              </dl>
                          </div>
                       </div>
                    </section>
                    {% include 'detail/anon/vote_view.html' %}
                    {% include 'section_author.html' %}
                </div>

                <div class="col-md-4">
                    <aside class="sidebar">

                      {% include 'section_simular.html' %}

                    </aside>
                </div>
            </div>
        </div>
    </section>
</section>


<script>
var ready = (callback) => {if (document.readyState != "loading") callback();else document.addEventListener("DOMContentLoaded", callback)}

ready(() => {
  var list = document.querySelectorAll('dd');
  var count = list.length;
  for(i=0; i<count; i++) {
    if(list[i].innerHTML == " " || list[i].innerHTML == " False" ){
      list[i].previousElementSibling.remove();
      list[i].remove();
    }
    else if(list[i].innerHTML == " True"){
      list[i].innerHTML = "Есть";
      list[i].classList.add("current_dd");
    }
    else{
      list[i].classList.add("current_dd")
    }}
})
</script>
{% endblock %}
