{% extends "bases/base.html" %}
{% load humanize %}
{% block title %}Создание объявления{% endblock %}
{% block content %}
<style>
.form-group{
  display: table-caption;
}
</style>

<section id="sect" class="content">
    <section class="block">
      <div class="page-title">
          <div class="container">
              <h1 style="padding-bottom: 7rem;">Добавление объвления</h1>
          </div>
      </div>
        <div id='mess' class="text-center"></div>
        <div id='mess_button' class="text-center"></div>
        <div class="container" id="testt">
            {% if user.is_anonymous %}
            <section>
                <div class="alert alert-warning" role="alert">
                    <h2 class="alert-heading">Здравствуйте, гость!</h2>
                    <p>Для того, чтобы добавлять объявления, нужно
                        <a href="{% url 'login' %}" class="link"><strong>Войти</strong></a> или
                        <a href="{% url 'register' %}" class="link"><strong>Зарегистрироваться</strong></a></p>
                </div>
            </section>
            {% else %}
            <form class="form form-submit" action="" id="FORM" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <section>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="type" class="required">Категория</label>
                                <select onchange="SelectSubCategory (this)">
                                    <option value="">Выберите категорию</option>
                                    {% for object in ad_categories %}
                                    <option value="{{ object.order }}">{{ object.name_ru }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group subcat" style="display:none">
                            <label for="type" class="required">Подкатегория</label>
                            <select onchange="loadAddForm (this)" name="category" id="id_category">
                              <option value="">Подкатегория</option>
                            </select>
                          </div>
                        </div>
                    </div>
                </section>

                <div class="special_block"></div>
            </form>
            {% endif %}
        </div>
    </section>
</section>


<script>

</script>
{% endblock %}
