{% extends "bases/base.html" %}
{% load humanize %}
{% block title %}Создание объявления{% endblock %}
{% block content %}

<section id="sect" class="content">
    <section class="block">
      <div class="page-title">
          <div class="container">
              <h1 style="padding-bottom: 7rem;">Добавление объявления</h1>
          </div>
      </div>
        <div id='mess' class="text-center"></div>
        <div id='mess_button' class="text-center"></div>
        <div class="container" id="testt">
            {% if user.is_anonymous %}
            <section>
                <div class="alert alert-warning" role="alert">
                    <h2 class="alert-heading">Здравствуйте, гость!</h2>
                    <p>Для того, чтобы добавлять объявления, нужно
                        <a href="{% url 'login' %}" class="link"><strong>Войти</strong></a> или
                        <a href="{% url 'register' %}" class="link"><strong>Зарегистрироваться</strong></a></p>
                </div>
            </section>
            {% else %}
            <form class="form form-submit" action="" id="FORM" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <section>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="type" class="required">Категория</label>
                                <select onchange="SelectSubCategory (this)">
                                    <option value="">Выберите категорию</option>
                                    {% for object in ad_categories %}
                                    <option value="{{ object.order }}">{{ object.name_ru }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group subcat" style="display:none">
                            <label for="type" class="required">Подкатегория</label>
                            <select onchange="loadAddForm (this)" name="category" id="id_category">
                              <option value="">Подкатегория</option>
                            </select>
                          </div>
                        </div>
                    </div>
                </section>

                <div class="special_block"></div>

            </form>
            {% endif %}
        </div>
    </section>
</section>

<script>
  var ready = (callback) => {if (document.readyState != "loading") callback();else document.addEventListener("DOMContentLoaded", callback);}
</script>
<script>
  ready(() => {
  var imageLoader = document.getElementById("id_img0");
var entrou = false;
$("#image-holder").on("click", function() {
  $("#id_img0").click();
});

$("#id_img0").on("change", function() {
  if (!entrou) {
    var imgPath = $(this)[0].value;
    var extn = imgPath.substring(imgPath.lastIndexOf(".") + 1).toLowerCase();

    if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
      if (typeof FileReader != "undefined") {
        var image_holder = $("#image-holder");
        image_holder.empty();

        var reader = new FileReader();
        reader.onload = function(e) {
          $img = $("<img />", {
            id: "targetImageCrop",
            src: e.target.result,
            class: "thumb-image"
          }).appendTo(image_holder);
        };

        image_holder.show();
        reader.readAsDataURL($(this)[0].files[0]);
      }
    } else {
      this.value = null;
    }
  }
  entrou = true;
  setTimeout(function() {
    entrou = false;
  }, 1000);
});
});
</script>

<script>

ready(() => {
  var imageLoader = document.getElementById("id_img1");
var entrou = false;
$("#image-holder1").on("click", function() {
  $("#id_img1").click();
});

$("#id_img1").on("change", function() {
  if (!entrou) {
    var imgPath = $(this)[0].value;
    var extn = imgPath.substring(imgPath.lastIndexOf(".") + 1).toLowerCase();

    if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
      if (typeof FileReader != "undefined") {
        var image_holder = $("#image-holder1");
        image_holder.empty();

        var reader = new FileReader();
        reader.onload = function(e) {
          $img = $("<img />", {
            id: "targetImageCrop",
            src: e.target.result,
            class: "thumb-image"
          }).appendTo(image_holder);
        };

        image_holder.show();
        reader.readAsDataURL($(this)[0].files[0]);
      }
    } else {
      this.value = null;
    }
  }
  entrou = true;
  setTimeout(function() {
    entrou = false;
  }, 1000);
});
});
</script>

<script>
  ready(() => {

  var imageLoader = document.getElementById("id_img2");
var entrou = false;
$("#image-holder2").on("click", function() {
  $("#id_img2").click();
});

$("#id_img2").on("change", function() {
  if (!entrou) {
    var imgPath = $(this)[0].value;
    var extn = imgPath.substring(imgPath.lastIndexOf(".") + 1).toLowerCase();

    if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
      if (typeof FileReader != "undefined") {
        var image_holder = $("#image-holder2");
        image_holder.empty();

        var reader = new FileReader();
        reader.onload = function(e) {
          $img = $("<img />", {
            id: "targetImageCrop",
            src: e.target.result,
            class: "thumb-image"
          }).appendTo(image_holder);
        };

        image_holder.show();
        reader.readAsDataURL($(this)[0].files[0]);
      }
    } else {
      this.value = null;
    }
  }
  entrou = true;
  setTimeout(function() {
    entrou = false;
  }, 1000);
});
});
</script>

<script>
  ready(() => {

  var imageLoader = document.getElementById("id_img3");
var entrou = false;
$("#image-holder3").on("click", function() {
  $("#id_img3").click();
});

$("#id_img3").on("change", function() {
  if (!entrou) {
    var imgPath = $(this)[0].value;
    var extn = imgPath.substring(imgPath.lastIndexOf(".") + 1).toLowerCase();

    if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
      if (typeof FileReader != "undefined") {
        var image_holder = $("#image-holder3");
        image_holder.empty();

        var reader = new FileReader();
        reader.onload = function(e) {
          $img = $("<img />", {
            id: "targetImageCrop",
            src: e.target.result,
            class: "thumb-image"
          }).appendTo(image_holder);
        };

        image_holder.show();
        reader.readAsDataURL($(this)[0].files[0]);
      }
    } else {
      this.value = null;
    }
  }
  entrou = true;
  setTimeout(function() {
    entrou = false;
  }, 1000);
});
});
</script>

<script>
  ready(() => {
  var imageLoader = document.getElementById("id_img4");
var entrou = false;
$("#image-holder4").on("click", function() {
  $("#id_img4").click();
});

$("#id_img4").on("change", function() {
  if (!entrou) {
    var imgPath = $(this)[0].value;
    var extn = imgPath.substring(imgPath.lastIndexOf(".") + 1).toLowerCase();

    if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
      if (typeof FileReader != "undefined") {
        var image_holder = $("#image-holder4");
        image_holder.empty();

        var reader = new FileReader();
        reader.onload = function(e) {
          $img = $("<img />", {
            id: "targetImageCrop",
            src: e.target.result,
            class: "thumb-image"
          }).appendTo(image_holder);
        };

        image_holder.show();
        reader.readAsDataURL($(this)[0].files[0]);
      }
    } else {
      this.value = null;
    }
  }
  entrou = true;
  setTimeout(function() {
    entrou = false;
  }, 1000);
});
});
</script>

<script>
  ready(() => {

  var imageLoader = document.getElementById("id_img5");
var entrou = false;
$("#image-holder5").on("click", function() {
  $("#id_img5").click();
});

$("#id_img5").on("change", function() {
  if (!entrou) {
    var imgPath = $(this)[0].value;
    var extn = imgPath.substring(imgPath.lastIndexOf(".") + 1).toLowerCase();

    if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
      if (typeof FileReader != "undefined") {
        var image_holder = $("#image-holder5");
        image_holder.empty();

        var reader = new FileReader();
        reader.onload = function(e) {
          $img = $("<img />", {
            id: "targetImageCrop",
            src: e.target.result,
            class: "thumb-image"
          }).appendTo(image_holder);
        };

        image_holder.show();
        reader.readAsDataURL($(this)[0].files[0]);
      }
    } else {
      this.value = null;
    }
  }
  entrou = true;
  setTimeout(function() {
    entrou = false;
  }, 1000);
});
});
</script>


{% endblock %}
