<style>

  .carousel {
    height: 700px;
    overflow: hidden;
    text-align: center;
    position: relative;
    padding: 0;
    list-style: none;
}
  .carousel__controls,
  .carousel__activator {
    display: none;
  }
  .carousel__activator:nth-of-type(1):checked ~ .carousel__track {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .carousel__activator:nth-of-type(1):checked ~ .carousel__slide:nth-of-type(1) {
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .carousel__activator:nth-of-type(1):checked ~ .carousel__controls:nth-of-type(1) {
    display: block;
    opacity: 1;
  }
  .carousel__activator:nth-of-type(1):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(1) {
    opacity: 1;
  }
  .carousel__activator:nth-of-type(2):checked ~ .carousel__track {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .carousel__activator:nth-of-type(2):checked ~ .carousel__slide:nth-of-type(2) {
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .carousel__activator:nth-of-type(2):checked ~ .carousel__controls:nth-of-type(2) {
    display: block;
    opacity: 1;
  }
  .carousel__activator:nth-of-type(2):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(2) {
    opacity: 1;
  }
  .carousel__activator:nth-of-type(3):checked ~ .carousel__track {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  .carousel__activator:nth-of-type(3):checked ~ .carousel__slide:nth-of-type(3) {
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .carousel__activator:nth-of-type(3):checked ~ .carousel__controls:nth-of-type(3) {
    display: block;
    opacity: 1;
  }
  .carousel__activator:nth-of-type(3):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(3) {
    opacity: 1;
  }
  .carousel__activator:nth-of-type(4):checked ~ .carousel__track {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  .carousel__activator:nth-of-type(4):checked ~ .carousel__slide:nth-of-type(4) {
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .carousel__activator:nth-of-type(4):checked ~ .carousel__controls:nth-of-type(4) {
    display: block;
    opacity: 1;
  }
  .carousel__activator:nth-of-type(4):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(4) {
    opacity: 1;
  }
  .carousel__activator:nth-of-type(5):checked ~ .carousel__track {
    -webkit-transform: translateX(-400%);
            transform: translateX(-400%);
  }
  .carousel__activator:nth-of-type(5):checked ~ .carousel__slide:nth-of-type(5) {
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .carousel__activator:nth-of-type(5):checked ~ .carousel__controls:nth-of-type(5) {
    display: block;
    opacity: 1;
  }
  .carousel__activator:nth-of-type(5):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(5) {
    opacity: 1;
  }
  .carousel__control {
    height: 30px;
    width: 30px;
    margin-top: -15px;
    top: 50%;
    position: absolute;
    display: block;
    cursor: pointer;
    border-width: 5px 5px 0 0;
    border-style: solid;
    border-color: #fafafa;
    opacity: 0.35;
    outline: 0;
    z-index: 3;
  }
  .carousel__control:hover {
    opacity: 1;
  }
  .carousel__control--backward {
    left: 10px;
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
  .carousel__control--forward {
    right: 10px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .carousel__indicators {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
  }
  .carousel__indicator {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    display: inline-block;
    z-index: 2;
    cursor: pointer;
    opacity: 0.35;
    margin: 0 2.5px 0 2.5px;
  }
  .carousel__indicator:hover {
    opacity: 0.75;
  }
  .carousel__track {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
    -webkit-transition: -webkit-transform 0.5s ease 0s;
    transition: -webkit-transform 0.5s ease 0s;
    transition: transform 0.5s ease 0s;
    transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  }
  .carousel__track .carousel__slide {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
  }
  .carousel__track .carousel__slide:nth-of-type(1) {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .carousel__track .carousel__slide:nth-of-type(2) {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .carousel__track .carousel__slide:nth-of-type(3) {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  .carousel__track .carousel__slide:nth-of-type(4) {
    -webkit-transform: translateX(300%);
            transform: translateX(300%);
  }
  .carousel__track .carousel__slide:nth-of-type(5) {
    -webkit-transform: translateX(400%);
            transform: translateX(400%);
  }
  .carousel--scale .carousel__slide {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .carousel__slide {
    height: 100%;
    position: absolute;
    overflow-y: auto;
    opacity: 0;
  }

  .my-carousel {
    border-radius: 5px;
    margin: 30px;
  }
  .carousel__slide {
    overflow: hidden;
  }
  .carousel--thumb .carousel__indicator {
    height: 30px;
    width: 30px;
  }

  .carousel__indicator {
    background-color: #fafafa;
  }
</style>

<section>
    <h2>Галерея</h2>

    <div class="carousel-container">

      <ul class="carousel my-carousel carousel--thumb col-md-12">
        <input class="carousel__activator" type="radio" id="img0" name="thumb" checked="checked"/>
        <input class="carousel__activator" type="radio" id="img1" name="thumb"/>
        <input class="carousel__activator" type="radio" id="img2" name="thumb"/>
        <input class="carousel__activator" type="radio" id="img3" name="thumb"/>
        <input class="carousel__activator" type="radio" id="img4" name="thumb"/>
        <input class="carousel__activator" type="radio" id="img5" name="thumb"/>
        <input class="carousel__activator" type="radio" id="img6" name="thumb"/>
        <input class="carousel__activator" type="radio" id="img7" name="thumb"/>

        {% if ad.img1 %}
        <div class="carousel__controls">
          <label class="carousel__control carousel__control--backward" for="img0"></label>
          <label class="carousel__control carousel__control--forward" for="img1"></label>
        </div>
        <div class="carousel__controls">
          <label class="carousel__control carousel__control--backward" for="img0"></label>
          <label class="carousel__control carousel__control--forward" for="img2"></label>
        </div>
        {% if ad.img2 %}
        <div class="carousel__controls">
          <label class="carousel__control carousel__control--backward" for="img1"></label>
          <label class="carousel__control carousel__control--forward" for="img3"></label>
        </div>
        {% endif %}
        {% if ad.img3 %}
        <div class="carousel__controls">
          <label class="carousel__control carousel__control--backward" for="img2"></label>
          <label class="carousel__control carousel__control--forward" for="img4"></label>
        </div>
        {% endif %}
        {% if ad.img4 %}
        <div class="carousel__controls">
          <label class="carousel__control carousel__control--backward" for="img4"></label>
          <label class="carousel__control carousel__control--forward" for="img6"></label>
        </div>
        {% endif %}
        {% if ad.img5 %}
        <div class="carousel__controls">
          <label class="carousel__control carousel__control--backward" for="img5"></label>
          <label class="carousel__control carousel__control--forward" for="img7"></label>
        </div>
        {% endif %}
        {% if ad.img6 %}
        <div class="carousel__controls">
          <label class="carousel__control carousel__control--backward" for="img6"></label>
          <label class="carousel__control carousel__control--forward" for="img8"></label>
        </div>
        {% endif %}
        {% if ad.img7 %}
        <div class="carousel__controls">
          <label class="carousel__control carousel__control--backward" for="img7"></label>
          <label class="carousel__control carousel__control--forward" for="img0"></label>
        </div>
        {% endif %}

        {% endif %}

        <li class="carousel__slide">
          {% if ad.image %}
            <img src="{{ ad.image.url }}" style="width:100%">
          {% else %}
            <img src="/static/images/no_img.jpg">
          {% endif %}
        </li>
        {% if ad.img1 %}<li class="carousel__slide"><img src="{{ ad.img1.url }}" style="width:100%"></li>{% endif %}
        {% if ad.img2 %}<li class="carousel__slide"><img src="{{ ad.img2.url }}" style="width:100%"></li>{% endif %}
        {% if ad.img3 %}<li class="carousel__slide"><img src="{{ ad.img3.url }}" style="width:100%"></li>{% endif %}
        {% if ad.img5 %}<li class="carousel__slide"><img src="{{ ad.img5.url }}" style="width:100%"></li>{% endif %}
        {% if ad.img6 %}<li class="carousel__slide"><img src="{{ ad.img6.url }}" style="width:100%"></li>{% endif %}
        {% if ad.img7 %}<li class="carousel__slide"><img src="{{ ad.img7.url }}" style="width:100%"></li>{% endif %}

        {% if ad.img1 %}
        <div class="carousel__indicators">
          <label class="carousel__indicator"
                 for="img0"
                 style="
                 {% if ad.image %}
                 background-image: url({{ ad.image.url }});
                 {% else %}
                 background-image: url(/static/images/no_img.jpg);
                 {% endif %}
                 background-size: cover;
                 background-position: center;">
          </label>

          <label class="carousel__indicator" style="background-image:url({{ ad.img1.url }});background-size:cover;background-position:center;" for="img1"></label>
          {% if ad.img2 %}
          <label class="carousel__indicator" style="background-image:url({{ ad.img2.url }});background-size:cover;background-position:center;" for="img2"></label>
          {% endif %}
          {% if ad.img3 %}
          <label class="carousel__indicator" style="background-image:url({{ ad.img3.url }});background-size:cover;background-position:center;" for="img3"></label>
          {% endif %}
          {% if ad.img4 %}
          <label class="carousel__indicator" style="background-image:url({{ ad.img4.url }});background-size:cover;background-position:center;" for="img4"></label>
          {% endif %}
          {% if ad.img5 %}
          <label class="carousel__indicator" style="background-image:url({{ ad.img5.url }});background-size:cover;background-position:center;" for="img5"></label>
          {% endif %}
          {% if ad.img6 %}
          <label class="carousel__indicator" style="background-image:url({{ ad.img6.url }});background-size:cover;background-position:center;" for="img6"></label>
          {% endif %}
          {% if ad.img7 %}
          <label class="carousel__indicator" style="background-image:url({{ ad.img7.url }});background-size:cover;background-position:center;" for="img7"></label>
          {% endif %}
        </div>
        {% endif %}
      </ul>
    </div>
</section>
