<style>
  #carousel-custom {
    margin-top:  10px;
    width: 100%;
}
#carousel-custom .carousel-indicators {
    margin: 10px 0 0;
    overflow: auto;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 100%;
}
#carousel-custom .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0 !important;
    width: auto;
}
#carousel-custom .carousel-indicators li img {
    display: block;
    opacity: 0.5;
}
#carousel-custom .carousel-indicators li.active img {
    opacity: 1;
}
#carousel-custom .carousel-indicators li:hover img {
    opacity: 0.75;
}
#carousel-custom .carousel-outer {
    position: relative;
}
.carousel-control.left {
    background-image: none;
    width: 54px;
    height: 54px;
    top: 50%;
    left: 20px;
    margin-top: -27px;
    line-height: 54px;
    border: 2px solid #fff;
    opacity: 1;
    text-shadow: none;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
.carousel-control.right {
    background-image: none;
    width: 54px;
    height: 54px;
    top: 50%;
    right: 20px;
    margin-top: -27px;
    line-height: 54px;
    border: 2px solid #fff;
    opacity: 1;
    text-shadow: none;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
#carousel-custom .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0 !important;
    width: auto;
}
#carousel-custom .carousel-indicators li img {
    display: block;
    opacity: 0.5;
}
#carousel-custom .carousel-indicators li.active img {
    opacity: 1;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
}
#carousel-custom .carousel-indicators {
    margin: 10px 0 0;
    overflow: auto;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 100%;
}
@media not all, (-webkit-transform-3d){
.carousel-inner>.item.active, .carousel-inner>.item.next.left, .carousel-inner>.item.prev.right {
    left: 0;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.carousel-inner>.item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    -o-transition: -o-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
}
.carousel-inner>.item {
    position: relative;
    display: none;
    -webkit-transition: .6s ease-in-out left;
    -o-transition: .6s ease-in-out left;
    transition: .6s ease-in-out left;
}
.carousel-inner>.active, .carousel-inner>.next, .carousel-inner>.prev {
    display: block;
}
</style>

<section>
    <h2>Галерея</h2>
    <div class="container">

    <div class="row">
    <div class="col-lg-12">
      <div id="carousel-custom" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            {% if ad.image %}
              <img src="{{ ad.image.url }}" alt="..." class="img-responsive">
            {% else %}
              <img src="/static/images/no_img.jpg" alt="..." class="img-responsive">
            {% endif %}
          </div>
          {% if ad.img1 %}
          <div class="item">
            <img src="{{ ad.img1.url }}" style="width: 100%;" alt="..." class="img-responsive">
          </div>
          {% endif %}
          {% if ad.img2 %}
          <div class="item">
            <img src="{{ ad.img2.url }}" style="width: 100%;" alt="..." class="img-responsive">
          </div>
          {% endif %}
          {% if ad.img3 %}
          <div class="item">
            <img src="{{ ad.img3.url }}" style="width: 100%;" alt="..." class="img-responsive">
          </div>
          {% endif %}
          {% if ad.img4 %}
          <div class="item">
            <img src="{{ ad.img4.url }}" style="width: 100%;" alt="..." class="img-responsive">
          </div>
          {% endif %}
          {% if ad.img5 %}
          <div class="item">
            <img src="{{ ad.img5.url }}" style="width: 100%;" alt="..." class="img-responsive">
          </div>
          {% endif %}
          {% if ad.img6 %}
          <div class="item">
            <img src="{{ ad.img6.url }}" style="width: 100%;" alt="..." class="img-responsive">
          </div>
          {% endif %}
          {% if ad.img7 %}
          <div class="item">
            <img src="{{ ad.img7.url }}" style="width: 100%;" alt="..." class="img-responsive">
          </div>
          {% endif %}
        </div>

        <a class="left carousel-control" href="#carousel-custom" role="button" data-slide="prev">
          Прев.
          <span class="sr-only">Прев.</span>
        </a>
        <a class="right carousel-control" href="#carousel-custom" role="button" data-slide="next">
          След.
          <span class="sr-only">След.</span>
        </a>

      <ol class="carousel-indicators visible-sm-block hidden-xs-block visible-md-block visible-lg-block">
          <li data-target="#carousel-custom" data-slide-to="0" class="active">
            {% if ad.image %}
              <img src="{{ ad.image.url }}" alt="..." class="img-responsive">
            {% else %}
              <img src="/static/images/no_img.jpg" alt="..." class="img-responsive">
            {% endif %}
          </li>
          {% if ad.img1 %}
          <li data-target="#carousel-custom" data-slide-to="1">
              <img src="{{ ad.img1.url }}" alt="..." class="img-responsive">
          </li>
          {% endif %}
          {% if ad.img2 %}
          <li data-target="#carousel-custom" data-slide-to="2">
              <img src="{{ ad.img2.url }}" alt="..." class="img-responsive">
          </li>
          {% endif %}
          {% if ad.img3 %}
          <li data-target="#carousel-custom" data-slide-to="3">
              <img src="{{ ad.img3.url }}" alt="..." class="img-responsive">
          </li>
          {% endif %}
          {% if ad.img4 %}
          <li data-target="#carousel-custom" data-slide-to="4">
              <img src="{{ ad.img4.url }}" alt="..." class="img-responsive">
          </li>
          {% endif %}
          {% if ad.img5 %}
          <li data-target="#carousel-custom" data-slide-to="5">
              <img src="{{ ad.img5.url }}" alt="..." class="img-responsive">
          </li>
          {% endif %}
          {% if ad.img6 %}
          <li data-target="#carousel-custom" data-slide-to="6">
              <img src="{{ ad.img6.url }}" alt="..." class="img-responsive">
          </li>
          {% endif %}
          {% if ad.img7 %}
          <li data-target="#carousel-custom" data-slide-to="7">
              <img src="{{ ad.img7.url }}" alt="..." class="img-responsive">
          </li>
          {% endif %}
      </ol>
    </div>
  </div>
</div>
</div>
</section>
