<section>
    <h2>Добавьте изображения</h2>
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="id_image">
          <input type="file" name="image" accept="image/*" id="id_image">
        </div>
        <div id="image-holder">
          <h4 style="font-weight:bold;font-size:70px;color:#CECECE">№ 1</h4>
          <p>Главное изображение</p>

          <i style="color:#CECECE">(необязательно)</i>

        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12" style="display:none">
        <div class="id_img1"><input type="file" name="img1" accept="image/*" id="id_img1"></div>
        <div id="image-holder1">
          <h4 style="font-weight:bold;font-size:70px;color:#CECECE">№ 2</h4>

          <p>Доп. изображение</p>

          <i style="color:#CECECE">(необязательно)</i>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12" style="display:none">
        <div class="id_img2"><input type="file" name="img2" accept="image/*" id="id_img2"></div>
        <div id="image-holder2">
          <h4 style="font-weight:bold;font-size:70px;color:#CECECE">№ 3</h4>

          <p>Доп. изображение</p>

          <i style="color:#CECECE">(необязательно)</i>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12" style="display:none">
        <div class="id_img3"><input type="file" name="img3" accept="image/*" id="id_img3"></div>
        <div id="image-holder3">
          <h4 style="font-weight:bold;font-size:70px;color:#CECECE">№ 4</h4>

          <p>Доп. изображение</p>

          <i style="color:#CECECE">(необязательно)</i>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12" style="display:none">
        <div class="id_img4"><input type="file" name="img4" accept="image/*" id="id_img4"></div>
        <div id="image-holder4">
          <h4 style="font-weight:bold;font-size:70px;color:#CECECE">№ 5</h4>

          <p>Доп. изображение</p>

          <i style="color:#CECECE">(необязательно)</i>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12" style="display:none">
        <div class="id_img5"><input type="file" name="img5" accept="image/*" id="id_img5"></div>
        <div id="image-holder5">
          <h4 style="font-weight:bold;font-size:70px;color:#CECECE">№ 6</h4>

          <p>Доп. изображение</p>

          <i style="color:#CECECE">(необязательно)</i>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12" style="display:none">
        <div class="id_img6"><input type="file" name="img6" accept="image/*" id="id_img6"></div>
        <div id="image-holder6">
          <h4 style="font-weight:bold;font-size:70px;color:#CECECE">№ 7</h4>

          <p>Доп. изображение</p>

          <i style="color:#CECECE">(необязательно)</i>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12" style="display:none">
        <div class="id_img7"><input type="file" name="img7" accept="image/*" id="id_img7"></div>
        <div id="image-holder7">
          <h4 style="font-weight:bold;font-size:70px;color:#CECECE">№ 8</h4>

          <p>Доп. изображение</p>

          <i style="color:#CECECE">(необязательно)</i>
        </div>
      </div>
    </div>
</section>

<section class="clearfix" style="margin-left: 20px;">
  <div class="row">
    <ul class="list-unstyled columns-1">
      <li>
        <label class="" style="font-size:15px">
          {{ form.votes_off }}
          {{ form.votes_off.label }}
        </label>
      </li>
    </ul>
  </div>
</section>

<section class="clearfix">
    <div class="form-group">
        <button type="submit" id="create_post" class="btn btn-primary large icon float-right">
          Опубликовать
        </button>
    </div>
</section>
