<section>
    <h2>Основная информация</h2>

    <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label for="type" class="required">Название товара</label>
            <input type="text" name="title" id="id_title" required="" maxlength="200">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="type" class="required">Цена товара</label>
              <input type="number" name="price" value="" min="0" id="id_price" required="">
              <span class="input-group-addon">₽</span>
          </div>
        </div>
    </div>
</section>

  <section>
    <div class="form-group">
    <label>Описание товара</label>
      <textarea name="description" class="form-control" cols="40" rows="5" id="id_description" required=""></textarea>
    </div>
  </section>

  <div class="location_block">
    <section>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
              <label for="type" class="required">Регион</label>
              <select onchange="loadCitySelect (this)" name="region" id="id_region">
                  <option value="">Выберите регион</option>
                  {% for object in regions %}
                  <option value="{{ object.order }}">{{ object.name_ru }}</option>
                  {% endfor %}
              </select>
            </div>
        </div>
        <div class="col-md-6">
          <div class="form-group city" style="display:none">
            <label for="type" class="required">Город</label>
            <select name="city" id="id_city">
            </select>
          </div>
        </div>
    </div>
    </section>
  </div>
