<section>
    <h2>Добавьте изображения</h2>
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="id_image">{{ form.image }}</div>
        <div id="image-holder">
          <h4 style="font-weight:bold;font-size:70px;color:#CECECE">№ 1</h4>
          <p>Главное изображение</p>

          <i style="color:#CECECE">(необязательно)</i>

        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12" style="display:none">
        <div class="id_img1">{{ form.img1 }}</div>
        <div id="image-holder1">
          <h4 style="font-weight:bold;font-size:70px;color:#CECECE">№ 2</h4>

          <p>Доп. изображение</p>

          <i style="color:#CECECE">(необязательно)</i>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12" style="display:none">
        <div class="id_img2">{{ form.img2 }}</div>
        <div id="image-holder2">
          <h4 style="font-weight:bold;font-size:70px;color:#CECECE">№ 3</h4>

          <p>Доп. изображение</p>

          <i style="color:#CECECE">(необязательно)</i>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12" style="display:none">
        <div class="id_img3">{{ form.img3 }}</div>
        <div id="image-holder3">
          <h4 style="font-weight:bold;font-size:70px;color:#CECECE">№ 4</h4>

          <p>Доп. изображение</p>

          <i style="color:#CECECE">(необязательно)</i>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12" style="display:none">
        <div class="id_img4">{{ form.img4 }}</div>
        <div id="image-holder4">
          <h4 style="font-weight:bold;font-size:70px;color:#CECECE">№ 5</h4>

          <p>Доп. изображение</p>

          <i style="color:#CECECE">(необязательно)</i>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12" style="display:none">
        <div class="id_img5">{{ form.img5 }}</div>
        <div id="image-holder5">
          <h4 style="font-weight:bold;font-size:70px;color:#CECECE">№ 6</h4>

          <p>Доп. изображение</p>

          <i style="color:#CECECE">(необязательно)</i>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12" style="display:none">
        <div class="id_img6">{{ form.img6 }}</div>
        <div id="image-holder6">
          <h4 style="font-weight:bold;font-size:70px;color:#CECECE">№ 7</h4>

          <p>Доп. изображение</p>

          <i style="color:#CECECE">(необязательно)</i>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12" style="display:none">
        <div class="id_img7">{{ form.img7 }}</div>
        <div id="image-holder7">
          <h4 style="font-weight:bold;font-size:70px;color:#CECECE">№ 8</h4>

          <p>Доп. изображение</p>

          <i style="color:#CECECE">(необязательно)</i>
        </div>
      </div>
    </div>
</section>
