<section>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
          <label for="type" class="required">Регион</label>
          <select onchange="loadCitySelect (this)" name="region" id="id_region">
              <option value="">Выберите регион</option>
              {% for object in regions %}
              <option value="{{ object.order }}">{{ object.name_ru }}</option>
              {% endfor %}
          </select>
        </div>
    </div>
    <div class="col-md-6">
      <div class="form-group city" style="display:none">
        <label for="type" class="required">Город</label>
        <select name="city" id="id_city">
        </select>
      </div>
    </div>
</div>
</section>
