{% extends "bases/base.html" %}

{% block title %}Модуль объявлений по всей России{% endblock %}
{% block icon %}
<a style="font-size:20px" class="get_russia" tooltip='Россия' flow="down">
  <svg height="24" style="padding-top: 5px;" viewBox="0 0 24 24" width="24">
    <path fill="#FFFFFF" d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/>
    <path d="M0 0h24v24H0z" fill="none"/>
  </svg>
</a>
<a style="font-size:20px" tooltip="Модуль объявлений" flow="down">
  <svg fill="#FF0000" style="padding-top: 5px;" width="24" height="24"enable-background="new 0 0 24 24" viewBox="0 0 24 24">
    <g><rect x="0"/></g>
    <g><g><g><path d="M9.01,14H2v2h7.01v3L13,15l-3.99-4V14z M14.99,13v-3H22V8h-7.01V5L11,9L14.99,13z"/></g></g></g>
  </svg>
</a>
{% endblock %}
{% block navigation %}
<div class="header_navigation container">
  <a class="get_russia" tooltip='Нажмите для смены локации' flow="down" href="#">Россия</a> /
  <a>Модуль объявлений</a> 
</div>
{% endblock %}
{% block content %}
<div class="page-title">
    <div class="container">
      <h1 class="opacity-40 center">
        Россия :: модуль объявлений
      </h1>
    </div>
</div>
{% include 'main/ads/ad_form.html' %}

<section class="content module_1">
  <section class="block">
      <div class="container">
        <h2>Категории объявлений</h2>
        <h4 class="row">
          {% for cat in ad_categories %}
              <span class="col-md-3">
                <a href="{% url 'ad_category' cat_name=cat.name_en %}">
                  {{ cat.name_ru }} ({{ cat.get_ads_count }})
                </a>
              </span>
          {% endfor %}
         </h4>
      </div>
  </section>

    {% include 'main/ads/new_ads.html' %}

    <section class="block" style="background: black;color: white;">
        <div class="container">
            <div class="block">
                <h2>Система работы сайта достаточно проста</h2>
                <div class="row">
                    <div class="col-md-3">
                        <div class="feature-box">
                            <figure>
                                <img src="/static/images/feature-user.png" alt="">
                                <span style="color: black;">1</span>
                            </figure>
                            <h3>Создаёте аккаунт</h3>
                            <p>Покупатель свяжется с Вами напрямую, по указанным Вами контактам</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="feature-box">
                            <figure>
                                <img src="/static/images/feature-upload.png" alt="">
                                <span style="color: black;">2</span>
                            </figure>
                            <h3>Добавляете объявление</h3>
                            <p>Кнопка добавления находится сверху справа. Нужно быть зарегистрированным.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="feature-box">
                            <figure>
                                <img src="/static/images/feature-like.png" alt="">
                                <span style="color: black;">3</span>
                            </figure>
                            <h3>Ждёте покупателя</h3>
                            <p>Разумеется, будет здорово, если Вы расскажете о нас друзьям.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="feature-box">
                            <figure>
                                <img src="/static/images/feature-wallet.png" alt="">
                                <span style="color: black;">4</span>
                            </figure>
                            <h3>Получаете оплату</h3>
                            <p>Заходите на наш сайт еще, он рассчитан на большой трафик по России</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="background" data-background-color="#2b2b2b"></div>
    </section>

</section>
{% endblock %}
