
<section>
    <h2>Основная информация</h2>

    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                {{ form.title.errors }}
              <label for="type" class="required">Название товара</label>
                {{ form.title }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                {{ form.price.errors }}
              <label for="type" class="required">Цена товара</label>
                {{ form.price }}
                <span class="input-group-addon">₽</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
              <label for="type" class="required">Регион</label>
              <select name="area" id="id_area" data-placeholder="Выберите регион">
                  <option value="">Выберите регион</option>
                  {% for object in areas %}
                  <option value="{{ object.order }}">{{ object.name }}</option>
                  {% endfor %}
              </select>
            </div>
        </div>
        <div class="col-md-6">
            <div id="my_sity"></div>
        </div>
    </div>
</section>

<section>
  <div class="form-group">
    <label for="" class="col-form-label">Тип головного убора</label>
    {{ form.hat.errors }}
    {{ form.hat }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Пол</label>
    {{ form.gender.errors }}
    {{ form.gender }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Бренд</label>
    {{ form.brand.errors }}
    {{ form.brand }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Состояние</label>
    {{ form.condition.errors }}
    {{ form.condition }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Цвет</label>
    {{ form.color.errors }}
    {{ form.color }}
  </div>

    <div class="form-group">
    <label>Описание товара</label>
      {{ form.description|safe }}
    </div>

</section>
<div class="location_block">{% include 'location_select.html' %}</div>

{% include 'form_bottom.html' %}
