{% include 'form_top.html' %}

<section>
  <div class="form-group">
    <label for="" class="col-form-label">Тип проектора</label>
    {{ form.type_projectors.errors }}
    {{ form.type_projectors }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Марка проектора</label>
    {{ form.brand_projectors.errors }}
    {{ form.brand_projectors }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Разрешение экрана</label>
    {{ form.screen_res.errors }}
    {{ form.screen_res }}
  </div>

  <br>
  <ul class="list-unstyled columns-1">
    <li>
      <label class="" style="font-size:15px">
        {{ form.enable_3D }}
        {{ form.enable_3D.label }}
      </label>
    </li>
  </ul>
</section>

{% include 'form_bottom.html' %}
