
<section>
    <h2>Основная информация</h2>

    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                {{ form.title.errors }}
              <label for="type" class="required">Название товара</label>
                {{ form.title }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                {{ form.price.errors }}
              <label for="type" class="required">Цена товара</label>
                {{ form.price }}
                <span class="input-group-addon">₽</span>
            </div>
        </div>
    </div>
</section>

<section>

  <div class="form-group">
    <label for="" class="col-form-label">Тип проектора</label>
    {{ form.type_projectors.errors }}
    {{ form.type_projectors }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Марка проектора</label>
    {{ form.brand_projectors.errors }}
    {{ form.brand_projectors }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Разрешение экрана</label>
    {{ form.screen_res.errors }}
    {{ form.screen_res }}
  </div>

  <br>
  <ul class="list-unstyled columns-1">
    <li>
      <label class="" style="font-size:15px">
        {{ form.enable_3D }}
        {{ form.enable_3D.label }}
      </label>
    </li>
  </ul>

    <div class="form-group">
    <label>Описание товара</label>
      {{ form.description|safe }}
    </div>

</section>
<div class="location_block">{% include 'location_select.html' %}</div>

{% include 'form_bottom.html' %}
