
<section>
  <div class="form-group">
    <label for="" class="col-form-label">Марка</label>
    {{ form.brand_book.errors }}
    {{ form.brand_book }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Диагональ экрана</label>
    {{ form.diagonal_book.errors }}
    {{ form.diagonal_book }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Тип дисплея</label>
    {{ form.type_display.errors }}
    {{ form.type_display }}
  </div>
  <br>
  <ul class="list-unstyled columns-1">
    <li>
      <label class="" style="font-size:15px">
        {{ form.color_display }}
        {{ form.color_display.label }}
      </label>
    </li>
    <li>
      <label class="" style="font-size:15px">
        {{ form.light_display }}
        {{ form.light_display.label }}
      </label>
    </li>
    <li>
      <label class="" style="font-size:15px">
        {{ form.wi_fi }}
        {{ form.wi_fi.label }}
      </label>
    </li>
  </ul>
</section>
