{% include 'form_top.html' %}

<section>
  <div class="form-group">
    <label for="" class="col-form-label">Тип</label>
    {{ form.type_head.errors }}
    {{ form.type_head }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Марка</label>
    {{ form.brand_head.errors }}
    {{ form.brand_head }}
  </div>

  <br>
  <ul class="list-unstyled columns-1">
    <li>
      <label class="" style="font-size:15px">
        {{ form.volume }}
        {{ form.volume.label }}
      </label>
    </li>
    <li>
      <label class="" style="font-size:15px">
        {{ form.woter }}
        {{ form.woter.label }}
      </label>
    </li>
    <li>
      <label class="" style="font-size:15px">
        {{ form.noise }}
        {{ form.noise.label }}
      </label>
    </li>
  </ul>
</section>

{% include 'form_bottom.html' %}
