{% include 'form_top.html' %}

<section>
  <div class="form-group">
    <label for="" class="col-form-label">Марка</label>
    {{ form.brand_dvd.errors }}
    {{ form.brand_dvd }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Тип</label>
    {{ form.type_dvd.errors }}
    {{ form.type_dvd }}
  </div>
  <br>
  <ul class="list-unstyled columns-1">
    <li>
      <label class="" style="font-size:15px">
        {{ form.portable }}
        {{ form.portable.label }}
      </label>
    </li>
    <li>
      <label class="" style="font-size:15px">
        {{ form.karaoke }}
        {{ form.karaoke.label }}
      </label>
    </li>
  </ul>
</section>

{% include 'form_bottom.html' %}
