
<section>
  <div class="form-group">
    <label for="" class="col-form-label">Марка</label>
    {{ form.brand_mp3.errors }}
    {{ form.brand_mp3 }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Тип</label>
    {{ form.type_mp3.errors }}
    {{ form.type_mp3 }}
  </div>
  <br>
  <ul class="list-unstyled columns-1">
    <li>
      <label class="" style="font-size:15px">
        {{ form.sensor }}
        {{ form.sensor.label }}
      </label>
    </li>
    <li>
      <label class="" style="font-size:15px">
        {{ form.radio }}
        {{ form.radio.label }}
      </label>
    </li>
    <li>
      <label class="" style="font-size:15px">
        {{ form.wi_fi }}
        {{ form.wi_fi.label }}
      </label>
    </li>
  </ul>
</section>
