
<section class="block">
    <div class="container">
        <h2>{{ city.name_ru }} :: Категории</h2>
        <ul class="categories-list clearfix">
            {% for cat in ad_categories %}
            <li>
              <i class="category-icon">
                  <img src="{{ cat.image.url }}" alt="">
              </i>
                <h3><a href="{% url 'ad_category_city' cat_name=cat.name_en city_name=city.name_en %}">{{ cat.name_ru }}</a></h3>
                <span class="sub-categories">
                  {% for object in cat.adsubcategory_set.all %}
                    <a href="{% url 'ad_subcategory_city' subcat_name=category.name_en city_name=city.name_en %}">{{ object.name_ru }}</a>
                  {% endfor %}
                </span>
            </li>
            {% endfor %}

        </ul>
    </div>
</section>
