{% extends "bases/base.html" %}
{% load staticfiles humanize thumbnail %}

{% block title %}Мои отложенные товары{% endblock %}
{% block content %}

<section class="content">
    <section class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    {% include 'user/nav.html' %}
                </div>
                <div class="col-md-9">
                            <div class="section-title clearfix">
                                <div class="float-right d-xs-none thumbnail-toggle">
                                  <a href="#" class="change-class active" data-change-from-class="list" data-change-to-class="masonry" data-parent-class="items">
                                      плитка
                                  </a>
                                  <a href="#" class="change-class " data-change-from-class="masonry" data-change-to-class="list" data-parent-class="items">
                                      список
                                  </a>
                                </div>
                            </div>
                            <div class="items compact masonry grid-xl-3-items grid-lg-2-items grid-md-2-items">
                              {% if object_list %}

                              {% for object in object_list %}
                              <div class="item item-sold" data-pk="{{ object.pk }}">
                                <div class="ribbon-diagonal">
                                    <div class="ribbon-diagonal__inner">
                                        <span>Продано</span>
                                    </div>
                                </div>
                                <div class="wrapper">
                                    <div class="image">
                                        <h3>
                                            <a href="{% url 'ad_detail' pk=object.pk %}" class="title">{{ object.title }}</a>
                                            <span class="tag">
                                              <i class="fa fa-eye"></i>&nbsp;0&nbsp;|&nbsp;<i class="fa fa-heart"></i>&nbsp;0
                                            </span>
                                        </h3>
                                        <a href="{% url 'ad_detail' pk=object.pk %}" class="image-wrapper background-image">
                                          {% if object.image %}
                                            <img src="{{ object.image.url }}" alt="">
                                          {% else %}
                                            <img src="{% static 'images/no_img.jpg' %}" alt="">
                                          {% endif %}
                                        </a>
                                    </div>
                                    <h4 class="location">
                                        <a href="{% url 'region' region_name=object.city.region.name_en %}">{{ object.city.region }}</a>,
                                        <a href="{% url 'city' city_name=object.city.name_en %}">{{ object.city }}</a>
                                    </h4>
                                    <div class="price rubl">&#8399; {{ object.price|intcomma }}</div>
                                    <div class="admin-controls">
                                        &nbsp;&nbsp;&nbsp;
                                        <a href="#">Изменить</a>
                                        &nbsp;&nbsp;
                                        <span>
                                          <span style="cursor:pointer" class="ad_unsold">Продано</span>
                                        </span>
                                        &nbsp;&nbsp;&nbsp;
                                        <span>
                                          <span style="cursor:pointer" class="ad_remove">Удалить</span>
                                        </span>
                                    </div>
                                    <div class="description">
                                        <p>{{ object.description|truncatechars:300 }}</p>
                                    </div>
                                    <div class="additional-info">
                                      <ul>
                                        <li>
                                          <figure>Категория</figure>
                                          <aside>
                                            <a href="{% url 'ad_category' cat_name=object.category.category.name_en %}">
                                            {{ object.category.category }}
                                            </a>
                                          </aside>
                                        </li>
                                        <li>
                                          <figure>Подкатегория</figure>
                                          <aside>
                                            <a href="{% url 'ad_subcategory' subcat_name=object.category.name_en %}">
                                              {{ object.category }}
                                            </a>
                                          </aside>
                                        </li>
                                      </ul>
                                    </div>
                                    <a href="{% url 'ad_detail' pk=object.pk %}" class="detail text-caps underline">Детали</a>
                                </div>
                              </div>
                              {% endfor %}
                              {% else %}
                              <h3 style="text-align:center">У Вас нет активных объявлений...</h3>
                              {% endif %}
                            </div>
                        </div>
                      </div>
                  </div>
          </section>
      </section>

{% endblock %}
