{% extends "bases/base.html" %}
{% load humanize %}

{% block title %}Мои анкеты{% endblock %}
{% block content %}

<section class="content love_content">
    <section class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    {% include 'user/nav.html' %}
                </div>
                <div class="col-md-9">
                  <h2>Мои анкеты</h2>
                  <div class="section-title clearfix">
                      <div class="float-right d-xs-none thumbnail-toggle">
                          <a href="#" class="change-class active" data-change-from-class="list" data-change-to-class="masonry" data-parent-class="items">
                              плитка
                          </a>
                          <a href="#" class="change-class " data-change-from-class="masonry" data-change-to-class="list" data-parent-class="items">
                              список
                          </a>
                      </div>
                  </div>
                  <div class="items compact masonry grid-xl-3-items grid-lg-2-items grid-md-2-items">

                    {% for object in object_list %}

                    {% if object.is_active %}
                    <div class="item">
                      <div class='purple ribbon-featured'>
                        <div class='ribbon-start'></div>
                        <div class='ribbon-content'>Активно</div>
                        <div class='ribbon-end'>
                          <figure class='ribbon-shadow'></figure>
                        </div>
                      </div>
                        <div class="wrapper" data-pk="{{ object.pk }}">
                          <div class="image">
                              <h3>
                                  <a href="{% url 'anketa_detail' pk=object.pk %}" class="title">{{ object.title }}</a>
                                  {% include 'generic/blocks/card_tag.html' %}
                              </h3>
                              <a href="{% url 'anketa_detail' pk=object.pk %}" class="image-wrapper background-image">
                                {% if object.image %}
                                  <img src="{{ object.image.url }}" alt="">
                                {% else %}
                                  <img src="/static/images/no_img.jpg" alt="">
                                {% endif %}
                              </a>
                          </div>
                            <h4 class="location">
                                <a href="{% url 'region' region_name=object.city.region.name_en %}">{{ object.city.region }}</a>,
                                <a href="{% url 'city' city_name=object.city.name_en %}">{{ object.city }}</a>
                            </h4>
                            <div class="admin-controls">
                              <span class="admin-span">
                                <a href="#">изменить</a>
                                <a href="#">
                                  <span class="anketa_unactive">деактивировать</span>
                                </a>
                                <a href="#">
                                  <span class="anketa_remove">удалить</span>
                                </a>
                              </span>
                            </div>
                            <div class="description">
                                <p>{{ object.about|truncatechars:300 }}</p>
                            </div>
                            <div class="additional-info">
                              <ul> </ul>
                            </div>
                            <a href="{% url 'anketa_detail' pk=object.pk %}" class="detail text-caps underline">Детали</a>
                        </div>
                    </div>

                    {% elif not object.is_active %}
                    <div class="item">
                      <div class='purple ribbon-featured'>
                        <div class='ribbon-start'></div>
                        <div class='ribbon-content'>Черновик</div>
                        <div class='ribbon-end'>
                          <figure class='ribbon-shadow'></figure>
                        </div>
                      </div>
                        <div class="wrapper" data-pk="{{ object.pk }}">
                            <div class="image">
                                <h3>
                                    <a href="{% url 'anketa_detail' pk=object.pk %}" class="title">{{ object.title }}</a>
                                    {% include 'generic/blocks/card_tag.html' %}
                                </h3>
                                <a href="{% url 'anketa_detail' pk=object.pk %}" class="image-wrapper background-image">
                                  {% if object.image %}
                                    <img src="{{ object.image.url }}" alt="">
                                  {% else %}
                                    <img src="/static/images/no_img.jpg" alt="">
                                  {% endif %}
                                </a>
                            </div>
                            <h4 class="location">
                                <a href="{% url 'region' region_name=object.city.region.name_en %}">{{ object.city.region }}</a>,
                                <a href="{% url 'city' city_name=object.city.name_en %}">{{ object.city }}</a>
                            </h4>
                            <div class="admin-controls">
                              <span class="admin-span">
                                <a href="#">изменить</a>
                                <a href="#">
                                  <span style="cursor:pointer" class="anketa_active">активировать</span>
                                </a>
                                <a href="#">
                                  <span style="cursor:pointer" class="anketa_remove">удалить</span>
                                </a>
                              </span>
                            </div>
                            <div class="description">
                                <p>{{ object.about|truncatechars:300 }}</p>
                            </div>
                            <div class="additional-info">
                              <ul> </ul>
                            </div>
                            <a href="{% url 'anketa_detail' pk=object.pk %}" class="detail text-caps underline">Детали</a>
                        </div>
                    </div>

                    {% else %}
                      <h3 style="text-align:center">У Вас нет анкет...</h3>
                    {% endif %}
                  {% endfor %}
                  </div>
              </div>
            </div>
        </div>
</section>
</section>

{% endblock %}
