{% extends "bases/base.html" %}
{% load humanize liked_user %}

{% block title %}Мои анкеты{% endblock %}
{% block content %}

<section class="content love_content">
    <section class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    {% include 'user/nav.html' %}
                </div>
                <div class="col-md-9">
                  <h2>Мои анкеты</h2>
                  <div class="section-title clearfix">
                      <div class="float-right d-xs-none thumbnail-toggle">
                          <a href="#" class="change-class active" data-change-from-class="list" data-change-to-class="masonry" data-parent-class="items">
                              плитка
                          </a>
                          <a href="#" class="change-class " data-change-from-class="masonry" data-change-to-class="list" data-parent-class="items">
                              список
                          </a>
                      </div>
                  </div>
                  <div class="items compact masonry grid-xl-3-items grid-lg-2-items grid-md-2-items">

                    {% for object in object_list %}

                    {% if object.is_active %}
                    <div class="item" data-pk="{{ object.pk }}">
                        <div class="ribbon-featured">Активно</div>
                        <div class="wrapper">
                          <div class="image">
                              <h3>
                                  <a href="{% url 'anketa_detail' pk=object.pk %}" class="title">{{ object.title }}</a>
                                  <span class="tag">
                                    <span>
                                      <svg fill="currentColor" class="svg_default" style="width:15px" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/></svg>
                                      <span>{{ object.all_visits_count }}</span> |
                                    </span>
                                    {% if not object.votes_off %}
                                    <span class="{% if object.likes|user_in:request.user %}btn_success{% else %}btn_default{% endif %}" title="Нравится">
                                      <svg style="width:15px" class="svg_default" fill="currentColor" viewBox="0 0 24 24">
                                        <path fill="none" d="M0 0h24v24H0V0z"/>
                                        <path d="M1 21h4V9H1v12zm22-11c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.59 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2z"/>
                                      </svg>
                                      <span>{{ object.likes.count }}</span> |
                                    </span>
                                    <span class="{% if object.dislikes|user_in:request.user %}btn_success{% else %}btn_default{% endif %}" title="Не нравится">
                                      <svg style="width:15px" class="svg_default" fill="currentColor" viewBox="0 0 24 24">
                                        <path fill="none" d="M0 0h24v24H0z"/>
                                        <path d="M15 3H6c-.83 0-1.54.5-1.84 1.22l-3.02 7.05c-.09.23-.14.47-.14.73v2c0 1.1.9 2 2 2h6.31l-.95 4.57-.03.32c0 .41.17.79.44 1.06L9.83 23l6.59-6.59c.36-.36.58-.86.58-1.41V5c0-1.1-.9-2-2-2zm4 0v12h4V3h-4z"/>
                                      </svg>
                                      <span>{{ object.dislikes.count }}</span>
                                    </span>
                                    {% endif %}
                                  </span>
                              </h3>
                              <a href="{% url 'anketa_detail' pk=object.pk %}" class="image-wrapper background-image">
                                {% if object.image %}
                                  <img src="{{ object.image.url }}" alt="">
                                {% else %}
                                  <img src="/static/images/no_img.jpg" alt="">
                                {% endif %}
                              </a>
                          </div>
                            <h4 class="location">
                                <a href="{% url 'region' region_name=object.city.region.name_en %}">{{ object.city.region }}</a>,
                                <a href="{% url 'city' city_name=object.city.name_en %}">{{ object.city }}</a>
                            </h4>
                            <div class="admin-controls">
                                &nbsp;&nbsp;&nbsp;
                                <a href="#">Изменить</a>
                                <a href="#">
                                  <span class="anketa_unactive">Активно</span>
                                </a>
                                <a href="#">
                                  <span class="anketa_remove">Удалить</span>
                                </a>
                            </div>
                            <div class="description">
                                <p>{{ object.about|truncatechars:300 }}</p>
                            </div>
                            <div class="additional-info">
                              <ul> </ul>
                            </div>
                            <a href="{% url 'anketa_detail' pk=object.pk %}" class="detail text-caps underline">Детали</a>
                        </div>
                    </div>

                    {% elif not object.is_active %}
                    <div class="item" data-pk="{{ object.pk }}">
                        <div class="ribbon-featured">Черновик</div>
                        <div class="wrapper">
                            <div class="image">
                                <h3>
                                    <a href="{% url 'anketa_detail' pk=object.pk %}" class="title">{{ object.title }}</a>
                                    <span class="tag">
                                      <span>
                                        <svg fill="currentColor" class="svg_default" style="width:15px" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/></svg>
                                        <span>{{ object.all_visits_count }}</span> |
                                      </span>
                                      {% if not object.votes_off %}
                                      <span class="{% if object.likes|user_in:request.user %}btn_success{% else %}btn_default{% endif %}" title="Нравится">
                                        <svg style="width:15px" class="svg_default" fill="currentColor" viewBox="0 0 24 24">
                                          <path fill="none" d="M0 0h24v24H0V0z"/>
                                          <path d="M1 21h4V9H1v12zm22-11c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.59 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2z"/>
                                        </svg>
                                        <span>{{ object.likes.count }}</span> |
                                      </span>
                                      <span class="{% if object.dislikes|user_in:request.user %}btn_success{% else %}btn_default{% endif %}" title="Не нравится">
                                        <svg style="width:15px" class="svg_default" fill="currentColor" viewBox="0 0 24 24">
                                          <path fill="none" d="M0 0h24v24H0z"/>
                                          <path d="M15 3H6c-.83 0-1.54.5-1.84 1.22l-3.02 7.05c-.09.23-.14.47-.14.73v2c0 1.1.9 2 2 2h6.31l-.95 4.57-.03.32c0 .41.17.79.44 1.06L9.83 23l6.59-6.59c.36-.36.58-.86.58-1.41V5c0-1.1-.9-2-2-2zm4 0v12h4V3h-4z"/>
                                        </svg>
                                        <span>{{ object.dislikes.count }}</span>
                                      </span>
                                      {% endif %}
                                    </span>
                                </h3>
                                <a href="{% url 'anketa_detail' pk=object.pk %}" class="image-wrapper background-image">
                                  {% if object.image %}
                                    <img src="{{ object.image.url }}" alt="">
                                  {% else %}
                                    <img src="/static/images/no_img.jpg" alt="">
                                  {% endif %}
                                </a>
                            </div>
                            <h4 class="location">
                                <a href="{% url 'region' region_name=object.city.region.name_en %}">{{ object.city.region }}</a>,
                                <a href="{% url 'city' city_name=object.city.name_en %}">{{ object.city }}</a>
                            </h4>
                            <div class="admin-controls">
                                &nbsp;&nbsp;&nbsp;
                                <a href="#">Изменить</a>
                                <a href="#">
                                  <span style="cursor:pointer" class="anketa_active">Черновик</span>
                                </a>
                                <a href="#">
                                  <span style="cursor:pointer" class="anketa_remove">Удалить</span>
                                </a>
                            </div>
                            <div class="description">
                                <p>{{ object.about|truncatechars:300 }}</p>
                            </div>
                            <div class="additional-info">
                              <ul> </ul>
                            </div>
                            <a href="{% url 'anketa_detail' pk=object.pk %}" class="detail text-caps underline">Детали</a>
                        </div>
                    </div>

                    {% else %}
                      <h3 style="text-align:center">У Вас нет анкет...</h3>
                    {% endif %}
                  {% endfor %}
                  </div>
              </div>
            </div>
        </div>
</section>
</section>

{% endblock %}
