{% extends "bases/base.html" %}
{% load humanize %}

{% block title %}Черный список{% endblock %}
{% block content %}

<section class="content module_1">
    <section class="block">

        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    {% include 'user/nav.html' %}
                </div>
                <div class="col-md-9">
                  <h2>Черный список</h2>

                  <div class="section-title clearfix">
                    <div class="float-right d-xs-none thumbnail-toggle">
                      <a href="#" class="change-class active" data-change-from-class="list" data-change-to-class="masonry" data-parent-class="items">
                          плитка
                      </a>
                      <a href="#" class="change-class " data-change-from-class="masonry" data-change-to-class="list" data-parent-class="items">
                          список
                      </a>
                      </div>
                  </div>
                            <div class="items compact masonry grid-xl-3-items grid-lg-2-items grid-md-2-items">
                              {% for object in object_list %}
                              <div class="item author">
                                <div class="wrapper" data-pk="{{ object.pk }}">
                                <div class="image">
                                    <h3>
                                        <a href="{% url 'user' pk=object.pk %}" class="title">
                                          {{ object.get_full_name }}
                                        </a>
                                    </h3>
                                    <a href="{% url 'user' pk=object.pk %}" class="image-wrapper background-image">
                                      {% if object.avatar %}
                                        {{ object.avatar.url }}
                                      {% else %}
                                        <img src="/static/images/no_img.jpg" alt="">
                                      {% endif %}
                                    </a>
                                </div>
                                <h4 class="location">
                                    <a href="">{{ object.get_last_location.region_ru }}</a>,
                                    <a href="">{{ object.get_last_location.city_ru }}</a>
                                </h4>
                                <div class="admin-controls">
                                  <span class="admin-span">
                                    <a href="#">
                                      <span class="user_subscribe">Подписаться</span>
                                    </a>
                                    <a href="#">
                                      <span class="user_unblock">Разблокировать</span>
                                    </a>
                                  </span>
                                </div>
                                <div class="additional-info">
                                    <ul>
                                      <li>
                                          <figure>Телефон</figure>
                                          <aside>{{ object.phone }}</aside>
                                      </li>
                                      <li>
                                          <figure>Активность</figure>
                                          <aside>{% if object.get_online %}Онлайн {% else %} Был {{ object.last_activity }}{% endif %}</aside>
                                      </li>
                                    </ul>
                                </div>
                                <a href="{% url 'user' pk=object.pk %}" class="detail text-caps underline">Подробнее</a>
                            </div>
                        </div>
                        {% empty %}
                        <h3 style="text-align:center">Черный список пуст...</h3>
                    {% endfor %}

                            </div>
                        </div>
                      </div>
                  </div>
          </section>
      </section>
{% endblock %}
