{% extends "bases/base.html" %}
{% load staticfiles humanize thumbnail %}

{% block title %}Избранные товары{% endblock %}
{% block content %}

<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'main' %}">Главная</a></li>
  <li class="breadcrumb-item active">Мой профиль</li>
</ol>
</div>
</div>
</div>
</section>

<section class="content">
    <section class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    {% include 'user/nav.html' %}
                </div>
                <div class="col-md-9">
                            <div class="section-title clearfix">
                                <div class="float-right d-xs-none thumbnail-toggle">
                                    <a href="#" class="change-class active" data-change-from-class="list" data-change-to-class="masonry" data-parent-class="items">
                                        <i class="fa fa-th"></i>
                                    </a>
                                    <a href="#" class="change-class " data-change-from-class="masonry" data-change-to-class="list" data-parent-class="items">
                                        <i class="fa fa-th-list"></i>
                                    </a>
                                </div>
                            </div>
                            <div id="" class="items compact masonry grid-xl-3-items grid-lg-2-items grid-md-2-items">
                              {% if object_list %}

                              {% for object in object_list %}
                                <div class="item">
                                    <div class="ribbon-featured">Избранный</div>
                                    {% include 'generic/ad_wrapper.html' %}
                                </div>
                                {% endfor %}
                                {% else %}
                                <h3 style="text-align:center">У Вас нет активных объявлений...</h3>
                                {% endif %}
                            </div>
                        </div>
                      </div>
                  </div>
          </section>
      </section>

{% endblock %}
