{% extends "bases/base.html" %}
{% load humanize %}

{% block title %}Избранное{% endblock %}
{% block content %}

<section class="content">
    <section class="block">
        <div class="container module_1">
            <div class="row">
                <div class="col-md-3">
                    {% include 'user/nav.html' %}
                </div>
                <div class="col-md-9">
                            <div class="section-title clearfix">
                                <div class="float-right d-xs-none thumbnail-toggle">
                                  <a href="#" class="change-class " data-change-from-class="list" data-change-to-class="masonry" data-parent-class="items">
                                      плитка
                                  </a>
                                  <a href="#" class="change-class active" data-change-from-class="masonry" data-change-to-class="list" data-parent-class="items">
                                      список
                                  </a>
                                </div>
                            </div>
                            <h2>Избранное</h2>
                            <div id="" class="items compact list grid-xl-3-items grid-lg-2-items grid-md-2-items">

                              {% for object in request.user.get_my_favorite_ads %}
                                <div class="red item">
                                  <div class='ribbon-featured'>
                                    <div class='ribbon-start'></div>
                                    <div class='ribbon-content'>Объявление</div>
                                    <div class='ribbon-end'>
                                      <figure class='ribbon-shadow'></figure>
                                    </div>
                                  </div>
                                    <div class="wrapper" data-pk="{{ object.pk }}">
                                        <div class="image">
                                            <h3>
                                                <a href="{% url 'ad_detail' pk=object.pk %}" class="title">{{ object.title }}</a>
                                                {% include 'generic/blocks/card_tag.html' %}
                                            </h3>
                                            <a href="{% url 'ad_detail' pk=object.pk %}" class="image-wrapper background-image">
                                              {% if object.image %}
                                                <img src="{{ object.image.url }}" alt="">
                                              {% else %}
                                                <img src="/static/images/no_img.jpg" alt="">
                                              {% endif %}
                                            </a>
                                        </div>
                                        <h4 class="location">
                                            <a href="{% url 'region' region_name=object.city.region.name_en %}">{{ object.city.region }}</a>,
                                            <a href="{% url 'city' city_name=object.city.name_en %}">{{ object.city }}</a>
                                        </h4>
                                        <div class="price rubl">{{ object.price|intcomma }}</div>
                                        <div class="admin-controls">
                                          <span style="display: flex;align-items: center;justify-content: center;">
                                            <a href="#">
                                              <span class="module_unfavorite">Забыть</span>
                                            </a>
                                          </span>
                                        </div>
                                        <div class="description">
                                            <p>{{ object.description|truncatechars:300 }}</p>
                                        </div>
                                        <div class="additional-info">
                                          <ul>
                                            <li>
                                              <figure>Категория</figure>
                                              <aside>
                                                <a href="{% url 'ad_category' cat_name=object.category.category.name_en %}">
                                                {{ object.category.category }}
                                                </a>
                                              </aside>
                                            </li>
                                            <li>
                                              <figure>Подкатегория</figure>
                                              <aside>
                                                <a href="{% url 'ad_subcategory' subcat_name=object.category.name_en %}">
                                                  {{ object.category }}
                                                </a>
                                              </aside>
                                            </li>
                                          </ul>
                                        </div>
                                        <a href="{% url 'ad_detail' pk=object.pk %}" class="detail text-caps underline">Детали</a>
                                    </div>
                                </div>
                                {% endfor %}

                                {% for object in request.user.get_my_favorite_courses %}
                                <div class="item">
                                  <div class='green ribbon-featured'>
                                    <div class='ribbon-start'></div>
                                    <div class='ribbon-content'>Курс</div>
                                    <div class='ribbon-end'>
                                      <figure class='ribbon-shadow'></figure>
                                    </div>
                                  </div>
                                    <div class="wrapper" data-pk="{{ object.pk }}">
                                        <div class="image">
                                            <h3>
                                                <a href="{% url 'course_detail' pk=object.pk %}" class="title">{{ object.title }}</a>
                                                {% include 'generic/blocks/card_tag.html' %}
                                            </h3>
                                            <a href="{% url 'course_detail' pk=object.pk %}" class="image-wrapper background-image">
                                              {% if object.image %}
                                                <img src="{{ object.image.url }}" alt="">
                                              {% else %}
                                                <img src="/static/images/no_img.jpg" alt="">
                                              {% endif %}
                                            </a>
                                        </div>
                                        <h4 class="location">
                                          {% if object.city %}
                                            <a href="{% url 'region' region_name=object.city.region.name_en %}">{{ object.city.region }}</a>,
                                            <a href="{% url 'city' city_name=object.city.name_en %}">{{ object.city }}</a>
                                          {% endif %}
                                        </h4>
                                        <div class="price">{{ object.price|intcomma }}</div>
                                        <div class="admin-controls">
                                          <span style="display: flex;align-items: center;justify-content: center;">
                                            <a href="#">
                                              <span class="course_unfavorite">Забыть</span>
                                            </a>
                                          </span>
                                        </div>
                                        <div class="description">
                                            <p>{{ object.description|truncatechars:300 }}</p>
                                        </div>
                                        <div class="additional-info">
                                          <ul>
                                            <li>
                                              <figure>Категория</figure>
                                              <aside>
                                                <a href="{% url 'skill_category' cat_name=object.category.category.name_en %}">
                                                {{ object.category.category }}
                                                </a>
                                              </aside>
                                            </li>
                                            <li>
                                              <figure>Подкатегория</figure>
                                              <aside>
                                                <a href="{% url 'skill_subcategory' subcat_name=object.category.name_en %}">
                                                  {{ object.category }}
                                                </a>
                                              </aside>
                                            </li>
                                          </ul>
                                        </div>
                                        <a href="{% url 'course_detail' pk=object.pk %}" class="detail text-caps underline">Детали</a>
                                    </div>
                                </div>
                                  {% endfor %}

                                  {% for object in request.user.get_my_favorite_anketa %}
                                  <div class="item">
                                    <div class='purple ribbon-featured'>
                                      <div class='ribbon-start'></div>
                                      <div class='ribbon-content'>Анкета</div>
                                      <div class='ribbon-end'>
                                        <figure class='ribbon-shadow'></figure>
                                      </div>
                                    </div>
                                      <div class="wrapper" data-pk="{{ object.pk }}">
                                        <div class="image">
                                            <h3>
                                                <a href="{% url 'ad_detail' pk=object.pk %}" class="title">{{ object.title }}</a>
                                                {% include 'generic/blocks/card_tag.html' %}
                                            </h3>
                                            <a href="{% url 'anketa_detail' pk=object.pk %}" class="image-wrapper background-image">
                                              {% if object.image %}
                                                <img src="{{ object.image.url }}" alt="">
                                              {% else %}
                                                <img src="/static/images/no_img.jpg" alt="">
                                              {% endif %}
                                            </a>
                                        </div>
                                          <h4 class="location">
                                              <a href="{% url 'region' region_name=object.city.region.name_en %}">{{ object.city.region }}</a>,
                                              <a href="{% url 'city' city_name=object.city.name_en %}">{{ object.city }}</a>
                                          </h4>
                                          <div class="admin-controls">
                                            <span style="display: flex;align-items: center;justify-content: center;">
                                              <a href="#">
                                                <span class="anketa_unfavorite">Забыть</span>
                                              </a>
                                            </span>
                                          </div>
                                          <div class="description">
                                              <p>{{ object.about|truncatechars:300 }}</p>
                                          </div>
                                          <div class="additional-info">
                                            <ul>
                                              <li>
                                                <figure>Имя</figure>
                                                <aside>
                                                  <a href="{% url 'user' pk=object.creator.pk %}">
                                                  {{ object.creator.first_name }}
                                                  </a>
                                                </aside>
                                              </li>
                                              <li>
                                                <figure>Фамилия</figure>
                                                <aside>
                                                  <a href="{% url 'user' pk=object.creator.pk %}">
                                                    {{ object.creator.last_name }}
                                                  </a>
                                                </aside>
                                              </li>
                                            </ul>
                                          </div>
                                          <a href="{% url 'anketa_detail' pk=object.pk %}" class="detail text-caps underline">Детали</a>
                                      </div>
                                  </div>
                                {% endfor %}
                            </div>
                        </div>
                      </div>
                  </div>
          </section>
      </section>

{% endblock %}
