{% load staticfiles %}
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% block meta %}{% endblock %}
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'styles/fonts.css' %}" media="all" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" media="all" />
    <link rel="stylesheet" href="{% static 'styles/style2.css' %}" media="all" />

</head>
  <body>

    {% include "base_scripts.html" %}
  </body>
</html>
