<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, minimal-ui, shrink-to-fit=no, viewport-fit=cover">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/styles/style.css" media="all" />
    <link rel="stylesheet" href="/static/styles/style2.css" media="all" />
</head>

<body class="is_loading">
  {% include 'base_block/svg_top.html' %}

  <div class="resizing">
      <div class="resizing__title">Repainting artworks</div>
  </div>

  <div class="page-transition-curtains">
      <div class="page-transition-curtain page-transition-curtain--top"></div>
      <div class="page-transition-curtain page-transition-curtain--bottom"></div>
  </div>

  <a href="{% url 'main' %}" class="logo">
    <svg viewBox="0 0 340.8 100" enable-background="new 0 0 340.8 100" xml:space="preserve" class="svg-logo" preserveAspectRatio="none">
      <use x="0" y="0" href="#logo" xlink:href="#logo"></use>
    </svg>
  </a>

  <div class="header-overlay js-toggleMenu"></div>
  <div class="touch-header-overlay js-close-nav-dropdown"></div>

  {% include 'base_block/header.html' %}
  {% include 'base_block/menu_2.html' %}

  {% block content %}
  {% endblock %}

  <div id="video-modal-cont"></div>
  <script>
    window.BIA = window.BIA || {};
    BIA.BASE_URL = 'https://навык.рус';
    BIA.ROUTES = [];
  </script>
  <script src="/static/scripts/main.js" type="text/javascript"></script>

  </body>
</html>
