{% load staticfiles %}

<header class="hero">
    <div class="hero-wrapper">
        <div class="secondary-navigation">
            <div class="container">
              <nav class="left" id="nav">
                <p style="float:left;padding-top:5px;padding-right:10px">
                <a style="color:white" href="{% url 'main' %}">
                  Название
                </a>
                </p>
                <ul id="menu" style="background-color:#363636;color:black">
                  <li><i class="fa fa-bars"></i> Категории</li>

                </ul>
              </nav>
                <ul class="right" style="">
                  <span style="background-color:#363636;cursor:pointer">
                      {% if user.is_authenticated %}
                      <span style="">
                        Мой профиль
                      </span>
                      {% else %}
                      <span style="">
                        Войти
                      </span>
                      <img src="{% static 'images/anonim.jpg' %}" style="border-radius: 50%;width:30px;height:30px">
                      {% endif %}
                  </span>
              </ul>
            </div>
        </div>
