{% extends "bases/anon_base.html" %}
{% block title %}Россия :: объявления, {{ sub_category.name_ru }}{% endblock %}

{% block navigation %}
<div class="header_navigation container">
  <a class="get_russia" tooltip='Нажмите для смены локации' flow="down" href="#">Россия</a> /
  <a href="{% url 'ads_main' %}">Модуль объявлений</a> /
  <a href="{% url 'ad_category' cat_name=sub_category.category.name_en %}">{{ sub_category.category.name_ru }}</a> /
  <a>{{ sub_category.name_ru }}</a>
</div>
{% endblock %}

{% block content %}
<div class="page-title">
    <div class="container">
      <h1 class="opacity-40 center">
        Россия :: объявления <br> {{ sub_category.category.name_ru }}, {{ sub_category.name_ru }}
      </h1>
    </div>
</div>
{% include 'ad_subcat/hero_form.html' %}

<section class="content module_1">
  <section class="block">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
        {% if object_list %}

        <div class="section-title clearfix">
          <div class="float-right d-xs-none thumbnail-toggle">
            <a href="#" class="change-class active" data-change-from-class="list" data-change-to-class="masonry" data-parent-class="items">
                плитка
            </a>
            <a href="#" class="change-class " data-change-from-class="masonry" data-change-to-class="list" data-parent-class="items">
                список
            </a>
          </div>
        </div>
        <div class="items compact masonry grid-xl-3-items grid-lg-2-items grid-md-2-items">
            {% for object in object_list %}
              {% include 'generic/ads/anon_ad.html' %}
            {% endfor %}
          </div>

          {% else %}
          <h1 style="height:400px;text-align:center">
            <br><br><br><br><br>
            Пока нет объявлений :-)</h1>
          {% endif %}
      </div>

      <div class="col-md-3">
          <aside class="sidebar">
            Фильтры
          </aside>
      </div>
    </div>
</div>
  </section>
</section>

{% endblock %}
