{% include 'form_top.html' %}

<section>
  <div class="form-group">
    <label for="" class="col-form-label">Тип защиты</label>
    {{ form.type_protect.errors }}
    {{ form.type_protect }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Вид спорта</label>
    {{ form.type_sport.errors }}
    {{ form.type_sport }}
  </div>
  <br>
  <ul class="list-unstyled columns-1">
    <li>
      <label class="" style="font-size:15px">
        {{ form.for_kind }}
        {{ form.for_kind.label }}
      </label>
    </li>
  </ul>
</section>

{% include 'form_bottom.html' %}
