{% include 'form_top.html' %}

<section>
  <div class="form-group">
    <label for="" class="col-form-label">Тип компьютера</label>
    {{ form.type_comp.errors }}
    {{ form.type_comp }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Тип видеокарты</label>
    {{ form.video_card.errors }}
    {{ form.video_card }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Тип оптического привода</label>
    {{ form.type_drive.errors }}
    {{ form.type_drive }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Оперативная память</label>
    {{ form.operative.errors }}
    {{ form.operative }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Срок использования</label>
    {{ form.use.errors }}
    {{ form.use }}
  </div>

  <br>
  <ul class="list-unstyled columns-1">
    <li>
      <label class="" style="font-size:15px">
        {{ form.game }}
        {{ form.game.label }}
      </label>
    </li>
  </ul>
</section>

{% include 'form_bottom.html' %}
