{% include 'form_top.html' %}

<section>
  <div class="form-group">
    <label for="" class="col-form-label">Тип</label>
    {{ form.type_key.errors }}
    {{ form.type_key }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Тип подключения</label>
    {{ form.type_key.errors }}
    {{ form.type_key }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Бренд</label>
    {{ form.brand_key.errors }}
    {{ form.brand_key }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Разъем HDMI</label>
    {{ form.hdmi.errors }}
    {{ form.hdmi }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Срок использования</label>
    {{ form.use.errors }}
    {{ form.use }}
  </div>

  <br>
  <ul class="list-unstyled columns-1">
    <li>
      <label class="" style="font-size:15px">
        {{ form.game }}
        {{ form.game.label }}
      </label>
    </li>
  </ul>
</section>

{% include 'form_bottom.html' %}
