{% include 'form_top.html' %}

<section>
  <div class="form-group">
    <label for="" class="col-form-label">Тип ноутбука</label>
    {{ form.type_laptop.errors }}
    {{ form.type_laptop }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Марка ноутбука</label>
    {{ form.brand_laptop.errors }}
    {{ form.brand_laptop }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Диагональ экрана</label>
    {{ form.diagonal.errors }}
    {{ form.diagonal }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Оперативная память</label>
    {{ form.operative.errors }}
    {{ form.operative }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Срок использования</label>
    {{ form.use.errors }}
    {{ form.use }}
  </div>

  <br>
  <ul class="list-unstyled columns-1">
    <li>
      <label class="" style="font-size:15px">
        {{ form.game }}
        {{ form.game.label }}
      </label>
    </li>
  </ul>
</section>

{% include 'form_bottom.html' %}
