{% include 'form_top.html' %}

<section>
  <div class="form-group">
    <label for="" class="col-form-label">Тип монитора</label>
    {{ form.type_monitor.errors }}
    {{ form.type_monitor }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Марка монитора</label>
    {{ form.brand_monitor.errors }}
    {{ form.brand_monitor }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Диагональ экрана</label>
    {{ form.diagonal_mon.errors }}
    {{ form.diagonal_mon }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Разъем HDMI</label>
    {{ form.hdmi.errors }}
    {{ form.hdmi }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Срок использования</label>
    {{ form.use.errors }}
    {{ form.use }}
  </div>

  <br>
  <ul class="list-unstyled columns-1">
    <li>
      <label class="" style="font-size:15px">
        {{ form.dinam }}
        {{ form.dinam.label }}
      </label>
    </li>
    <li>
      <label class="" style="font-size:15px">
        {{ form.USB }}
        {{ form.USB.label }}
      </label>
    </li>
  </ul>
</section>

{% include 'form_bottom.html' %}
