{% extends "mob_bases/anon_base.html" %}
{% load humanize %}
{% block title %}Знакомства в г.{{ city.city_ru }}, {{ city.region.name_ru }}{% endblock %}

{% block content %}
<div class="page-title">
    <div class="container">
      <h1 class="opacity-40 center">
        <a href="{% url 'city' city_name=city.name_en %}">
          Россия, {{ city.name_ru }}
        </a>
        :: модуль знакомств
      </h1>
    </div>
</div>
{% include 'cities/anketa_form.html' %}

<section class="content love_content">
  <section class="block">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
        {% if object_list %}

        <div class="section-title clearfix">
          <div class="float-right d-xs-none thumbnail-toggle">
            <a href="#" class="change-class active" data-change-from-class="list" data-change-to-class="masonry" data-parent-class="items">
                плитка
            </a>
            <a href="#" class="change-class " data-change-from-class="masonry" data-change-to-class="list" data-parent-class="items">
                список
            </a>
          </div>
        </div>
        <div class="items compact masonry grid-xl-3-items grid-lg-2-items grid-md-2-items">
            {% for object in object_list %}
              {% include 'generic/ankets/anon_anketa.html' %}
            {% endfor %}
          </div>

          {% else %}
          <h1 style="height:400px;text-align:center">
            <br><br><br><br><br>
            Пока нет объявлений :-)</h1>
          {% endif %}

      </div>

      <div class="col-md-3">
          <aside class="sidebar">
            Фильтры
          </aside>
      </div>
    </div>
</div>
  </section>
</section>

{% endblock %}
