
<section>
    <h2>Основная информация</h2>

    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                {{ form.title.errors }}
              <label for="type" class="required">Название товара</label>
                {{ form.title }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                {{ form.price.errors }}
              <label for="type" class="required">Цена товара</label>
                {{ form.price }}
                <span class="input-group-addon">₽</span>
            </div>
        </div>
    </div>
</section>

<section>
  <div class="form-group">
    <label for="" class="col-form-label">Тип пиджака или костюма</label>
    {{ form.suits.errors }}
    {{ form.suits }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Размер</label>
    {{ form.size.errors }}
    {{ form.size }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Состояние</label>
    {{ form.condition.errors }}
    {{ form.condition }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Бренд</label>
    {{ form.brand.errors }}
    {{ form.brand }}
  </div>
  <div class="form-group">
    <label for="" class="col-form-label">Цвет</label>
    {{ form.color.errors }}
    {{ form.color }}
  </div>

    <div class="form-group">
    <label>Описание товара</label>
      {{ form.description|safe }}
    </div>

</section>
<div class="location_block">{% include 'location_select.html' %}</div>

{% include 'form_bottom.html' %}
