{% load status %}

<div class="item">
<div class="wrapper" data-pk="{{ object.pk }}">
    <div class="image">
        <h3>
            <a href="{% url 'ad_detail' pk=object.pk %}" class="title">{{ object.title }}</a>
            {% load 'generic/blocks/card_tag.html' %}
        </h3>
        <a href="{% url 'ad_detail' pk=object.pk %}" class="image-wrapper background-image">
          {% if object.image %}
            <img src="{{ object.image.url }}" alt="">
          {% else %}
            <img src="/static/images/no_img.jpg" alt="">
          {% endif %}
        </a>
    </div>
    <h4 class="location">
        <a href="{% url 'region' region_name=object.city.region.name_en %}">{{ object.city.region }}</a>,
        <a href="{% url 'city' city_name=object.city.name_en %}">{{ object.city }}</a>
    </h4>
    <div class="price"> {{ object.price }}</div>
    {% if request.user.pk != object.creator.pk %}
    <div class="admin-controls">
      <span style="display: flex;align-items: center;justify-content: center;">
        <a href="#">
          {% if request.user|is_ad_favorite:object.pk %}
            <span class="module_unfavorite">Забыть</span>
            {% else %}
            <span class="module_favorite">Запомнить</span>
          {% endif %}
        </a>
        <a href="#">
          <span class="module_claim">Пожаловаться</span>
        </a>
      </span>
        {% if request.user.is_ad_staff %}
      <span style="display: flex;align-items: center;justify-content: center;">
        <a href="#">
          <span class="module_staff_unactive">Неактивно</span>
        </a>
        <a href="#">
          <span class="module_staff_remove">Удалить</span>
        </a>
      </span>
        {% endif %}
    </div>
    {% endif %}
    <div class="description">
        <p>{{ object.description|truncatechars:300 }}</p>
    </div>
    <div class="additional-info">
      <ul>
        <li>
          <figure>Категория</figure>
          <aside>
            <a href="{% url 'ad_category' cat_name=object.category.category.name_en %}">
            {{ object.category.category }}
            </a>
          </aside>
        </li>
        <li>
          <figure>Подкатегория</figure>
          <aside>
            <a href="{% url 'ad_subcategory' subcat_name=object.category.name_en %}">
              {{ object.category }}
            </a>
          </aside>
        </li>
      </ul>
    </div>
    <a href="{% url 'ad_detail' pk=object.pk %}" class="detail text-caps underline">Детали</a>
</div>
</div>
