{% load status %}

<div class="item">
<div class="wrapper" data-pk="{{ object.pk }}">
    <div class="image">
        <h3>
            <a href="{% url 'ad_detail' pk=object.pk %}" class="title ajax">{{ object.title }}</a>
            {% include 'generic/blocks/card_tag.html' %}
        </h3>
        <a href="{% url 'ad_detail' pk=object.pk %}" class="image-wrapper background-image ajax">
          {% if object.image %}
            <img src="{{ object.image.url }}" alt="">
          {% else %}
            <img src="/static/images/no_img.jpg" alt="">
          {% endif %}
        </a>
    </div>
    <h4 class="location">
        <a href="{% url 'region' region_name=object.city.region.name_en %}" class="ajax">{{ object.city.region }}</a>,
        <a href="{% url 'city' city_name=object.city.name_en %}" class="ajax">{{ object.city }}</a>
    </h4>
    <div class="price"> {{ object.price }}</div>
    {% if request.user.pk != object.creator.pk %}
    <div class="admin-controls">
      <span class="admin-span">
        <a href="#">
          {% if request.user|is_ad_favorite:object.pk %}
            <span class="module_unfavorite">забыть</span>
            {% else %}
            <span class="module_favorite">запомнить</span>
          {% endif %}
        </a>
        <a href="#">
          <span class="module_claim">пожаловаться</span>
        </a>
      </span>
        {% if request.user.is_ad_staff %}
      <span class="admin-span">
        <a href="#">
          <span class="module_staff_unactive">деактивировать</span>
        </a>
        <a href="#">
          <span class="module_staff_remove">удалить</span>
        </a>
      </span>
        {% endif %}
    </div>
    {% endif %}
    <div class="description">
        <p>{{ object.description|truncatechars:300 }}</p>
    </div>
    <div class="additional-info">
      <ul>
        <li>
          <figure>Категория</figure>
          <aside>
            <a href="{% url 'ad_category' cat_name=object.category.category.name_en %}" class="ajax">
            {{ object.category.category }}
            </a>
          </aside>
        </li>
        <li>
          <figure>Подкатегория</figure>
          <aside>
            <a href="{% url 'ad_subcategory' subcat_name=object.category.name_en %}" class="ajax">
              {{ object.category }}
            </a>
          </aside>
        </li>
      </ul>
    </div>
    <a href="{% url 'ad_detail' pk=object.pk %}" class="detail text-caps underline ajax">Детали</a>
</div>
</div>
